Repository celeritas-project/celeritas, pull requests merged in 2021-04, with the labels that each got.

#203 Update MaterialParams to store different materials with same name
  src/physics/material/MaterialParams.cc
  test/physics/material/Material.test.cc
Labels: material

#204 Add Seltzer-Berger energy distribution
  doc/CMakeLists.txt
  doc/_static/macros.tex
  src/base/Constants.hh
  src/field/RungeKuttaStepper.i.hh
  src/physics/em/EPlusGGMacroXsCalculator.i.hh
  src/physics/em/SeltzerBergerModel.hh
  src/physics/em/detail/SBEnergyDistribution.hh
  src/physics/em/detail/SBEnergyDistribution.i.hh
  src/physics/em/detail/SBPositronXsCorrector.hh
  src/physics/em/detail/SBPositronXsCorrector.i.hh
  src/physics/material/detail/Utils.cc
  test/base/Constants.test.cc
  test/physics/em/SeltzerBerger.test.cc
Labels: physics

#196 Configure CUDA CI vecgeom with ROOT support
  .jenkins
  scripts/docker/ci/Dockerfile
Labels: geometry, infrastructure

#205 Simplify RNG counter reset for physics unit tests
  test/physics/InteractorHostTestBase.hh
  test/physics/em/BetheHeitler.test.cc
  test/physics/em/EPlusGG.test.cc
  test/physics/em/KleinNishina.test.cc
  test/physics/em/LivermorePE.test.cc
  test/physics/em/MollerBhabha.test.cc
  test/physics/em/Rayleigh.test.cc
  test/physics/em/SeltzerBerger.test.cc
Labels: infrastructure

#207 Fix SB positron derivation and improve autoformatting of CELER_VALIDATE
  src/base/Assert.cc
  src/base/Assert.hh
  src/base/detail/CollectionImpl.hh
  src/comm/Communicator.cc
  src/io/AtomicRelaxationReader.cc
  src/io/LivermorePEReader.cc
  src/io/SeltzerBergerReader.cc
  src/physics/base/ImportedProcessAdapter.cc
  src/physics/base/ParticleTrackView.i.hh
  src/physics/base/PhysicsParams.cc
  src/physics/em/BetheHeitlerModel.cc
  src/physics/em/EPlusGGModel.cc
  src/physics/em/KleinNishinaModel.cc
  src/physics/em/LivermorePEModel.cc
  src/physics/em/MollerBhabhaModel.cc
  src/physics/em/RayleighModel.cc
  src/physics/em/SeltzerBergerModel.cc
  src/physics/em/detail/SBPositronXsCorrector.hh
  src/physics/em/detail/SBPositronXsCorrector.i.hh
  src/sim/TrackInitializerStore.cc
  test/physics/base/Physics.test.cc
Labels: documentation

#208 Interactor tweaks
  src/base/Algorithms.hh
  src/physics/em/RayleighModel.cc
  src/physics/em/detail/BetheHeitlerInteractor.i.hh
  src/physics/em/detail/KleinNishinaInteractor.i.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/MollerBhabhaInteractor.i.hh
  src/physics/em/detail/MollerEnergyDistribution.i.hh
  src/physics/em/detail/Rayleigh.hh
  src/physics/em/detail/RayleighInteractor.hh
  src/physics/em/detail/RayleighInteractor.i.hh
  test/base/Algorithms.test.cc
  test/physics/em/BetheHeitler.test.cc
Labels: physics

#216 Enable Rayleigh test and fix outgoing energy
  src/physics/em/detail/RayleighInteractor.i.hh
  test/CMakeLists.txt
Labels: bug, physics

#215 Use CutoffView in atomic relaxation
  src/io/AtomicRelaxationReader.cc
  src/io/AtomicRelaxationReader.hh
  src/io/ImportAtomicRelaxation.hh
  src/physics/base/CutoffParams.hh
  src/physics/base/CutoffView.hh
  src/physics/base/CutoffView.i.hh
  src/physics/em/AtomicRelaxation.hh
  src/physics/em/AtomicRelaxation.i.hh
  src/physics/em/AtomicRelaxationHelper.hh
  src/physics/em/AtomicRelaxationHelper.i.hh
  src/physics/em/AtomicRelaxationInterface.hh
  src/physics/em/AtomicRelaxationParams.cc
  src/physics/em/AtomicRelaxationParams.hh
  src/physics/em/detail/LivermorePE.cu
  src/physics/em/detail/LivermorePEInteractor.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/MollerBhabha.cu
  src/physics/em/detail/MollerBhabhaInteractor.i.hh
  test/io/RootImporter.test.cc
  test/physics/base/CutoffParams.test.cc
  test/physics/em/LivermorePE.test.cc
  test/physics/em/MollerBhabha.test.cc
Labels: physics

#209 Correct the sampling of discrete interactions for energy loss
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.cc
  src/physics/base/PhysicsParams.hh
  src/physics/base/PhysicsStepUtils.hh
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/base/PhysicsTrackView.hh
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/grid/XsCalculator.hh
  src/physics/grid/XsCalculator.i.hh
  test/physics/base/MockProcess.cc
  test/physics/base/MockProcess.hh
  test/physics/base/Physics.test.cc
  test/physics/base/PhysicsStepUtils.test.cc
  test/physics/base/PhysicsTestBase.cc
  test/physics/grid/XsCalculator.test.cc
Labels: physics

#211 Clarify Livermore sampling algorithm
  interface/celeritas.i
  src/physics/em/LivermorePEModel.cc
  src/physics/em/detail/LivermorePE.hh
  src/physics/em/detail/LivermorePEInteractor.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.i.hh
  test/physics/em/ImportedProcesses.test.cc
  test/physics/em/LivermorePE.test.cc
Labels: physics

#218 Remove disabled physics interactors
  src/physics/em/detail/BetheBloch.hh
  src/physics/em/detail/BetheBlochInteractor.hh
  src/physics/em/detail/BetheBlochInteractor.i.hh
  src/physics/em/detail/BremRel.hh
  src/physics/em/detail/BremRelInteractor.hh
  src/physics/em/detail/BremRelInteractor.i.hh
  src/physics/em/detail/Urban.hh
  src/physics/em/detail/UrbanInteractor.hh
  src/physics/em/detail/UrbanInteractor.i.hh
  src/physics/em/detail/Wentzel.hh
  src/physics/em/detail/WentzelInteractor.hh
  src/physics/em/detail/WentzelInteractor.i.hh
  test/CMakeLists.txt
  test/physics/em/BetheBloch.test.cc
  test/physics/em/BremRel.test.cc
  test/physics/em/Urban.test.cc
  test/physics/em/Wentzel.test.cc
Labels: physics

#217 Add random selector helper class
  src/base/Range.hh
  src/base/detail/RangeImpl.hh
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/em/AtomicRelaxation.hh
  src/physics/em/AtomicRelaxation.i.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/Rayleigh.cu
  src/physics/em/detail/RayleighInteractor.i.hh
  src/physics/material/ElementSelector.hh
  src/physics/material/ElementSelector.i.hh
  src/random/Selector.hh
  src/random/Selector.i.hh
  test/CMakeLists.txt
  test/physics/material/ElementSelector.test.cc
  test/random/RngEngine.test.cc
  test/random/Selector.test.cc
  test/random/SequenceEngine.hh
  test/random/SequenceEngine.i.hh
Labels: infrastructure

#219 Use a non-OpaqueId class for PDGNumber
  app/geant-exporter/geant-exporter.cc
  src/physics/base/PDGNumber.hh
  src/physics/base/ParticleParams.cc
Labels: infrastructure

#210 Simplify data export/import process
  app/CMakeLists.txt
  app/demo-loop/LDemoParams.cc
  app/geant-exporter/GeantPhysicsTableWriter.hh
  app/geant-exporter/ImportProcessConverter.cc
  app/geant-exporter/ImportProcessConverter.hh
  app/geant-exporter/PrimaryGeneratorAction.cc
  app/geant-exporter/PrimaryGeneratorAction.hh
  app/geant-exporter/geant-exporter-cat.cc
  app/geant-exporter/geant-exporter.cc
  interface/celeritas.i
  src/CMakeLists.txt
  src/io/GdmlGeometryMap.cc
  src/io/GdmlGeometryMap.hh
  src/io/GdmlGeometryMapTypes.hh
  src/io/ImportData.hh
  src/io/ImportElement.hh
  src/io/ImportMaterial.hh
  src/io/ImportParticle.hh
  src/io/ImportPhysicsTable.hh
  src/io/ImportPhysicsVector.hh
  src/io/ImportProcess.hh
  src/io/ImportVolume.hh
  src/io/RootImporter.cc
  src/io/RootImporter.hh
  src/io/RootImporter.noroot.cc
  src/io/RootInterfaceLinkDef.h
  src/physics/base/CutoffInterface.hh
  src/physics/base/CutoffParams.cc
  src/physics/base/CutoffParams.hh
  src/physics/base/ImportedProcessAdapter.cc
  src/physics/base/ImportedProcessAdapter.hh
  src/physics/base/ParticleParams.cc
  src/physics/base/ParticleParams.hh
  src/physics/material/MaterialParams.cc
  src/physics/material/MaterialParams.hh
  test/CMakeLists.txt
  test/geometry/GeoMaterial.test.cc
  test/geometry/data/four-steel-slabs.gdml
  test/gtest/detail/Macros.hh
  test/io/RootImporter.test.cc
  test/io/data/geant-exporter-data.root
  test/physics/base/CutoffParams.test.cc
  test/physics/base/Particle.test.cc
  test/physics/em/ImportedProcesses.test.cc
  test/physics/material/Material.test.cc
Labels: infrastructure, integration
