Repository celeritas-project/celeritas, pull requests merged in 2021-03, with the labels that each got.

#156 Some performance tweaks from CHEP paper
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/KNDemoIO.cc
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-interactor/KernelUtils.hh
  app/demo-interactor/simple-driver.py
  scripts/build/wildstyle.sh
  src/base/SpanIO.hh
  test/base/Span.test.cc
  test/physics/InteractionIO.cc
Labels: integration

#159 Atomic relaxation updates
  src/CMakeLists.txt
  src/base/StackAllocatorView.i.hh
  src/physics/em/AtomicRelaxation.hh
  src/physics/em/AtomicRelaxation.i.hh
  src/physics/em/AtomicRelaxationHelper.hh
  src/physics/em/AtomicRelaxationHelper.i.hh
  src/physics/em/AtomicRelaxationInterface.hh
  src/physics/em/AtomicRelaxationParams.cc
  src/physics/em/AtomicRelaxationParams.hh
  src/physics/em/LivermorePEMacroXsCalculator.i.hh
  src/physics/em/LivermorePEModel.cc
  src/physics/em/LivermorePEModel.hh
  src/physics/em/PhotoelectricProcess.cc
  src/physics/em/PhotoelectricProcess.hh
  src/physics/em/detail/LivermorePE.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/Utils.cc
  src/physics/em/detail/Utils.hh
  test/physics/em/LivermorePE.test.cc
Labels: physics

#161 Fix allocation of zero elements with StackAllocatorView
  src/base/StackAllocatorView.i.hh
  src/physics/em/AtomicRelaxationHelper.i.hh
  test/sim/TrackInitializerStore.test.hh
Labels: bug

#162 Use 32-bit size for stack allocator
  app/demo-interactor/DetectorInterface.hh
  app/demo-rasterizer/ImageIO.hh
  src/base/Array.hh
  src/base/ArrayIO.hh
  src/base/ArrayUtils.hh
  src/base/ArrayUtils.i.hh
  src/base/Collection.hh
  src/base/CollectionBuilder.hh
  src/base/CollectionMirror.hh
  src/base/CollectionStateStore.hh
  src/base/CollectionTypes.hh
  src/base/MiniStack.hh
  src/base/OpaqueId.hh
  src/base/StackAllocatorInterface.hh
  src/base/StackAllocatorStore.hh
  src/base/StackAllocatorView.hh
  src/base/StackAllocatorView.i.hh
  src/base/Types.hh
  src/base/detail/CollectionImpl.hh
  src/comm/Device.cc
  src/comm/Device.hh
  src/geometry/Types.hh
  src/io/GdmlGeometryMap.cc
  src/io/GdmlGeometryMap.hh
  src/physics/em/AtomicRelaxationParams.cc
  src/physics/em/LivermorePEParams.cc
  src/physics/grid/XsGridInterface.hh
  src/physics/material/ElementSelector.i.hh
  src/random/cuda/RngEngine.hh
  src/sim/TrackInitializerStore.cc
  test/io/EventReader.test.cc
  test/physics/grid/GridIdFinder.test.cc
Labels: infrastructure, integration

#168 Improve rasterizer driver
  app/CMakeLists.txt
  app/demo-rasterizer/simple-driver.py
Labels: bug, geometry

#166 Implement select_process_and_model
  src/physics/base/PhysicsStepUtils.hh
  src/physics/base/PhysicsStepUtils.i.hh
  test/physics/base/PhysicsStepUtils.test.cc
  test/physics/base/PhysicsTestBase.hh
Labels: physics

#177 Add 2D grid with bilinear interpolation
  src/base/Range.hh
  src/base/detail/RangeImpl.hh
  src/physics/grid/TwodGridCalculator.hh
  src/physics/grid/TwodGridCalculator.i.hh
  src/physics/grid/TwodGridInterface.hh
  test/CMakeLists.txt
  test/base/Collection.test.cc
  test/base/Range.test.cc
  test/physics/grid/TwodGridCalculator.test.cc
Labels: physics

#178 Fix documentation
  doc/CMakeLists.txt
  scripts/docker/dev/bionic-minimal.yaml
  scripts/docker/dev/focal-cuda11.yaml
  src/base/Assert.hh
  src/comm/ScopedMpiInit.cc
  src/physics/em/EPlusGGMacroXsCalculator.i.hh
  src/physics/em/detail/BetheHeitlerInteractor.hh
  src/physics/em/detail/LivermorePE.hh
  src/physics/grid/RangeCalculator.hh
Labels: documentation

#179 Improve helper functions and organization
  src/base/Types.hh
  src/physics/base/Types.hh
  src/physics/em/LivermoreXsCalculator.hh
  src/physics/em/LivermoreXsCalculator.i.hh
  src/physics/grid/Interpolator.hh
  src/physics/grid/Interpolator.i.hh
  src/physics/grid/InverseRangeCalculator.i.hh
  src/physics/grid/RangeCalculator.i.hh
  src/physics/grid/TwodGridCalculator.hh
  src/physics/grid/TwodGridCalculator.i.hh
  src/physics/grid/TwodGridInterface.hh
  src/physics/grid/TwodSubgridCalculator.hh
  src/physics/grid/TwodSubgridCalculator.i.hh
  src/physics/grid/UniformGrid.hh
  src/physics/grid/ValueGridBuilder.hh
  src/physics/grid/XsCalculator.i.hh
  src/physics/grid/XsGridInterface.hh
  src/physics/grid/detail/FindInterp.hh
  src/physics/grid/detail/InterpolatorTraits.hh
  src/random/distributions/BernoulliDistribution.i.hh
  src/random/distributions/ExponentialDistribution.hh
  src/random/distributions/GenerateCanonical.hh
  src/random/distributions/IsotropicDistribution.hh
  src/random/distributions/RadialDistribution.hh
  src/random/distributions/RadialDistribution.i.hh
  src/random/distributions/UniformRealDistribution.hh
  test/CMakeLists.txt
  test/physics/grid/CalculatorTestBase.cc
  test/physics/grid/Interpolator.test.cc
  test/physics/grid/TwodGridCalculator.test.cc
  test/physics/grid/XsCalculator.test.cc
Labels: infrastructure, physics

#184 Load cross sections into Processes
  src/CMakeLists.txt
  src/base/Array.hh
  src/base/EnumArray.hh
  src/base/SoftEqual.hh
  src/comm/Communicator.cc
  src/physics/base/ImportedProcessAdapter.cc
  src/physics/base/ImportedProcessAdapter.hh
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.cc
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/base/Process.hh
  src/physics/em/ComptonProcess.cc
  src/physics/em/ComptonProcess.hh
  src/physics/em/PhotoelectricProcess.cc
  src/physics/em/PhotoelectricProcess.hh
  src/physics/grid/ValueGridBuilder.cc
  src/physics/grid/ValueGridBuilder.hh
  src/physics/grid/ValueGridInterface.cc
  src/physics/grid/ValueGridInterface.hh
  src/physics/material/MaterialParams.hh
  src/physics/material/MaterialParams.i.hh
  test/CMakeLists.txt
  test/base/Array.test.cc
  test/base/SoftEqual.test.cc
  test/io/RootImporter.test.cc
  test/io/data/geant-exporter-data.root
  test/physics/base/MockProcess.cc
  test/physics/em/ImportedProcesses.test.cc
  test/physics/em/LivermorePE.test.cc
  test/physics/material/Material.test.cc
Labels: physics

#167 Line propagation updates
  app/demo-rasterizer/RDemoKernel.cu
  src/geometry/GeoTrackView.hh
  src/geometry/GeoTrackView.i.hh
  src/geometry/LinearPropagator.hh
  src/geometry/LinearPropagator.i.hh
  test/geometry/GeoTrackView.test.cc
  test/geometry/GeoTrackView.test.cu
  test/geometry/LinearPropagator.test.cc
  test/geometry/LinearPropagator.test.cu
Labels: geometry

#185 Use Collection for Livermore photoelectric backend
  src/CMakeLists.txt
  src/io/ImportLivermorePE.hh
  src/io/LivermorePEReader.cc
  src/io/LivermorePEReader.hh
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.cc
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/em/EPlusGGMacroXsCalculator.i.hh
  src/physics/em/LivermorePEInterface.hh
  src/physics/em/LivermorePEModel.cc
  src/physics/em/LivermorePEModel.hh
  src/physics/em/LivermorePEParams.cc
  src/physics/em/LivermorePEParams.hh
  src/physics/em/LivermoreXsCalculator.i.hh
  src/physics/em/PhotoelectricProcess.cc
  src/physics/em/PhotoelectricProcess.hh
  src/physics/em/detail/LivermorePE.cu
  src/physics/em/detail/LivermorePE.hh
  src/physics/em/detail/LivermorePEInteractor.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.i.hh
  src/physics/grid/GenericXsCalculator.hh
  src/physics/grid/GenericXsCalculator.i.hh
  test/CMakeLists.txt
  test/gtest/detail/PrintableValueTraits.hh
  test/physics/em/ImportedProcesses.test.cc
  test/physics/em/LivermorePE.test.cc
  test/physics/grid/CalculatorTestBase.hh
  test/physics/grid/GenericXsCalculator.test.cc
Labels: infrastructure, physics

#189 Fix non-constexpr numeric limits on CUDA device
  src/base/NumericLimits.hh
  src/base/Quantity.hh
  src/physics/base/PhysicsStepUtils.i.hh
  test/CMakeLists.txt
  test/base/NumericLimits.test.cc
  test/base/NumericLimits.test.hh
Labels: infrastructure

#190 Reduce cmake duplication for linking against vecgeom
  app/CMakeLists.txt
  cmake/CeleritasUtils.cmake
  src/CMakeLists.txt
  test/CMakeLists.txt
Labels: geometry, infrastructure

#193 Extend Collection documentation and add doxygen main page
  app/demo-interactor/KNDemoKernel.hh
  doc/CMakeLists.txt
  doc/_static/celeritas-logo.png
  doc/_static/celeritas-thumbnail.png
  src/base/Collection.hh
  src/base/CollectionBuilder.hh
  src/base/CollectionMirror.hh
  src/base/CollectionStateStore.hh
  src/physics/base/CutoffInterface.hh
  src/physics/base/ParticleInterface.hh
  src/physics/base/PhysicsInterface.hh
  src/physics/em/detail/LivermorePE.hh
  src/physics/em/detail/SeltzerBerger.hh
  src/physics/grid/InverseRangeCalculator.hh
  src/physics/grid/RangeCalculator.hh
  src/physics/grid/detail/FindInterp.hh
  src/physics/material/MaterialInterface.hh
  test/base/Collection.test.cc
Labels: documentation

#195 Simplify Moller-Bhabha test harness
  test/physics/em/MollerBhabha.test.cc
Labels: physics

#198 Move GeoMaterialParams/View to main source code and fill in missing pieces
  app/CMakeLists.txt
  app/demo-loop/GeoMaterialParams.cc
  app/demo-loop/LDemoInterface.hh
  app/demo-loop/LDemoParams.hh
  src/CMakeLists.txt
  src/geometry/GeoMaterialInterface.hh
  src/geometry/GeoMaterialParams.cc
  src/geometry/GeoMaterialParams.hh
  src/geometry/GeoMaterialView.hh
  test/CMakeLists.txt
  test/geometry/GeoMaterial.test.cc
Labels: geometry, integration

#199 Refactor RNG to use collections for state management
  app/CMakeLists.txt
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-loop/LDemoInterface.hh
  app/demo-loop/LDemoKernel.cu
  scripts/dev/celeritas-gen.py
  src/CMakeLists.txt
  src/physics/base/ModelInterface.hh
  src/physics/em/detail/BetheHeitler.cu
  src/physics/em/detail/EPlusGG.cu
  src/physics/em/detail/KleinNishina.cu
  src/physics/em/detail/LivermorePE.cu
  src/physics/em/detail/MollerBhabha.cu
  src/random/RngEngine.hh
  src/random/RngEngine.i.hh
  src/random/RngInterface.cc
  src/random/RngInterface.hh
  src/random/RngParams.hh
  src/random/cuda/RngInterface.hh
  src/random/cuda/RngStateStore.cc
  src/random/cuda/RngStateStore.hh
  src/random/cuda/curand.nocuda.hh
  src/random/detail/RngStateInit.cu
  src/random/detail/RngStateInit.hh
  src/random/detail/RngStateInit.nocuda.cc
  src/random/detail/curand.nocuda.cc
  src/random/detail/curand.nocuda.hh
  src/sim/StateStore.cc
  src/sim/StateStore.hh
  src/sim/TrackInterface.hh
  test/CMakeLists.txt
  test/random/RngEngine.test.cc
  test/random/RngEngine.test.cu
  test/random/RngEngine.test.hh
  test/random/cuda/RngEngine.test.cu
Labels: infrastructure

#194 Add secondary cutoff energy threshold to the Moller-Bhabha interactor
  src/physics/base/Interaction.hh
  src/physics/base/ModelInterface.hh
  src/physics/em/MollerBhabhaModel.cc
  src/physics/em/detail/MollerBhabha.cu
  src/physics/em/detail/MollerBhabha.hh
  src/physics/em/detail/MollerBhabhaInteractor.hh
  src/physics/em/detail/MollerBhabhaInteractor.i.hh
  src/physics/em/detail/MollerEnergyDistribution.hh
  src/sim/Action.hh
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/em/BetheBloch.test.cc
  test/physics/em/BetheHeitler.test.cc
  test/physics/em/BremRel.test.cc
  test/physics/em/EPlusGG.test.cc
  test/physics/em/KleinNishina.test.cc
  test/physics/em/LivermorePE.test.cc
  test/physics/em/MollerBhabha.test.cc
  test/physics/em/Rayleigh.test.cc
  test/physics/em/SeltzerBerger.test.cc
  test/physics/em/Urban.test.cc
  test/physics/em/Wentzel.test.cc
Labels: physics
