Repository celeritas-project/celeritas, pull requests merged in 2021-02, with the labels that each got.

#129 Add expectations for pass-by-pointer mutable references
  src/base/ArrayUtils.i.hh
  src/base/Atomics.hh
  src/base/Memory.cu
  src/base/TypeDemangler.cc
  src/comm/detail/LoggerMessage.cc
  src/physics/grid/ValueGridBuilder.cc
  src/physics/grid/ValueGridBuilder.hh
  src/physics/grid/XsGridInterface.hh
Labels: infrastructure

#133 Apply clang-format
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/HostKNDemoRunner.hh
  app/demo-interactor/HostStackAllocatorStore.hh
  app/demo-interactor/KNDemoRunner.hh
  app/geant-exporter/DetectorConstruction.hh
  app/geant-exporter/geant-exporter.cc
  scripts/dev/celeritas-gen.py
  scripts/dev/clang-reformat-everything.sh
  src/base/DeviceAllocation.hh
  src/base/DeviceVector.hh
  src/base/StackAllocatorView.hh
  src/geometry/GeoTrackView.hh
  src/geometry/detail/VGNavStateStore.hh
  src/io/EventReader.cc
  src/io/EventReader.hh
  src/io/RootImporter.hh
  src/physics/base/Interaction.hh
  src/physics/base/ParticleParams.cc
  src/physics/em/BetheBlochInteractor.i.hh
  src/physics/em/BremRelInteractor.i.hh
  src/physics/em/MollerBhabhaInteractor.i.hh
  src/physics/em/RayleighInteractor.i.hh
  src/physics/em/UrbanInteractor.i.hh
  src/physics/em/WentzelInteractor.i.hh
  src/physics/em/detail/LivermorePE.cu
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/material/MaterialParams.hh
  src/sim/detail/InitializeTracks.cu
  test/base/ArrayUtils.test.cc
  test/base/HostStackAllocatorStore.hh
  test/base/Range.test.hh
  test/io/EventReader.test.cc
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/grid/ValueGridStore.test.cc
  test/sim/TrackInitializerStore.test.cc
  test/sim/TrackInitializerStore.test.hh
Labels: infrastructure

#135 Normalize type aliases in DeviceAllocation/DeviceVector and add data()
  src/base/DeviceAllocation.cuda.cc
  src/base/DeviceAllocation.hh
  src/base/DeviceAllocation.i.hh
  src/base/DeviceAllocation.nocuda.cc
  src/base/DeviceVector.hh
  src/base/DeviceVector.i.hh
  test/base/DeviceVector.test.cc
Labels: infrastructure

#131 Add helper class to reduce code duplication and improve type safety
  scripts/dev/celeritas-gen.py
  src/base/DeviceAllocation.hh
  src/base/DeviceVector.hh
  src/base/OpaqueId.hh
  src/base/Pie.hh
  src/base/Pie.i.hh
  src/base/PieBuilder.hh
  src/base/PieBuilder.i.hh
  src/base/PieTypes.hh
  src/base/Span.hh
  src/base/Types.hh
  src/base/detail/PieImpl.hh
  test/CMakeLists.txt
  test/base/DeviceVector.test.cc
  test/base/Pie.test.cc
  test/base/Pie.test.cu
  test/base/Pie.test.hh
Labels: infrastructure

#136 Use Pie backend for material params
  src/CMakeLists.txt
  src/physics/base/ModelInterface.hh
  src/physics/material/ElementView.hh
  src/physics/material/MaterialInterface.hh
  src/physics/material/MaterialParams.cc
  src/physics/material/MaterialParams.hh
  src/physics/material/MaterialParams.i.hh
  src/physics/material/MaterialStateStore.cc
  src/physics/material/MaterialStateStore.hh
  src/physics/material/MaterialTrackView.hh
  src/physics/material/MaterialView.hh
  src/physics/material/MaterialView.i.hh
  src/sim/TrackInterface.hh
  test/io/RootImporter.test.cc
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/material/ElementSelector.test.cc
  test/physics/material/Material.test.cc
  test/physics/material/Material.test.cu
  test/physics/material/Material.test.hh
Labels: infrastructure, material

#134 Add atomic relaxation
  src/CMakeLists.txt
  src/base/MiniStack.hh
  src/base/SoftEqual.hh
  src/io/AtomicRelaxationReader.cc
  src/io/AtomicRelaxationReader.hh
  src/io/LivermorePEParamsReader.cc
  src/physics/base/Types.hh
  src/physics/em/AtomicRelaxation.hh
  src/physics/em/AtomicRelaxation.i.hh
  src/physics/em/AtomicRelaxationHelper.hh
  src/physics/em/AtomicRelaxationHelper.i.hh
  src/physics/em/AtomicRelaxationInterface.hh
  src/physics/em/AtomicRelaxationParams.cc
  src/physics/em/AtomicRelaxationParams.hh
  src/physics/em/LivermorePEModel.cc
  src/physics/em/LivermorePEModel.hh
  src/physics/em/PhotoelectricProcess.cc
  src/physics/em/PhotoelectricProcess.hh
  src/physics/em/detail/EPlusGGInteractor.i.hh
  src/physics/em/detail/LivermorePE.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  test/physics/em/LivermorePE.test.cc
  test/physics/em/data/au-tr-pr-19.dat
  test/physics/em/data/fl-tr-pr-19.dat
Labels: physics

#132 Add Moller and Bhabha scattering processes
  src/CMakeLists.txt
  src/physics/base/ParticleTrackView.i.hh
  src/physics/em/MollerBhabhaInteractor.i.hh
  src/physics/em/MollerBhabhaInteractorPointers.hh
  src/physics/em/MollerBhabhaModel.cc
  src/physics/em/MollerBhabhaModel.hh
  src/physics/em/detail/BhabhaEnergyDistribution.hh
  src/physics/em/detail/BhabhaEnergyDistribution.i.hh
  src/physics/em/detail/MollerBhabha.cu
  src/physics/em/detail/MollerBhabha.hh
  src/physics/em/detail/MollerBhabhaInteractor.hh
  src/physics/em/detail/MollerBhabhaInteractor.i.hh
  src/physics/em/detail/MollerEnergyDistribution.hh
  src/physics/em/detail/MollerEnergyDistribution.i.hh
  src/random/distributions/UniformRealDistribution.i.hh
  test/CMakeLists.txt
  test/physics/em/MollerBhabha.test.cc
  test/physics/em/MollerBhabhaInteractor.test.cc
Labels: physics

#138 Rename gamma annihilation to conversion
  src/CMakeLists.txt
  src/physics/em/GammaConversionProcess.cc
  src/physics/em/GammaConversionProcess.hh
  test/physics/em/BetheHeitler.test.cc
  test/physics/em/LivermorePE.test.cc
Labels: physics

#139 Refactor particle params/state to use Pie
  app/CMakeLists.txt
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/HostKNDemoRunner.hh
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-interactor/XsGridParams.cc
  app/demo-interactor/host-demo-interactor.cc
  app/demo-interactor/simple-driver.py
  app/geant-exporter/geant-exporter-cat.cc
  src/CMakeLists.txt
  src/physics/base/ModelInterface.hh
  src/physics/base/ParticleInterface.hh
  src/physics/base/ParticleParams.cc
  src/physics/base/ParticleParams.hh
  src/physics/base/ParticleParams.i.hh
  src/physics/base/ParticleStateStore.cc
  src/physics/base/ParticleStateStore.hh
  src/physics/base/ParticleTrackView.hh
  src/physics/base/ParticleTrackView.i.hh
  src/physics/base/ParticleView.hh
  src/physics/em/BetheHeitlerModel.cc
  src/physics/em/EPlusGGModel.cc
  src/physics/em/KleinNishinaModel.cc
  src/physics/em/LivermorePEModel.cc
  src/physics/em/MollerBhabhaModel.cc
  src/physics/material/MaterialInterface.hh
  src/physics/material/MaterialParams.cc
  src/physics/material/MaterialParams.hh
  src/physics/material/MaterialParams.i.hh
  src/physics/material/MaterialView.hh
  src/sim/StateStore.cc
  src/sim/StateStore.hh
  src/sim/TrackInitializerStore.hh
  src/sim/TrackInterface.hh
  test/base/Pie.test.cc
  test/gtest/detail/Macros.hh
  test/io/RootImporter.test.cc
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/base/Particle.test.cc
  test/physics/base/Particle.test.hh
  test/physics/base/Physics.test.cc
  test/physics/em/BetheHeitler.test.cc
  test/physics/em/KleinNishina.test.cc
  test/physics/em/LivermorePE.test.cc
  test/physics/material/Material.test.cc
Labels: physics

#142 Refactor ValueGrid to use Pie
  app/demo-interactor/DetectorInterface.hh
  app/demo-interactor/DetectorStore.cc
  app/demo-interactor/DetectorStore.hh
  app/demo-interactor/HostDetectorStore.cc
  app/demo-interactor/HostDetectorStore.hh
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/KNDemoIO.cc
  app/demo-interactor/KNDemoIO.hh
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-interactor/XsGridParams.cc
  app/demo-interactor/XsGridParams.hh
  src/CMakeLists.txt
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.hh
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/base/PhysicsTrackView.hh
  src/physics/em/LivermorePEInterface.hh
  src/physics/em/LivermoreXsCalculator.hh
  src/physics/em/LivermoreXsCalculator.i.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.i.hh
  src/physics/grid/PhysicsGridCalculator.hh
  src/physics/grid/PhysicsGridCalculator.i.hh
  src/physics/grid/UniformGrid.hh
  src/physics/grid/UniformGrid.i.hh
  src/physics/grid/UniformGridInterface.hh
  src/physics/grid/ValueGridBuilder.cc
  src/physics/grid/ValueGridBuilder.hh
  src/physics/grid/ValueGridInserter.cc
  src/physics/grid/ValueGridInserter.hh
  src/physics/grid/ValueGridStore.cc
  src/physics/grid/ValueGridStore.hh
  src/physics/grid/XsGridInterface.hh
  test/CMakeLists.txt
  test/physics/grid/PhysicsGridCalculator.test.cc
  test/physics/grid/UniformGrid.test.cc
  test/physics/grid/ValueGridBuilder.test.cc
  test/physics/grid/ValueGridInserter.test.cc
  test/physics/grid/ValueGridStore.test.cc
Labels: physics

#143 Add PieStateStore and GridIdFinder helper classes
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/HostKNDemoRunner.hh
  src/base/Algorithms.hh
  src/base/PieStateStore.hh
  src/physics/grid/GridIdFinder.hh
  src/physics/grid/GridIdFinder.i.hh
  test/CMakeLists.txt
  test/base/Algorithms.test.cc
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/base/Particle.test.cc
  test/physics/grid/GridIdFinder.test.cc
  test/physics/material/Material.test.cc
Labels: physics

#144 Add model labels and move "not implemented" interactors to detail directory
  src/physics/base/Model.hh
  src/physics/em/BetheHeitlerModel.hh
  src/physics/em/EPlusGGModel.hh
  src/physics/em/KleinNishinaModel.hh
  src/physics/em/LivermorePEModel.hh
  src/physics/em/MollerBhabhaModel.hh
  src/physics/em/detail/BetheBloch.hh
  src/physics/em/detail/BetheBlochInteractor.hh
  src/physics/em/detail/BetheBlochInteractor.i.hh
  src/physics/em/detail/BremRel.hh
  src/physics/em/detail/BremRelInteractor.hh
  src/physics/em/detail/BremRelInteractor.i.hh
  src/physics/em/detail/Rayleigh.hh
  src/physics/em/detail/RayleighInteractor.hh
  src/physics/em/detail/RayleighInteractor.i.hh
  src/physics/em/detail/Urban.hh
  src/physics/em/detail/UrbanInteractor.hh
  src/physics/em/detail/UrbanInteractor.i.hh
  src/physics/em/detail/Wentzel.hh
  src/physics/em/detail/WentzelInteractor.hh
  src/physics/em/detail/WentzelInteractor.i.hh
  test/CMakeLists.txt
  test/physics/base/MockModel.cc
  test/physics/base/MockModel.hh
  test/physics/em/BetheBloch.test.cc
  test/physics/em/BremRel.test.cc
  test/physics/em/Rayleigh.test.cc
  test/physics/em/Urban.test.cc
  test/physics/em/Wentzel.test.cc
Labels: physics

#141 Implement physics params and trackview
  scripts/dev/celeritas-gen.py
  scripts/dev/env/celeritas-darwin.yaml
  scripts/dev/env/celeritas-linux.yaml
  src/physics/base/Applicability.hh
  src/physics/base/ModelInterface.hh
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.cc
  src/physics/base/PhysicsParams.hh
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/base/PhysicsTrackView.hh
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/base/Process.hh
  src/physics/base/Types.hh
  src/physics/em/ComptonProcess.cc
  src/physics/grid/ValueGridBuilder.cc
  src/physics/grid/ValueGridBuilder.hh
  src/physics/material/MaterialParams.hh
  test/CMakeLists.txt
  test/base/Pie.test.cc
  test/base/Pie.test.cu
  test/base/Pie.test.hh
  test/physics/base/MockModel.cc
  test/physics/base/MockProcess.cc
  test/physics/base/MockProcess.hh
  test/physics/base/Physics.test.cc
  test/physics/base/Physics.test.cu
  test/physics/base/Physics.test.hh
  test/physics/base/PhysicsStepUtils.test.cc
  test/physics/base/PhysicsTestBase.cc
  test/physics/base/PhysicsTestBase.hh
  test/physics/material/Material.test.cc
Labels: physics

#147 Add CMake-derived version metadata to build system and output
  .gitattributes
  CMakeLists.txt
  app/demo-interactor/demo-interactor.cc
  app/demo-interactor/host-demo-interactor.cc
  app/demo-rasterizer/demo-rasterizer.cc
  cmake/.gitattributes
  cmake/CgvFindVersion.cmake
  src/CMakeLists.txt
  src/celeritas_version.cc.in
  src/celeritas_version.h
  test/gtest/detail/TestMain.cc
Labels: infrastructure

#148 Print HEP package versions during configure, and update CI VecGeom
  .jenkins
  CMakeLists.txt
  cmake/CeleritasUtils.cmake
  scripts/build/docker-minimal.sh
  scripts/build/docker.sh
  scripts/docker/README.md
  scripts/docker/ci/Dockerfile
Labels: geometry, infrastructure

#90 Add fourLevels geometry model, and modify basic geom tests accordingly.
  app/demo-rasterizer/RDemoKernel.cu
  src/geometry/GeoTrackView.hh
  src/geometry/LinearPropagator.i.hh
  test/geometry/GeoParams.test.cc
  test/geometry/GeoParamsTest.hh
  test/geometry/GeoTrackView.test.cc
  test/geometry/LinearPropagator.test.cc
  test/geometry/LinearPropagator.test.cu
  test/geometry/data/fourLevels.gdml
Labels: geometry

#151 Dependency simplify
  CMakeLists.txt
  app/CMakeLists.txt
  scripts/build/emmet.sh
  scripts/build/wildstyle.cmake
  scripts/build/wildstyle.sh
  scripts/travis/test.sh
  src/CMakeLists.txt
  src/base/Assert.cc
  src/base/Assert.hh
  src/base/DeviceAllocation.cc
  src/base/DeviceAllocation.nocuda.cc
  src/celeritas_config.h.in
  src/comm/Communicator.cc
  src/comm/Communicator.mpi.cc
  src/comm/Communicator.nompi.cc
  src/comm/Device.cc
  src/comm/Device.nocuda.cc
  src/comm/Operations.i.hh
  src/comm/ScopedMpiInit.cc
  src/comm/detail/Operations.mpi.hh
  src/geometry/GeoParams.cc
Labels: infrastructure

#153 Refactor PieSlice as a newly enhanced Range
  src/base/Pie.hh
  src/base/Pie.i.hh
  src/base/PieBuilder.hh
  src/base/PieBuilder.i.hh
  src/base/Range.hh
  src/base/detail/RangeImpl.hh
  src/physics/base/PhysicsParams.cc
  test/base/Pie.test.cc
  test/base/Pie.test.cu
  test/base/Range.test.cc
  test/base/Range.test.hh
  test/physics/base/Physics.test.cc
  test/physics/base/Physics.test.hh
Labels: infrastructure

#150 Updates to fix VecGeom crashes and suppress debug output
  .jenkins
  scripts/docker/ci/Dockerfile
  src/CMakeLists.txt
  src/base/Assert.hh
  src/base/ScopedStreamRedirect.cc
  src/base/ScopedStreamRedirect.hh
  src/geometry/GeoParams.cc
  src/geometry/detail/ScopedTimeAndRedirect.cc
  src/geometry/detail/ScopedTimeAndRedirect.hh
  test/CMakeLists.txt
  test/base/ScopedStreamRedirect.test.cc
Labels: geometry

#154 Complete the implementation of `calc_tabulated_physics_step`
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.cc
  src/physics/base/PhysicsStepUtils.hh
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/base/PhysicsTrackView.hh
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/em/EPlusGGMacroXsCalculator.hh
  src/physics/em/EPlusGGMacroXsCalculator.i.hh
  src/physics/em/EPlusGGModel.hh
  src/physics/em/LivermorePEInterface.hh
  src/physics/em/LivermorePEMacroXsCalculator.hh
  src/physics/em/LivermorePEMacroXsCalculator.i.hh
  src/physics/em/LivermorePEModel.cc
  src/physics/em/LivermorePEModel.hh
  src/physics/em/LivermorePEParams.hh
  src/physics/em/PhotoelectricProcess.cc
  src/physics/em/PhotoelectricProcess.hh
  src/physics/em/detail/LivermorePE.cu
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.i.hh
  test/CMakeLists.txt
  test/physics/base/PhysicsStepUtils.test.cc
  test/physics/em/EPlusGG.test.cc
  test/physics/em/LivermorePE.test.cc
Labels: physics
