Repository celeritas-project/celeritas, pull requests merged in 2021-01, with the labels that each got.

#95 Add always-on INSIST macro
  src/base/Assert.cc
  src/base/Assert.hh
  src/comm/Logger.hh
  src/comm/LoggerTypes.hh
  src/sim/TrackInitializerStore.cc
Labels: infrastructure

#89 Add Livermore photoelectric interactor
  src/CMakeLists.txt
  src/base/SpanRemapper.hh
  src/io/LivermoreParamsReader.cc
  src/io/LivermoreParamsReader.hh
  src/physics/base/Units.hh
  src/physics/em/LivermoreInteractor.hh
  src/physics/em/LivermoreInteractor.i.hh
  src/physics/em/LivermoreParams.cc
  src/physics/em/LivermoreParams.hh
  src/physics/em/LivermoreParamsPointers.hh
  src/physics/em/MockXsCalculator.hh
  src/physics/em/MockXsCalculator.i.hh
  src/physics/em/PhotoelectricInteractor.hh
  src/physics/em/PhotoelectricInteractor.i.hh
  src/physics/em/PhotoelectricInteractorPointers.hh
  src/physics/em/PhotoelectricMicroXsCalculator.hh
  src/physics/em/PhotoelectricMicroXsCalculator.i.hh
  test/CMakeLists.txt
  test/physics/em/LivermoreInteractor.test.cc
  test/physics/em/PhotoelectricInteractor.test.cc
  test/physics/em/data/pe-cs-19.dat
  test/physics/em/data/pe-high-19.dat
  test/physics/em/data/pe-le-cs-19.dat
  test/physics/em/data/pe-low-19.dat
  test/physics/em/data/pe-ss-cs-19.dat
Labels: physics

#99 Housekeeping
  app/demo-interactor/HostStackAllocatorStore.hh
  app/demo-interactor/PhysicsArrayCalculator.i.hh
  app/demo-rasterizer/ImageIO.hh
  scripts/build/yuri.cmake
  scripts/build/yuri.sh
  src/base/Array.hh
  src/base/ArrayUtils.hh
  src/base/ArrayUtils.i.hh
  src/base/Assert.hh
  src/base/Interpolator.i.hh
  src/base/NumericLimits.hh
  src/base/Range.hh
  src/base/SoftEqual.hh
  src/base/SoftEqual.i.hh
  src/base/SpanRemapper.hh
  src/base/SpanRemapper.i.hh
  src/base/StackAllocatorView.hh
  src/base/StackAllocatorView.i.hh
  src/base/detail/InterpolatorTraits.hh
  src/base/detail/RangeImpl.hh
  src/base/detail/SoftEqualTraits.hh
  src/geometry/GeoStatePointers.hh
  src/io/EventReader.cc
  src/io/EventReader.hh
  src/physics/material/MaterialParams.cc
  src/physics/material/MaterialTrackView.hh
  src/random/cuda/RngEngine.hh
  src/random/distributions/IsotropicDistribution.i.hh
  test/base/HostStackAllocatorStore.hh
  test/base/SoftEqual.test.cc
  test/geometry/GeoParams.test.cc
  test/geometry/GeoParamsTest.cc
  test/geometry/GeoParamsTest.hh
  test/gtest/Test.cc
  test/gtest/detail/Macros.i.hh
  test/gtest/detail/PrintableValueTraits.hh
  test/physics/InteractorHostTestBase.cc
Labels: infrastructure

#98 Add physics model and processes
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/HostKNDemoRunner.hh
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-interactor/KNDemoRunner.hh
  src/CMakeLists.txt
  src/physics/base/Applicability.hh
  src/physics/base/Model.cc
  src/physics/base/Model.hh
  src/physics/base/ModelIdGenerator.hh
  src/physics/base/ModelInterface.hh
  src/physics/base/ParticleDef.hh
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsTrackView.hh
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/base/Process.cc
  src/physics/base/Process.hh
  src/physics/base/Types.hh
  src/physics/base/ValueGridBuilder.cc
  src/physics/base/ValueGridBuilder.hh
  src/physics/em/ComptonProcess.cc
  src/physics/em/ComptonProcess.hh
  src/physics/em/EPlusAnnihilationProcess.cc
  src/physics/em/EPlusAnnihilationProcess.hh
  src/physics/em/EPlusGGModel.cc
  src/physics/em/EPlusGGModel.hh
  src/physics/em/KleinNishinaModel.cc
  src/physics/em/KleinNishinaModel.hh
  src/physics/em/detail/EPlusGG.hh
  src/physics/em/detail/EPlusGGInteractor.hh
  src/physics/em/detail/EPlusGGInteractor.i.hh
  src/physics/em/detail/KleinNishina.cu
  src/physics/em/detail/KleinNishina.hh
  src/physics/em/detail/KleinNishinaInteractor.hh
  src/physics/em/detail/KleinNishinaInteractor.i.hh
  test/CMakeLists.txt
  test/physics/em/EPlusGG.test.cc
  test/physics/em/KleinNishina.test.cc
Labels: physics

#72 Add BetheHeitlerInteractor
  src/physics/em/BetheHeitlerInteractor.hh
  src/physics/em/BetheHeitlerInteractor.i.hh
  src/physics/em/BetheHeitlerInteractorPointers.hh
  test/CMakeLists.txt
  test/physics/em/BetheHeitlerInteractor.test.cc
Labels: physics

#106 Unify kernel namespaces and error checking
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/detail/DetectorUtils.cu
  app/demo-rasterizer/RDemoKernel.cu
  src/base/Memory.cu
  src/geometry/detail/VGNavStateStore.cuda.cc
  src/random/cuda/detail/RngStateInit.cu
  src/sim/StatePointers.hh
  src/sim/detail/InitializeTracks.cu
  src/sim/detail/SimStateInit.cu
Labels: infrastructure

#107 Fix for energy sampling in BetheHeithlerInteractor
  scripts/dev/install-spack.sh
  src/physics/em/BetheHeitlerInteractor.i.hh
Labels: physics

#112 Add EPlusGG interactor kernel
  src/CMakeLists.txt
  src/physics/em/EPlusGGModel.cc
  src/physics/em/detail/EPlusGG.cu
  src/physics/em/detail/EPlusGG.hh
Labels: physics

#113 Add photoelectric process and Livermore photoelectric model/interact kernel
  src/CMakeLists.txt
  src/io/LivermorePEParamsReader.cc
  src/io/LivermorePEParamsReader.hh
  src/physics/em/LivermorePEModel.cc
  src/physics/em/LivermorePEModel.hh
  src/physics/em/LivermorePEParams.cc
  src/physics/em/LivermorePEParams.hh
  src/physics/em/LivermorePEParamsPointers.hh
  src/physics/em/PhotoelectricProcess.cc
  src/physics/em/PhotoelectricProcess.hh
  src/physics/em/detail/LivermorePE.cu
  src/physics/em/detail/LivermorePE.hh
  src/physics/em/detail/LivermorePEInteractor.hh
  src/physics/em/detail/LivermorePEInteractor.i.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.hh
  src/physics/em/detail/LivermorePEMicroXsCalculator.i.hh
  src/physics/material/MaterialView.hh
  src/physics/material/MaterialView.i.hh
  test/CMakeLists.txt
  test/physics/InteractorHostTestBase.hh
  test/physics/em/LivermorePE.test.cc
Labels: physics

#111 Add BetheHeitlerModel and GammaAnnihilationProcess
  src/CMakeLists.txt
  src/physics/em/BetheHeitlerModel.cc
  src/physics/em/BetheHeitlerModel.hh
  src/physics/em/GammaAnnihilationProcess.cc
  src/physics/em/GammaAnnihilationProcess.hh
  src/physics/em/detail/BetheHeitler.cu
  src/physics/em/detail/BetheHeitler.hh
  src/physics/em/detail/BetheHeitlerInteractor.hh
  src/physics/em/detail/BetheHeitlerInteractor.i.hh
  test/CMakeLists.txt
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/em/BetheHeitler.test.cc
Labels: physics

#114 Clean up and move XS calculator to physics
  app/CMakeLists.txt
  app/demo-interactor/DetectorPointers.hh
  app/demo-interactor/DetectorStore.cc
  app/demo-interactor/DetectorStore.hh
  app/demo-interactor/HostDetectorStore.cc
  app/demo-interactor/HostDetectorStore.hh
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/HostKNDemoRunner.hh
  app/demo-interactor/KNDemoIO.cc
  app/demo-interactor/KNDemoIO.hh
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-interactor/KNDemoRunner.hh
  app/demo-interactor/LoadXs.cc
  app/demo-interactor/LoadXs.hh
  app/demo-interactor/PhysicsArrayCalculator.hh
  app/demo-interactor/PhysicsArrayCalculator.i.hh
  app/demo-interactor/PhysicsArrayPointers.hh
  app/demo-interactor/XsGridParams.cc
  app/demo-interactor/XsGridParams.hh
  src/CMakeLists.txt
  src/physics/base/Model.hh
  src/physics/base/Process.hh
  src/physics/base/Units.hh
  src/physics/grid/PhysicsGridCalculator.hh
  src/physics/grid/PhysicsGridCalculator.i.hh
  src/physics/grid/UniformGrid.hh
  src/physics/grid/UniformGrid.i.hh
  src/physics/grid/UniformGridPointers.hh
  src/physics/grid/ValueGridBuilder.cc
  src/physics/grid/ValueGridBuilder.hh
  src/physics/grid/XsGridPointers.hh
  test/CMakeLists.txt
  test/physics/grid/PhysicsGridCalculator.test.cc
  test/physics/grid/UniformGrid.test.cc
Labels: infrastructure, physics

#116 Update copyright year in stub file generator
  scripts/dev/celeritas-gen.py
  scripts/dev/rename-macros.py
Labels: infrastructure

#105 Add SWIG interface
  CMakeLists.txt
  interface/CMakeLists.txt
  interface/celeritas.i
  scripts/build/yuri.cmake
  scripts/build/yuri.sh
  scripts/dev/celeritas-gen.py
  scripts/dev/env/celeritas-darwin.yaml
  scripts/dev/env/celeritas-linux.yaml
  scripts/docker/env.yaml
Labels: enhancement

#117 Add "not implemented" assertion macro
  src/base/Assert.cc
  src/base/Assert.hh
  src/physics/em/BetheBlochInteractor.i.hh
  src/physics/em/BremRelInteractor.i.hh
  src/physics/em/MollerBhabhaInteractor.i.hh
  src/physics/em/RayleighInteractor.i.hh
  src/physics/em/UrbanInteractor.i.hh
  src/physics/em/WentzelInteractor.i.hh
  src/physics/grid/ValueGridBuilder.cc
Labels: infrastructure

#121 Allow for non-deterministic IDs in TrackInitializerStore test
  test/sim/TrackInitializerStore.test.cc
Labels: simulation

#120 Physics stepping skeleton
  src/CMakeLists.txt
  src/base/Algorithms.hh
  src/base/Interpolator.hh
  src/base/Interpolator.i.hh
  src/base/detail/InterpolatorTraits.hh
  src/physics/base/Applicability.hh
  src/physics/base/PhysicsInterface.hh
  src/physics/base/PhysicsParams.cc
  src/physics/base/PhysicsParams.hh
  src/physics/base/PhysicsStepUtils.hh
  src/physics/base/PhysicsStepUtils.i.hh
  src/physics/base/PhysicsTrackView.hh
  src/physics/base/PhysicsTrackView.i.hh
  src/physics/base/Process.hh
  src/physics/grid/PhysicsGridCalculator.i.hh
  src/physics/grid/ValueGridBuilder.cc
  src/physics/grid/ValueGridBuilder.hh
  src/physics/material/MaterialParams.cc
  src/physics/material/MaterialParams.hh
  src/physics/material/MaterialParams.i.hh
  test/CMakeLists.txt
  test/physics/InteractorHostTestBase.cc
  test/physics/InteractorHostTestBase.hh
  test/physics/base/MockModel.cc
  test/physics/base/MockModel.hh
  test/physics/base/MockProcess.cc
  test/physics/base/MockProcess.hh
  test/physics/base/Particle.test.cc
  test/physics/base/Physics.test.cc
Labels: physics
