Repository celeritas-project/celeritas, pull requests merged in 2023-04, with the labels that each got.

#712 Improve documentation failure mode when sphinx is unavailable
  CMakeLists.txt
  README.md
  doc/CMakeLists.txt
  doc/installation.rst
Labels: documentation, minor

#713 Add new capabilities to run CMS with sensitive detectors
  app/demo-geant-integration/DetectorConstruction.cc
  app/demo-geant-integration/DetectorConstruction.hh
  app/demo-geant-integration/GlobalSetup.cc
  app/demo-geant-integration/GlobalSetup.hh
  app/demo-geant-integration/HitRootIO.cc
  app/demo-geant-integration/RunAction.cc
  app/demo-geant-integration/demo-geant-integration.cc
  scripts/cmake-presets/goldfinger.json
  src/accel/SetupOptions.hh
  src/accel/SharedParams.cc
  src/accel/detail/HitManager.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantVolumeMapper.cc
  src/celeritas/ext/GeantVolumeMapper.hh
  src/celeritas/ext/detail/GeantGeoExporter.cc
  src/celeritas/ext/detail/GeantVolumeVisitor.hh
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  test/CMakeLists.txt
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/orange/Orange.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/OrangeGeoTestBase.hh
  test/orange/surf/SurfaceAction.test.cc
  test/orange/univ/SimpleUnitTracker.test.cc
  test/orange/univ/VolumeView.test.cc
  test/orange/univ/detail/SenseCalculator.test.cc
  test/orange/univ/detail/SurfaceFunctors.test.cc
Labels: documentation, enhancement

#719 Move basic grid functionality to corecel
  app/demo-interactor/Detector.hh
  app/demo-interactor/DetectorData.hh
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/KNDemoIO.hh
  app/demo-interactor/XsGridParams.cc
  app/demo-loop/diagnostic/EnergyDiagnostic.hh
  src/celeritas/em/data/SeltzerBergerData.hh
  src/celeritas/em/distribution/SBEnergyDistHelper.hh
  src/celeritas/em/distribution/SBEnergyDistribution.hh
  src/celeritas/em/model/SeltzerBergerModel.cc
  src/celeritas/grid/GenericXsCalculator.hh
  src/celeritas/grid/InverseRangeCalculator.hh
  src/celeritas/grid/RangeCalculator.hh
  src/celeritas/grid/ValueGridBuilder.cc
  src/celeritas/grid/ValueGridInserter.hh
  src/celeritas/grid/VectorUtils.cc
  src/celeritas/grid/XsCalculator.hh
  src/celeritas/grid/XsGridData.hh
  src/celeritas/phys/PhysicsParams.cc
  src/corecel/grid/Interpolator.hh
  src/corecel/grid/NonuniformGrid.hh
  src/corecel/grid/TwodGridCalculator.hh
  src/corecel/grid/TwodGridData.hh
  src/corecel/grid/TwodSubgridCalculator.hh
  src/corecel/grid/UniformGrid.hh
  src/corecel/grid/UniformGridData.hh
  src/corecel/grid/detail/FindInterp.hh
  src/corecel/grid/detail/InterpolatorTraits.hh
  test/CMakeLists.txt
  test/celeritas/em/UrbanMsc.test.cc
  test/celeritas/grid/CalculatorTestBase.cc
  test/corecel/grid/Interpolator.test.cc
  test/corecel/grid/NonuniformGrid.test.cc
  test/corecel/grid/TwodGridCalculator.test.cc
  test/corecel/grid/UniformGrid.test.cc
Labels: core, minor

#722 Add StreamStore for thread-safe storage of states in a params object
  app/demo-loop/demo-loop.cc
  src/accel/SharedParams.cc
  src/celeritas/user/StepCollector.cc
  src/celeritas/user/StepCollector.hh
  src/celeritas/user/StepData.hh
  src/celeritas/user/detail/StepGatherAction.cc
  src/celeritas/user/detail/StepGatherAction.hh
  src/celeritas/user/detail/StepStorage.hh
  src/corecel/data/CollectionMirror.hh
  src/corecel/data/StreamStore.hh
  test/celeritas/user/CaloTestBase.cc
  test/celeritas/user/DetectorSteps.test.cc
  test/celeritas/user/MctruthTestBase.cc
  test/celeritas/user/StepCollector.test.cc
Labels: enhancement, core

#717 Partition tracks by status at the start of each simulation step
  app/demo-loop/LDemoIO.hh
  src/celeritas/CMakeLists.txt
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/global/CoreParams.cc
  src/celeritas/track/SortTracksAction.cc
  src/celeritas/track/SortTracksAction.hh
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/track/detail/TrackSortUtils.hh
  test/CMakeLists.txt
  test/celeritas/global/Stepper.test.cc
  test/celeritas/global/Stepper.test.hh
  test/celeritas/track/TrackSort.test.cc
Labels: enhancement, core

#724 Remove universe_types/universe_indices from OrangeInput and rename UnitIndexer
  src/orange/OrangeData.hh
  src/orange/OrangeParams.cc
  src/orange/OrangeTrackView.hh
  src/orange/OrangeTypes.hh
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/detail/UniverseIndexer.hh
  test/CMakeLists.txt
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/detail/UniverseIndexer.test.cc
  test/orange/univ/SimpleUnitTracker.test.cc
Labels: minor, orange

#729 Fix minor warning with VecGeom and test failures when JSON is unavailable
  src/celeritas/ext/detail/VecgeomNavCollection.hh
  src/orange/OrangeParams.cc
  test/CMakeLists.txt
  test/celeritas/geo/Geometry.test.cc
  test/corecel/io/OutputRegistry.test.cc
  test/corecel/sys/Environment.test.cc
  test/orange/univ/VolumeView.test.cc
Labels: bug, core

#727 Sort track slots by step limit `ActionId`
  app/demo-loop/LDemoIO.hh
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/global/CoreParams.cc
  src/celeritas/track/SortTracksAction.cc
  src/celeritas/track/SortTracksAction.hh
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/track/detail/TrackSortUtils.hh
  test/celeritas/global/Stepper.test.cc
  test/celeritas/track/TrackSort.test.cc
Labels: enhancement, core

#730 Add more assertions and minor fixes
  src/celeritas/ext/VecgeomTrackView.hh
  src/celeritas/mat/MaterialParamsOutput.cc
  src/celeritas/mat/MaterialParamsOutput.hh
  src/celeritas/phys/ParticleData.hh
  src/celeritas/track/SimData.hh
  src/celeritas/track/TrackInitData.hh
  src/celeritas/track/detail/ProcessSecondariesLauncher.hh
  src/corecel/Macros.hh
  src/corecel/data/StackAllocator.hh
  src/orange/Types.hh
Labels: minor

#728 Move some ROOT files and refactor demo-app input
  app/demo-loop/LDemoIO.cc
  app/demo-loop/LDemoIO.hh
  app/demo-loop/LDemoIO.root.cc
  app/demo-loop/Transporter.cc
  app/demo-loop/Transporter.hh
  app/demo-loop/demo-loop.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantPhysicsOptionsIO.json.cc
  src/celeritas/ext/RootFileManager.cc
  src/celeritas/ext/RootFileManager.hh
  src/celeritas/user/RootStepWriter.cc
  src/celeritas/user/RootStepWriter.hh
  src/celeritas/user/RootStepWriterIO.json.cc
  src/celeritas/user/RootStepWriterIO.json.hh
  src/corecel/sys/Environment.cc
  src/corecel/sys/Environment.hh
  src/corecel/sys/EnvironmentIO.json.hh
  test/corecel/sys/Environment.test.cc
Labels: minor, external

#731 Move Label to corecel/io
  app/geo-check/geo-check.cc
  src/accel/detail/HitManager.cc
  src/celeritas/geo/GeoMaterialParams.hh
  src/celeritas/geo/GeoParamsOutput.cc
  src/celeritas/mat/MaterialParams.hh
  src/celeritas/mat/MaterialParamsOutput.cc
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/user/StepCollector.cc
  src/corecel/CMakeLists.txt
  src/corecel/cont/LabelIdMultiMap.hh
  src/corecel/io/Label.cc
  src/corecel/io/Label.hh
  src/corecel/io/LabelIO.json.hh
  src/orange/OrangeParams.hh
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/construct/SurfaceInputBuilder.cc
  test/CMakeLists.txt
  test/corecel/cont/LabelIdMultiMap.test.cc
  test/corecel/io/Label.test.cc
  test/corecel/math/Quantity.test.cc
Labels: minor

#735 Replace RZ field reader with JSON
  test/CMakeLists.txt
  test/celeritas/data/cms-tiny.field.json
  test/celeritas/data/cmsFieldMap.tiny
  test/celeritas/field/CMSFieldMapReader.cc
  test/celeritas/field/CMSFieldMapReader.hh
  test/celeritas/field/FieldMapData.hh
  test/celeritas/field/Fields.test.cc
  test/celeritas/field/MagFieldMap.cc
  test/celeritas/field/MagFieldMap.hh
  test/celeritas/field/RZFieldInput.hh
  test/celeritas/field/RZFieldInputIO.json.cc
  test/celeritas/field/RZFieldInputIO.json.hh
Labels: field, minor

#725 Move and rename volume-based magnetic field map classes
  src/celeritas/CMakeLists.txt
  src/celeritas/field/RZMapField.hh
  src/celeritas/field/RZMapFieldData.hh
  src/celeritas/field/RZMapFieldInput.hh
  src/celeritas/field/RZMapFieldInputIO.json.cc
  src/celeritas/field/RZMapFieldInputIO.json.hh
  src/celeritas/field/RZMapFieldParams.cc
  src/celeritas/field/RZMapFieldParams.hh
  test/CMakeLists.txt
  test/celeritas/field/Fields.test.cc
Labels: field, minor

#726 Allow geometry selection independent of VecGeom being enabled
  CMakeLists.txt
  app/CMakeLists.txt
  app/demo-geant-integration/RunAction.cc
  app/demo-loop/diagnostic/EnergyDiagnostic.hh
  app/geo-check/GCheckKernel.cu
  app/geo-check/GCheckKernel.hh
  cmake/CeleritasAddTest.cmake
  cmake/CeleritasConfig.cmake.in
  cmake/CeleritasUtils.cmake
  example/accel/CMakeLists.txt
  scripts/cmake-presets/summit.json
  scripts/cmake-presets/wildstyle.json
  src/CMakeLists.txt
  src/accel/detail/HitManager.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantGeoUtils.cc
  src/celeritas/ext/GeantGeoUtils.hh
  src/celeritas/ext/GeantSetup.cc
  src/celeritas/ext/GeantSetup.hh
  src/celeritas/ext/GeantVolumeMapper.cc
  src/celeritas/ext/VecgeomParams.cc
  src/celeritas/ext/detail/GeantGeoConverter.cc
  src/celeritas/geo/GeoData.hh
  src/celeritas/geo/GeoParams.hh
  src/celeritas/geo/GeoParamsFwd.hh
  src/celeritas/geo/GeoTrackView.hh
  src/celeritas/random/RngData.hh
  src/celeritas/random/RngEngine.hh
  src/celeritas/random/RngParams.hh
  src/celeritas/random/RngParamsFwd.hh
  src/celeritas_config.h.in
  src/corecel/io/BuildOutput.cc
  test/CMakeLists.txt
  test/Test.cc
  test/Test.hh
  test/celeritas/GeantTestBase.cc
  test/celeritas/data/solids.gdml
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/celeritas/ext/Vecgeom.test.cc
  test/celeritas/ext/Vecgeom.test.cu
  test/celeritas/ext/Vecgeom.test.hh
  test/celeritas/geo/Geometry.test.cc
  test/celeritas/global/Stepper.test.cc
  test/celeritas/random/RngEngine.test.cc
  test/celeritas/track/TrackSort.test.cc
Labels: minor, external

#738 Add debugging/profiling utilities
  app/demo-loop/demo-loop.cc
  scripts/cmake-presets/wildstyle.json
  src/corecel/CMakeLists.txt
  src/corecel/io/LogContextException.cc
  src/corecel/io/LogContextException.hh
  src/corecel/sys/ScopedDeviceProfiling.cuda.cc
  src/corecel/sys/ScopedDeviceProfiling.hh
  test/celeritas/em/UrbanMsc.test.cc
  test/celeritas/global/AlongStepTestBase.cc
  test/celeritas/global/StepperTestBase.cc
  test/celeritas/track/TrackInit.test.cc
Labels: documentation, enhancement
