Repository celeritas-project/celeritas, pull requests merged in 2023-11, with the labels that each got.

#1003 Add Orange Shift tracking flow control test
  scripts/cmake-presets/gondolin.json
  test/orange/Orange.test.cc
Labels: documentation, orange

#1002 Make boundary distance persistent to improve Shift performance
  src/orange/OrangeData.hh
  src/orange/OrangeTrackView.hh
  test/orange/Orange.test.cc
Labels: minor, orange

#1000 Use LdgIterator in Collection and Span
  src/celeritas/grid/GridIdFinder.hh
  src/celeritas/mat/ElementSelector.hh
  src/corecel/OpaqueId.hh
  src/corecel/Types.hh
  src/corecel/cont/Span.hh
  src/corecel/cont/detail/SpanImpl.hh
  src/corecel/data/Collection.hh
  src/corecel/data/LdgIterator.hh
  src/corecel/data/detail/CollectionImpl.hh
  src/corecel/data/detail/LdgIteratorImpl.hh
  src/corecel/grid/NonuniformGrid.hh
  src/orange/GeoParamsInterface.hh
  src/orange/detail/UniverseIndexer.hh
  src/orange/surf/Surfaces.hh
  src/orange/univ/SimpleUnitTracker.hh
  src/orange/univ/VolumeView.hh
  src/orange/univ/detail/LogicEvaluator.hh
  test/corecel/cont/Span.test.cc
  test/corecel/data/Collection.test.cc
  test/corecel/data/LdgIterator.test.cc
Labels: enhancement, core

#1001 Add ORANGE surface construction components
  scripts/cmake-presets/goldfinger.json
  src/orange/CMakeLists.txt
  src/orange/construct/OrangeInput.hh
  src/orange/construct/detail/LocalSurfaceInserter.cc
  src/orange/construct/detail/LocalSurfaceInserter.hh
  src/orange/surf/FaceNamer.cc
  src/orange/surf/FaceNamer.hh
  src/orange/surf/RecursiveSimplifier.hh
  src/orange/surf/SoftSurfaceEqual.hh
  src/orange/surf/Surfaces.hh
  src/orange/surf/detail/RecursiveSimplifierImpl.hh
  src/orange/univ/SimpleUnitTracker.hh
  test/CMakeLists.txt
  test/orange/construct/CsgTree.test.cc
  test/orange/construct/CsgTreeUtils.test.cc
  test/orange/construct/LocalSurfaceInserter.test.cc
  test/orange/surf/FaceNamer.test.cc
  test/orange/surf/SoftSurfaceEqual.test.cc
  test/orange/surf/VariantSurface.test.cc
Labels: enhancement, orange

#999 Allow `celer-g4` hit output to be opened in downstream ROOT
  app/celer-g4/CMakeLists.txt
  app/celer-g4/EventAction.cc
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/HitClassesLinkDef.h
  app/celer-g4/RootIO.cc
  app/celer-g4/RootIO.hh
  app/celer-g4/RunAction.cc
  app/celer-g4/SensitiveDetector.cc
  app/celer-g4/SensitiveDetector.hh
  app/celer-g4/SensitiveHit.cc
  app/celer-g4/SensitiveHit.hh
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/RootInterfaceLinkDef.h
  src/celeritas/io/EventData.hh
  src/celeritas/user/RootStepWriter.cc
  src/corecel/data/LdgIterator.hh
Labels: enhancement, io

#1005 Fix exception handling flags for Windows MSVC builds
  src/corecel/CMakeLists.txt
Labels: minor

#1004 Optimize ORANGE surface crossings and checks
  src/orange/OrangeData.hh
  src/orange/OrangeTrackView.hh
Labels: minor, orange

#1007 Refactor detector construction and SharedParams output
  app/celer-g4/ActionInitialization.cc
  app/celer-g4/ActionInitialization.hh
  app/celer-g4/CMakeLists.txt
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/DetectorConstruction.hh
  app/celer-g4/EventAction.cc
  app/celer-g4/EventAction.hh
  app/celer-g4/GeantDiagnostics.cc
  app/celer-g4/GeantDiagnostics.hh
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/PGPrimaryGeneratorAction.cc
  app/celer-g4/RootIO.cc
  app/celer-g4/RunAction.cc
  app/celer-g4/RunAction.hh
  app/celer-g4/SensitiveDetector.cc
  app/celer-g4/TimerOutput.cc
  app/celer-g4/TrackingAction.cc
  app/celer-g4/TrackingAction.hh
  app/celer-g4/celer-g4.cc
  app/celer-g4/test-harness.py
  app/celer-sim/CMakeLists.txt
  app/celer-sim/simple-driver.py
  src/accel/GeantStepDiagnostic.cc
  src/accel/HepMC3PrimaryGenerator.cc
  src/accel/LocalTransporter.cc
  src/accel/Logger.cc
  src/accel/SetupOptions.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/accel/SetupOptionsMessenger.hh
  src/accel/SharedParams.cc
  src/accel/SharedParams.hh
  src/accel/SimpleOffload.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantSetup.cc
  src/celeritas/ext/GeantSetup.hh
  src/celeritas/ext/GeantUtils.cc
  src/celeritas/ext/GeantUtils.hh
  src/celeritas/ext/detail/GeantGeoNavCollection.cc
  src/celeritas/user/SimpleCalo.cc
  src/celeritas/user/SimpleCalo.hh
  src/celeritas/user/StepCollector.hh
  test/celeritas/user/CaloTestBase.cc
  test/celeritas/user/StepCollector.test.cc
Labels: minor, external, app

#1011 Add environment variable to disable ROOT and update celer-g4 input
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/DetectorConstruction.hh
  app/celer-g4/EventAction.cc
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/GlobalSetup.hh
  app/celer-g4/RootIO.cc
  app/celer-g4/RootIO.hh
  app/celer-g4/RunAction.cc
  app/celer-g4/RunInput.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-g4/SensitiveDetector.cc
  app/celer-g4/celer-g4.cc
  app/celer-g4/simple-cms-test.inp.json.in
  app/celer-g4/test-harness.py
  doc/usage.rst
  src/celeritas/ext/RootExporter.cc
  src/celeritas/ext/RootFileManager.cc
  src/celeritas/ext/RootFileManager.hh
  src/celeritas/ext/RootImporter.cc
  src/corecel/sys/ScopedProfiling.cuda.cc
  src/corecel/sys/ScopedProfiling.hh
  src/corecel/sys/ScopedProfiling.hip.cc
Labels: enhancement, app

#1020 Add GitHub actions to CI
  .clang-format
  .github/workflows/ci.yml
  .jenkins
  CMakeLists.txt
  CMakePresets.json
  app/CMakeLists.txt
  app/celer-g4/CMakeLists.txt
  app/celer-sim/CMakeLists.txt
  app/celer-sim/Runner.cc
  app/demo-geo-check/CMakeLists.txt
  app/demo-interactor/CMakeLists.txt
  app/demo-rasterizer/CMakeLists.txt
  cmake/CeleritasAddTest.cmake
  scripts/ci/host-system-info.cmake
  scripts/ci/run-ci.sh
  scripts/ci/test-examples.sh
  scripts/cmake-presets/ci-centos-rocm.json
  scripts/cmake-presets/ci-ubuntu-cuda.json
  scripts/cmake-presets/emmet.json
  scripts/cmake-presets/esseivaj.json
  scripts/cmake-presets/exalearn4.json
  scripts/cmake-presets/frontier.json
  scripts/cmake-presets/goldfinger.json
  scripts/cmake-presets/gondolin.json
  scripts/cmake-presets/omnia.json
  scripts/cmake-presets/stognini.json
  scripts/cmake-presets/summit.json
  scripts/cmake-presets/wildstyle.json
  scripts/cmake-presets/yuri.json
  scripts/cmake-presets/zeus.json
  src/celeritas/ext/GeantUtils.cc
  src/celeritas/ext/ScopedRootErrorHandler.cc
  src/celeritas/ext/ScopedRootErrorHandler.hh
  src/corecel/data/PinnedAllocator.hh
  src/corecel/data/PinnedAllocator.t.hh
  src/corecel/sys/Device.cc
  test/CMakeLists.txt
  test/corecel/data/DeviceAllocation.test.cc
  test/orange/univ/SimpleUnitTracker.test.cc
  test/testdetail/ParallelHandler.cc
  test/testdetail/ParallelHandler.hh
  test/testdetail/TestMainImpl.cc
Labels: core, minor

#1013 Use Celeritas error and output handling in celer-g4 app
  app/celer-g4/ActionInitialization.cc
  app/celer-g4/ActionInitialization.hh
  app/celer-g4/CMakeLists.txt
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/EventAction.cc
  app/celer-g4/GeantDiagnostics.cc
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/GlobalSetup.hh
  app/celer-g4/HepMC3PrimaryGeneratorAction.cc
  app/celer-g4/HepMC3PrimaryGeneratorAction.hh
  app/celer-g4/LocalLogger.cc
  app/celer-g4/LocalLogger.hh
  app/celer-g4/PGPrimaryGeneratorAction.cc
  app/celer-g4/PGPrimaryGeneratorAction.hh
  app/celer-g4/RootIO.cc
  app/celer-g4/RunAction.cc
  app/celer-g4/TrackingAction.cc
  app/celer-g4/celer-g4.cc
  src/accel/Logger.cc
  src/accel/SharedParams.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantGeoParams.cc
  src/celeritas/ext/GeantSetup.cc
  src/celeritas/ext/GeantSetup.hh
  src/celeritas/ext/GeantUtils.cc
  src/celeritas/ext/GeantUtils.hh
  src/celeritas/field/FieldDriverOptions.cc
  src/celeritas/field/FieldDriverOptions.hh
  src/celeritas/field/RZMapFieldParams.cc
  src/celeritas/global/alongstep/AlongStepUniformMscAction.cc
  src/corecel/io/Logger.cc
  src/corecel/io/LoggerTypes.cc
  src/corecel/io/LoggerTypes.hh
Labels: enhancement, app

#1015 Use consistent energy intervals for model applicability and selection
  src/celeritas/em/interactor/BetheHeitlerInteractor.hh
  src/celeritas/em/interactor/CombinedBremInteractor.hh
  src/celeritas/em/interactor/MollerBhabhaInteractor.hh
  src/celeritas/em/interactor/RelativisticBremInteractor.hh
  src/celeritas/em/interactor/SeltzerBergerInteractor.hh
  src/celeritas/em/model/BetheHeitlerModel.cc
  src/celeritas/em/model/EPlusGGModel.cc
  src/celeritas/phys/Applicability.hh
  test/celeritas/em/BetheHeitler.test.cc
  test/celeritas/em/CombinedBrem.test.cc
Labels: documentation, physics

#1021 Fix unchecked merge train wreck
  .github/workflows/build-full.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  example/minimal/minimal.cc
  src/celeritas/Types.hh
Labels: core, minor

#1017 Refactor vecgeom setup in preparation for surface support
  src/celeritas/ext/VecgeomParams.cc
  src/celeritas/ext/VecgeomParams.hh
  src/corecel/CMakeLists.txt
  src/corecel/io/ColorUtils.cc
  src/corecel/sys/MultiExceptionHandler.hh
  src/corecel/sys/ScopedLimitSaver.cuda.cc
  src/corecel/sys/ScopedLimitSaver.hh
  test/CMakeLists.txt
  test/celeritas/ext/Vecgeom.test.cc
Labels: minor, external

#1022 Fix CI for "push" events
  .github/workflows/build-full.yml
  .github/workflows/merge_group.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
Labels: core, minor

#1024 Use default field driver options in celer-g4 test
  app/celer-g4/test-harness.py
Labels: minor, app

#1014 Add G4SD "simple calorimeter" that outputs to JSON
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/DetectorConstruction.hh
  app/celer-g4/RunInput.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/test-harness.py
  src/accel/CMakeLists.txt
  src/accel/GeantSimpleCalo.cc
  src/accel/GeantSimpleCalo.hh
  src/accel/SharedParams.cc
  src/accel/detail/GeantSimpleCaloSD.cc
  src/accel/detail/GeantSimpleCaloSD.hh
  src/accel/detail/GeantSimpleCaloStorage.hh
  src/accel/detail/HitProcessor.cc
Labels: enhancement, app

#1027 Fix duplicate libvecgeom.a in some components' build
  src/celeritas/CMakeLists.txt
  test/CMakeLists.txt
Labels: core, minor

#1018 Optimize data access through ORANGE visitors
  src/corecel/cont/Span.hh
  src/corecel/math/ArrayOperators.hh
  src/orange/surf/ConeAligned.hh
  src/orange/surf/CylAligned.hh
  src/orange/surf/CylCentered.hh
  src/orange/surf/GeneralQuadric.hh
  src/orange/surf/LocalSurfaceVisitor.hh
  src/orange/surf/Plane.hh
  src/orange/surf/PlaneAligned.hh
  src/orange/surf/SimpleQuadric.hh
  src/orange/surf/Sphere.hh
  src/orange/surf/SphereCentered.hh
  src/orange/surf/SurfaceSimplifier.cc
  src/orange/transform/TransformVisitor.hh
Labels: enhancement, performance

#1028 Update cmake presets for Zeus
  scripts/cmake-presets/zeus.json
Labels: documentation, minor

#1029 Simplify data access for host collections
  src/corecel/data/Collection.hh
  src/corecel/data/detail/CollectionImpl.hh
  test/corecel/data/Collection.test.cc
Labels: core, minor

#1030 Update Celeritas CMake defaults and add documentation build
  .github/workflows/doc.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  CMakeLists.txt
  CMakePresets.json
  cmake/CeleritasUtils.cmake
  doc/CMakeLists.txt
  scripts/dev/run-cloc.sh
  scripts/env/crusher.sh
  scripts/env/frontier.sh
  scripts/requirements.txt
  src/celeritas/ext/VecgeomParams.surface.cu
  src/celeritas/mat/IsotopeView.hh
  src/celeritas_config.h.in
  src/celeritas_version.h.in
  src/corecel/Types.hh
  src/corecel/cont/detail/SpanImpl.hh
  src/corecel/data/detail/LdgIteratorImpl.hh
Labels: core, minor

#1033 Hotfix: CUDA 12.3.52 build error
  src/orange/surf/LocalSurfaceVisitor.hh
  src/orange/transform/TransformVisitor.hh
Labels: minor, orange

#1031 Release v0.4.0
  .github/pull_request_template.md
  .github/pull_request_template.release.md
  CONTRIBUTING.rst
  doc/CMakeLists.txt
  doc/_static/ornltm-header-celeritas.tex
  doc/appendix/administration.rst
  doc/appendix/development.rst
  doc/appendix/license.rst
  doc/appendix/release-history.rst
  doc/appendix/release-history/v0.1.rst
  doc/appendix/release-history/v0.2.rst
  doc/appendix/release-history/v0.3.rst
  doc/appendix/release-history/v0.4.rst
  doc/conf.py
  doc/index.rst
  doc/main/acknowledgments.rst
  doc/main/api.rst
  doc/main/api/accel.rst
  doc/main/api/celeritas.rst
  doc/main/api/corecel.rst
  doc/main/api/orange.rst
  doc/main/examples.rst
  doc/main/examples/geant4.rst
  doc/main/examples/minimal.rst
  doc/main/installation.rst
  doc/main/introduction.rst
  doc/main/overview.rst
  doc/main/references.rst
  doc/main/usage.rst
Labels: documentation

#1036 Fix Jenkins CI build and ccache use
  .github/pull_request_template.md
  .github/workflows/build-fast.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .jenkins
Labels: core, minor

#1034 Write celer-g4 input to output file or screen
  app/celer-g4/GeantDiagnostics.cc
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-g4/celer-g4.cc
  app/celer-g4/celer-g4.nogeant.cc
  app/celer-g4/test-harness.py
  app/celer-sim/celer-sim.cc
  src/celeritas/phys/PrimaryGeneratorOptions.hh
  src/celeritas/phys/PrimaryGeneratorOptionsIO.json.cc
Labels: enhancement, app

#1041 Update Perlmutter CMake profile and env script
  scripts/cmake-presets/perlmutter.json
  scripts/env/perlmutter.sh
Labels: core, minor
