Repository celeritas-project/celeritas, pull requests merged in 2023-09, with the labels that each got.

#919 Use trailing underscore for "sentinel" classes in OpaqueId
  doc/appendices/development.rst
  src/celeritas/Types.hh
  src/celeritas/ext/VecgeomData.hh
  src/corecel/io/Logger.hh
  src/corecel/sys/ThreadId.hh
  src/orange/OrangeTypes.hh
  src/orange/Types.hh
  src/orange/univ/detail/Types.hh
  test/celeritas/grid/GridIdFinder.test.cc
  test/celeritas/random/Selector.test.cc
  test/corecel/cont/LabelIdMultiMap.test.cc
  test/corecel/cont/Range.test.cc
  test/corecel/data/Collection.test.cc
Labels: core, minor

#908 Use par_nosync execution policy to execute thrust algorithms
  doc/usage.rst
  src/celeritas/ext/Thrust.device.hh
  src/celeritas/global/CoreTrackData.cc
  src/celeritas/track/detail/TrackInitAlgorithms.cu
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/track/detail/TrackSortUtils.hh
  src/celeritas/user/DetectorSteps.cu
  src/corecel/device_runtime_api.h
  src/corecel/sys/Device.cc
  src/corecel/sys/Device.hh
  src/corecel/sys/Stream.cc
  src/corecel/sys/Stream.hh
  src/corecel/sys/detail/StreamStorage.hh
Labels: enhancement, core

#917 Implement generic transforms in multi-universe ORANGE
  src/corecel/cont/Range.hh
  src/corecel/data/CollectionBuilder.hh
  src/orange/OrangeData.hh
  src/orange/OrangeTrackView.hh
  src/orange/OrangeTypes.hh
  src/orange/detail/RectArrayInserter.cc
  src/orange/detail/RectArrayInserter.hh
  src/orange/detail/TransformInserter.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  src/orange/surf/Surfaces.hh
  src/orange/surf/VariantSurface.cc
  src/orange/transform/NoTransformation.hh
  src/orange/transform/TransformTypeTraits.hh
  src/orange/transform/TransformVisitor.hh
  src/orange/transform/VariantTransform.cc
  src/orange/transform/VariantTransform.hh
  src/orange/transform/detail/TransformTransformer.hh
  src/orange/transform/detail/TransformTranslator.hh
  test/corecel/data/Collection.test.cc
  test/orange/Orange.test.cc
  test/orange/transform/VariantTransform.test.cc
Labels: enhancement, orange

#922 Fix Seltzer-Berger max xs for positrons
  src/celeritas/em/distribution/SBEnergyDistHelper.hh
  src/celeritas/em/distribution/SBEnergyDistribution.hh
  src/celeritas/em/interactor/detail/SBPositronXsCorrector.hh
  src/celeritas/em/model/SeltzerBergerModel.cc
  src/celeritas/em/model/SeltzerBergerModel.hh
  test/celeritas/em/SeltzerBerger.test.cc
Labels: bug, physics

#920 Activate brems along-step GPIL/DoIt in Geant4 when ionization is missing
  src/celeritas/ext/GeantPhysicsOptions.hh
  src/celeritas/ext/GeantPhysicsOptionsIO.json.cc
  src/celeritas/ext/detail/GeantPhysicsList.cc
  src/celeritas/phys/PhysicsParams.cc
  test/celeritas/ext/GeantImporter.test.cc
Labels: external

#918 Bikeshedding changes to BIH
  src/orange/detail/BIHBuilder.cc
  src/orange/detail/BIHBuilder.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  src/orange/univ/SimpleUnitTracker.hh
Labels: minor, orange

#927 Fix resetting of CUDA streams when running through accel
  src/accel/SharedParams.cc
  src/accel/SharedParams.hh
  src/celeritas/global/detail/ActionSequence.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/user/DetectorSteps.cu
  src/corecel/sys/Device.cc
  src/corecel/sys/Stream.cc
Labels: bug, external

#928 Hotfix: fix crash when running celer-g4 without cuda
  src/accel/SharedParams.cc
Labels: minor

#925 Release v0.3.2
  doc/CMakeLists.txt
  doc/api/celeritas.rst
  doc/appendices/release-history/v0.3.rst
  doc/conf.py
  scripts/cmake-presets/wildstyle.json
  scripts/env/crusher.sh
  src/celeritas/em/interactor/detail/BremFinalStateHelper.hh
  src/celeritas/em/interactor/detail/SBPositronXsCorrector.hh
  src/corecel/cont/Span.hh
  src/orange/BoundingBoxUtils.hh
  src/orange/detail/BIHUtils.hh
  src/orange/surf/LocalSurfaceVisitor.hh
  src/orange/surf/SurfaceSimplifier.cc
  test/celeritas/em/SeltzerBerger.test.cc
Labels: documentation

#931 Fix uniform field unit conversion
  app/celer-g4/DetectorConstruction.cc
  src/accel/AlongStepFactory.cc
Labels: bug, app

#932 Rewrite soft equality for simplicity
  app/demo-interactor/XsGridParams.cc
  src/celeritas/em/interactor/MollerBhabhaInteractor.hh
  src/celeritas/em/interactor/detail/SBPositronXsCorrector.hh
  src/celeritas/phys/ParticleTrackView.hh
  src/corecel/math/ArrayUtils.hh
  src/corecel/math/SoftEqual.hh
  test/TestMacros.test.cc
  test/celeritas/Constants.test.cc
  test/celeritas/em/MollerBhabha.test.cc
  test/celeritas/em/RelativisticBrem.test.cc
  test/celeritas/field/FieldDriver.test.cc
  test/celeritas/field/FieldPropagator.test.cc
  test/celeritas/field/Steppers.test.cc
  test/celeritas/phys/InteractorHostTestBase.cc
  test/celeritas/random/RngTally.hh
  test/corecel/math/ArrayUtils.test.cc
  test/corecel/math/SoftEqual.test.cc
  test/orange/surf/SurfaceSimplifier.test.cc
  test/testdetail/TestMacrosImpl.hh
Labels: core, minor

#934 Optimize ORANGE surface intersection testing
  src/orange/univ/SimpleUnitTracker.hh
  src/orange/univ/detail/SurfaceFunctors.hh
Labels: minor, orange

#923 Implement CSG tree simplification in ORANGE
  src/corecel/cont/VariantUtils.hh
  src/corecel/math/HashUtils.hh
  src/corecel/math/detail/FnvHasher.hh
  src/orange/CMakeLists.txt
  src/orange/OrangeTypes.hh
  src/orange/construct/CsgTree.cc
  src/orange/construct/CsgTree.hh
  src/orange/construct/CsgTreeIO.json.cc
  src/orange/construct/CsgTreeIO.json.hh
  src/orange/construct/CsgTypes.cc
  src/orange/construct/CsgTypes.hh
  src/orange/construct/detail/NodeSimplifier.cc
  src/orange/construct/detail/NodeSimplifier.hh
  test/CMakeLists.txt
  test/TestMacros.hh
  test/corecel/cont/VariantUtils.test.cc
  test/corecel/math/HashUtils.test.cc
  test/orange/CsgTree.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/testdetail/TestMacrosImpl.cc
  test/testdetail/TestMacrosImpl.hh
Labels: enhancement, orange

#930 Add Windows support
  CMakeLists.txt
  app/celer-sim/RunnerInput.hh
  app/celer-sim/Transporter.cc
  scripts/cmake-presets/wildstyle.json
  src/celeritas/CMakeLists.txt
  src/celeritas/em/interactor/RayleighInteractor.hh
  src/celeritas/em/model/RayleighModel.cc
  src/celeritas/em/model/RelativisticBremModel.cc
  src/celeritas/em/model/WentzelModel.cc
  src/celeritas/ext/GeantSetup.hh
  src/celeritas/field/DormandPrinceStepper.hh
  src/celeritas/field/RZMapFieldData.hh
  src/celeritas/grid/VectorUtils.cc
  src/celeritas/phys/PhysicsData.hh
  src/celeritas/random/XorwowRngData.cc
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/track/detail/TrackSortUtils.hh
  src/celeritas/user/SimpleCalo.cc
  src/corecel/CMakeLists.txt
  src/corecel/cont/Range.hh
  src/corecel/data/Collection.hh
  src/corecel/io/ColorUtils.cc
  src/corecel/io/StringUtils.cc
  src/corecel/math/Algorithms.hh
  src/corecel/math/Quantity.hh
  src/corecel/math/detail/MathImpl.hh
  src/corecel/sys/Environment.cc
  src/corecel/sys/KernelRegistry.hh
  src/corecel/sys/MemRegistry.hh
  src/corecel/sys/ScopedMem.cc
  src/corecel/sys/ScopedMem.hh
  src/corecel/sys/Stream.cc
  src/corecel/sys/Version.cc
  src/orange/CMakeLists.txt
  src/orange/construct/detail/NodeSimplifier.cc
  src/orange/detail/UnitInserter.cc
  src/orange/surf/PlaneAligned.cc
  src/orange/surf/detail/QuadricPlaneConverter.hh
  test/CMakeLists.txt
  test/Test.cc
  test/celeritas/em/BetheHeitler.test.cc
  test/celeritas/em/UrbanMsc.test.cc
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/grid/CalculatorTestBase.cc
  test/celeritas/random/SequenceEngine.hh
  test/celeritas/track/TrackInit.test.cc
  test/corecel/cont/Range.test.cc
  test/corecel/io/Join.test.cc
  test/corecel/math/NumericLimits.test.cc
  test/corecel/math/Quantity.test.cc
  test/corecel/sys/ScopedSignalHandler.test.cc
  test/testdetail/TestMacrosImpl.hh
Labels: enhancement, core

#933 Add soft equivalence for quadric surfaces
  src/corecel/math/ArrayUtils.hh
  src/corecel/math/SoftEqual.hh
  src/orange/CMakeLists.txt
  src/orange/surf/SoftSurfaceEqual.cc
  src/orange/surf/SoftSurfaceEqual.hh
  src/orange/surf/detail/QuadricCylConverter.hh
  src/orange/surf/detail/SurfaceClipperImpl.cc
  src/orange/surf/detail/SurfaceClipperImpl.hh
  src/orange/surf/detail/SurfaceTranslator.cc
  test/CMakeLists.txt
  test/orange/surf/SoftSurfaceEqual.test.cc
  test/orange/surf/detail/SurfaceTranslator.test.cc
Labels: enhancement, orange

#937 Hotfix: warning in ipow template instantiation
  src/corecel/math/Algorithms.hh
Labels: core, minor

#926 Update documentation and precalculate Wenzel nuclear form factor constants
  src/celeritas/em/data/WentzelData.hh
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/model/WentzelModel.cc
  src/celeritas/em/model/WentzelModel.hh
  src/celeritas/em/xs/WentzelRatioCalculator.hh
  src/celeritas/mat/IsotopeView.hh
  test/CMakeLists.txt
  test/celeritas/em/Wentzel.test.cc
Labels: physics, minor

#938 Correctly map HepMC3 events to Geant4 events
  src/accel/HepMC3PrimaryGenerator.cc
  src/accel/HepMC3PrimaryGenerator.hh
Labels: bug, external, backport

#936 Improve and fix Geant4 volume conversion on boundaries
  src/accel/CMakeLists.txt
  src/accel/detail/HitProcessor.cc
  src/accel/detail/HitProcessor.hh
  src/accel/detail/TouchableUpdater.cc
  src/accel/detail/TouchableUpdater.hh
  src/celeritas/ext/Convert.geant.hh
  src/celeritas/ext/GeantGeoParams.cc
  src/celeritas/ext/GeantGeoParams.hh
  test/CMakeLists.txt
  test/accel/detail/TouchableUpdater.test.cc
  test/celeritas/ext/GeantGeo.test.cc
Labels: bug, external, backport

#929 Fix ORANGE multi-level surface crossing
  src/orange/OrangeData.hh
  src/orange/OrangeTrackView.hh
  src/orange/detail/LevelStateAccessor.hh
  test/orange/Orange.test.cc
  test/orange/data/hex_array.org.json
  test/orange/univ/SimpleUnitTracker.test.hh
Labels: bug, orange

#940 Fix ORANGE bounding box bumping to be consistent with tracking tolerances
  src/orange/BoundingBoxUtils.hh
  src/orange/detail/UnitInserter.cc
  test/Test.hh
  test/orange/BoundingBoxUtils.test.cc
Labels: bug, orange

#942 Fix Geant4 field construction in celer-g4
  app/celer-g4/DetectorConstruction.cc
Labels: bug, app

#910 Support for asynchronous memory operations
  src/celeritas/CMakeLists.txt
  src/celeritas/global/detail/PinnedAllocator.cc
  src/celeritas/track/detail/TrackInitAlgorithms.cu
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/user/DetectorSteps.cc
  src/celeritas/user/DetectorSteps.cu
  src/celeritas/user/DetectorSteps.hh
  src/corecel/CMakeLists.txt
  src/corecel/Macros.hh
  src/corecel/PinnedAllocator.cc
  src/corecel/data/Copier.cc
  src/corecel/data/Copier.hh
  src/corecel/data/PinnedAllocator.hh
  src/corecel/data/PinnedAllocator.t.hh
  src/corecel/data/detail/Filler.device.t.hh
  src/corecel/data/detail/Filler.hh
  src/corecel/io/Repr.hh
  src/corecel/sys/Stream.cc
  src/corecel/sys/Thrust.device.hh
  test/celeritas/user/DetectorSteps.test.cc
Labels: enhancement, core

#943 Add option to disable SD hit collection in celer-g4
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
Labels: enhancement, app

#941 Define unified tolerances class for ORANGE
  src/orange/BoundingBox.hh
  src/orange/BoundingBoxUtils.hh
  src/orange/OrangeData.hh
  src/orange/OrangeParams.cc
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/construct/OrangeInputIO.json.hh
  src/orange/detail/UnitInserter.cc
  src/orange/surf/CylAligned.hh
  src/orange/surf/CylCentered.hh
  src/orange/surf/detail/QuadraticSolver.hh
  src/orange/univ/SimpleUnitTracker.hh
  src/orange/univ/detail/Utils.hh
  test/orange/BoundingBoxUtils.test.cc
  test/orange/Orange.test.cc
  test/orange/univ/SimpleUnitTracker.test.cc
Labels: enhancement, orange

#944 Add timers to celer-g4
  app/celer-g4/ActionInitialization.cc
  app/celer-g4/CMakeLists.txt
  app/celer-g4/EventAction.cc
  app/celer-g4/EventAction.hh
  app/celer-g4/GeantDiagnostics.cc
  app/celer-g4/GeantDiagnostics.hh
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/GlobalSetup.hh
  app/celer-g4/RunAction.cc
  app/celer-g4/RunAction.hh
  app/celer-g4/TimerOutput.cc
  app/celer-g4/TimerOutput.hh
  app/celer-g4/celer-g4.cc
  app/celer-sim/RunnerOutput.hh
  app/celer-sim/Transporter.hh
  src/accel/GeantStepDiagnostic.cc
  src/accel/LocalTransporter.cc
  src/accel/LocalTransporter.hh
  src/accel/SetupOptions.cc
  src/accel/SetupOptions.hh
Labels: enhancement, app

#946 Use async allocation for temporary track sorting storage.
  src/celeritas/track/detail/TrackSortUtils.cu
Labels: core, minor

#947 Update roles to distinguish "core advisor"
  doc/appendices/administration.rst
Labels: documentation

#951 Fix accumulated action times in celer-sim
  app/celer-g4/TimerOutput.cc
  app/celer-g4/TimerOutput.hh
  app/celer-sim/Runner.cc
  app/celer-sim/Runner.hh
  app/celer-sim/RunnerOutput.cc
  app/celer-sim/RunnerOutput.hh
  app/celer-sim/Transporter.cc
  app/celer-sim/Transporter.hh
  app/celer-sim/celer-sim.cc
  src/accel/LocalTransporter.cc
Labels: bug, app

#950 Fix build errors on macOS
  app/celer-g4/TimerOutput.hh
  test/CMakeLists.txt
Labels: bug, minor

#953 Async `DeviceAllocation`
  src/celeritas/track/detail/TrackSortUtils.cu
  src/corecel/data/DeviceAllocation.cc
  src/corecel/data/DeviceAllocation.hh
  src/corecel/data/DeviceVector.hh
Labels: enhancement, core

#954 Support energy loss fluctuations in uniform field along-step
  app/celer-sim/Runner.cc
  src/accel/AlongStepFactory.cc
  src/celeritas/global/alongstep/AlongStepGeneralLinearAction.cc
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.cc
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.cu
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.hh
  src/celeritas/global/alongstep/AlongStepUniformMscAction.cc
  src/celeritas/global/alongstep/AlongStepUniformMscAction.cu
  src/celeritas/global/alongstep/AlongStepUniformMscAction.hh
  test/celeritas/global/AlongStep.test.cc
  test/celeritas/global/Stepper.test.cc
  test/celeritas/user/Diagnostic.test.cc
  test/celeritas/user/StepCollector.test.cc
Labels: internal

#957 Add defaults and runtime checking to primary generator
  src/celeritas/phys/PrimaryGeneratorOptions.cc
  src/celeritas/phys/PrimaryGeneratorOptions.hh
  src/celeritas/phys/PrimaryGeneratorOptionsIO.json.cc
Labels: minor, app

#945 Simplify nearly-zero displacements to zero
  src/orange/surf/SurfaceSimplifier.cc
  src/orange/surf/SurfaceSimplifier.hh
  test/orange/surf/SurfaceSimplifier.test.cc
Labels: minor, orange

#952 Avoid maybe_unused attribute because of old GCC
  app/celer-g4/TimerOutput.cc
  app/celer-sim/Runner.cc
  app/celer-sim/RunnerOutput.cc
  src/accel/GeantStepDiagnostic.cc
  src/accel/HepMC3PrimaryGenerator.hh
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantImporter.hh
  src/celeritas/ext/ScopedRootErrorHandler.hh
  src/celeritas/geo/GeoParamsOutput.cc
  src/celeritas/global/ActionRegistryOutput.cc
  src/celeritas/global/KernelContextException.cc
  src/celeritas/io/EventReader.hh
  src/celeritas/io/EventWriter.hh
  src/celeritas/io/RootEventReader.hh
  src/celeritas/io/RootEventWriter.hh
  src/celeritas/mat/MaterialParamsOutput.cc
  src/celeritas/phys/ParticleParamsOutput.cc
  src/celeritas/phys/PhysicsParamsOutput.cc
  src/celeritas/user/ActionDiagnostic.cc
  src/celeritas/user/SimpleCalo.cc
  src/celeritas/user/StepDiagnostic.cc
  src/corecel/Assert.hh
  src/corecel/Macros.hh
  src/corecel/data/Copier.cc
  src/corecel/io/BuildOutput.cc
  src/corecel/io/ExceptionOutput.cc
  src/corecel/io/JsonPimpl.hh
  src/corecel/io/OutputInterface.cc
  src/corecel/io/OutputRegistry.cc
  src/corecel/math/Algorithms.hh
  src/corecel/sys/KernelAttributes.hh
  src/corecel/sys/KernelParamCalculator.device.hh
  src/corecel/sys/Stream.cc
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/celeritas/global/KernelContextException.test.cc
  test/corecel/io/OutputRegistry.test.cc
Labels: core, minor

#955 Add collection builder that deduplicates on insertion
  src/corecel/OpaqueId.hh
  src/corecel/Types.hh
  src/corecel/cont/detail/RangeImpl.hh
  src/corecel/data/Collection.hh
  src/corecel/data/CollectionBuilder.hh
  src/corecel/data/DedupeCollectionBuilder.hh
  src/corecel/math/HashUtils.hh
  src/corecel/math/detail/FnvHasher.hh
  test/celeritas/phys/Physics.test.cc
  test/corecel/cont/Range.test.cc
  test/corecel/data/Collection.test.cc
  test/corecel/math/HashUtils.test.cc
Labels: enhancement, core

#958 Fix ORANGE rectangular array construction from SCALE
  src/corecel/data/detail/HyperslabIndexerImpl.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/detail/RectArrayInserter.cc
  src/orange/univ/RectArrayTracker.hh
  test/orange/Orange.test.cc
  test/orange/data/rect_array.org.json
  test/orange/univ/RectArrayTracker.test.cc
Labels: minor, orange

#961 Improve CPU along-step performance
  src/celeritas/global/alongstep/AlongStepGeneralLinearAction.cc
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.cc
  src/celeritas/global/alongstep/AlongStepUniformMscAction.cc
Labels: enhancement, internal

#959 Implement TrackerVisitor for multiply-dispatched tracker types
  src/orange/univ/TrackerVisitor.hh
  src/orange/univ/UniverseTypeTraits.hh
  test/CMakeLists.txt
  test/orange/univ/TrackerVisitor.test.cc
Labels: enhancement, orange

#956 Deduplicate ORANGE geometry on insertion
  src/celeritas/global/CoreParams.cc
  src/orange/CMakeLists.txt
  src/orange/OrangeData.hh
  src/orange/OrangeParamsOutput.cc
  src/orange/OrangeParamsOutput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/construct/OrangeInputIO.json.hh
  src/orange/detail/BIHData.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  src/orange/univ/SimpleUnitTracker.hh
  test/CMakeLists.txt
  test/celeritas/field/FieldPropagator.test.cc
  test/celeritas/mat/Material.test.cc
  test/celeritas/phys/Physics.test.cc
  test/orange/Orange.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/OrangeGeoTestBase.hh
Labels: enhancement, core, orange

#939 Implement CSG tree simplification algorithms
  src/orange/CMakeLists.txt
  src/orange/construct/CsgTreeUtils.cc
  src/orange/construct/CsgTreeUtils.hh
  src/orange/construct/detail/NodeReplacementInserter.hh
  src/orange/construct/detail/PostfixLogicBuilder.hh
  test/CMakeLists.txt
  test/orange/CsgTreeUtils.test.cc
Labels: enhancement, orange

#962 Improve JSON conversion for bounding box edge cases
  src/celeritas/CMakeLists.txt
  src/corecel/cont/Array.hh
  src/corecel/math/QuantityIO.json.hh
  src/orange/BoundingBox.hh
  src/orange/BoundingBoxIO.json.cc
  src/orange/BoundingBoxIO.json.hh
  src/orange/CMakeLists.txt
  test/CMakeLists.txt
  test/orange/BoundingBox.test.cc
Labels: enhancement, orange

#963 Fix build errors in SCALE CI
  src/corecel/math/detail/FnvHasher.hh
  src/orange/detail/UnitInserter.hh
  test/CMakeLists.txt
  test/orange/Orange.test.cu
Labels: core, minor

#960 Fix using ORANGE geometry with pointer-appended GDML
  src/celeritas/geo/GeoMaterialParams.cc
  src/celeritas/geo/GeoMaterialParams.hh
  test/accel/detail/HitManager.test.cc
  test/celeritas/data/testem3-flat.gdml
  test/celeritas/data/testem3-flat.org.json
  test/celeritas/data/testem3-flat.org.py
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/geo/Geometry.test.cc
  test/celeritas/user/StepCollector.test.cc
Labels: bug, internal
