Repository celeritas-project/celeritas, pull requests merged in 2023-10, with the labels that each got.

#964 Add option to disable track count output in celer-sim
  app/celer-sim/Runner.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/Transporter.cc
  app/celer-sim/Transporter.hh
Labels: minor, app

#966 Hotfix: windows build error and missing bbox construction
  src/orange/construct/CsgTreeUtils.cc
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/detail/BIHBuilder.cc
Labels: minor

#965 Added mapped memspace and support for mapped collection
  src/celeritas/global/CoreState.cc
  src/celeritas/global/CoreState.hh
  src/celeritas/global/detail/PinnedAllocator.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/track/detail/TrackSortUtils.hh
  src/corecel/Types.hh
  src/corecel/data/Collection.hh
  src/corecel/data/Copier.cc
  src/corecel/data/detail/CollectionImpl.hh
  src/corecel/data/detail/FillInvalid.hh
  src/corecel/data/detail/Filler.hh
  src/corecel/data/detail/RefImpl.hh
  src/corecel/sys/Device.cc
  src/corecel/sys/Device.hh
  src/corecel/sys/DeviceIO.json.cc
  test/celeritas/track/TrackSort.test.cc
Labels: enhancement, core

#968 Fix performance regression on HIP
  src/celeritas/global/alongstep/detail/UniformFieldPropagatorFactory.hh
Labels: bug, core

#969 Hotfix: build errors due to `if constexpr` on NVCC < 11.5
  src/corecel/math/Algorithms.hh
  src/corecel/sys/Thrust.device.hh
Labels: core, minor

#971 Add environment scripts for exalearn4
  scripts/cmake-presets/exalearn4.json
  scripts/env/exalearn4.sh
Labels: minor

#974 Make sure `TrackInitParams` input is initialized
  src/celeritas/track/TrackInitParams.cc
  src/celeritas/track/TrackInitParams.hh
  test/celeritas/GeantTestBase.cc
  test/celeritas/MockTestBase.cc
  test/celeritas/SimpleTestBase.cc
Labels: bug

#970 HIP implementation of ScopedProfiling
  CMakeLists.txt
  scripts/env/exalearn4.sh
  src/CMakeLists.txt
  src/celeritas_sys_config.h.in
  src/corecel/CMakeLists.txt
  src/corecel/sys/ScopedProfiling.hh
  src/corecel/sys/ScopedProfiling.hip.cc
Labels: minor

#972 Reorganize JSON input and unit test for ORANGE
  src/orange/CMakeLists.txt
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/construct/OrangeInputIO.json.hh
  src/orange/construct/detail/OrangeInputIOImpl.json.cc
  src/orange/construct/detail/OrangeInputIOImpl.json.hh
  test/CMakeLists.txt
  test/orange/Orange.test.cc
  test/orange/OrangeTypes.test.cc
Labels: minor, orange

#973 Enable tracking through rectangular arrays
  src/orange/OrangeTrackView.hh
  test/orange/Orange.test.cc
  test/orange/data/nested_rect_arrays.org.json
  test/orange/data/nested_rect_arrays.org.omn
Labels: enhancement, orange

#975 Improve inlining and warning messages for scoped profiling
  doc/usage.rst
  src/corecel/sys/ScopedProfiling.cuda.cc
  src/corecel/sys/ScopedProfiling.hh
  src/corecel/sys/ScopedProfiling.hip.cc
Labels: core, minor

#980 Drop trailing underscores for private functions and leading `this->` for private data
  doc/appendices/development.rst
  src/accel/RZMapMagneticField.hh
  src/celeritas/em/interactor/BetheHeitlerInteractor.hh
  src/celeritas/em/interactor/CombinedBremInteractor.hh
  src/celeritas/em/interactor/EPlusGGInteractor.hh
  src/celeritas/em/interactor/KleinNishinaInteractor.hh
  src/celeritas/em/interactor/MollerBhabhaInteractor.hh
  src/celeritas/em/interactor/MuBremsstrahlungInteractor.hh
  src/celeritas/em/interactor/RelativisticBremInteractor.hh
  src/celeritas/em/interactor/SeltzerBergerInteractor.hh
  src/celeritas/ext/g4vg/LogicalVolumeConverter.cc
  src/celeritas/ext/g4vg/SolidConverter.cc
  src/celeritas/ext/g4vg/Transformer.hh
  src/corecel/sys/ScopedProfiling.cuda.cc
  src/corecel/sys/ScopedProfiling.hh
  src/corecel/sys/ScopedProfiling.hip.cc
  src/orange/construct/detail/PostfixLogicBuilder.hh
  src/orange/surf/SoftSurfaceEqual.cc
  src/orange/surf/SoftSurfaceEqual.hh
Labels: minor

#981 Support HIP 5.1.0 and add Frontier build scripts
  scripts/cmake-presets/frontier.json
  scripts/env/frontier.sh
  src/corecel/data/DeviceAllocation.cc
  src/corecel/sys/Device.cc
  src/corecel/sys/Stream.cc
  src/corecel/sys/Stream.hh
Labels: minor

#924 Refactor surface input with vector of variants
  src/orange/CMakeLists.txt
  src/orange/OrangeParams.cc
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/construct/OrangeInputIO.json.hh
  src/orange/construct/SurfaceInputBuilder.cc
  src/orange/construct/SurfaceInputBuilder.hh
  src/orange/construct/detail/OrangeInputIOImpl.json.cc
  src/orange/construct/detail/OrangeInputIOImpl.json.hh
  src/orange/detail/RectArrayInserter.cc
  src/orange/detail/SurfacesRecordBuilder.cc
  src/orange/detail/SurfacesRecordBuilder.hh
  src/orange/detail/TransformInserter.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/corecel/data/Collection.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/surf/LocalSurfaceVisitor.test.cc
Labels: minor, orange

#984 Improve performance with lower launch bounds
  CMakeLists.txt
  app/demo-interactor/KNDemoIO.cc
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoRunner.cc
  app/demo-rasterizer/RDemoKernel.cu
  doc/usage.rst
  src/celeritas/global/ActionLauncher.device.hh
  src/celeritas/global/detail/ActionLauncherKernel.device.hh
  src/celeritas/global/detail/ApplierTraits.hh
  src/celeritas/random/detail/CuHipRngStateInit.cu
  src/celeritas/track/ExtendFromSecondariesAction.cu
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/user/DetectorSteps.cu
  src/celeritas/user/detail/SimpleCaloImpl.cu
  src/celeritas_config.h.in
  src/corecel/sys/Device.cc
  src/corecel/sys/Device.hh
  src/corecel/sys/DeviceIO.json.cc
  src/corecel/sys/KernelAttributes.hh
  src/corecel/sys/KernelParamCalculator.device.hh
  test/celeritas/ext/Vecgeom.test.cu
  test/celeritas/geo/HeuristicGeoTestBase.cu
  test/celeritas/mat/Material.test.cu
  test/celeritas/phys/Particle.test.cu
  test/celeritas/phys/Physics.test.cu
  test/celeritas/random/RngEngine.test.cu
  test/corecel/cont/Range.test.cc
  test/corecel/cont/Range.test.cu
  test/corecel/cont/Range.test.hh
  test/corecel/data/Collection.test.cu
  test/corecel/data/ObserverPtr.test.cu
  test/corecel/data/StackAllocator.test.cu
  test/orange/surf/LocalSurfaceVisitor.test.cu
  test/orange/univ/SimpleUnitTracker.test.cu
Labels: core, minor

#976 Export ORANGE input from JSON and add full support for transforms
  app/CMakeLists.txt
  app/celer-dump-data.cc
  app/celer-export-geant.cc
  app/orange-update.cc
  doc/usage.rst
  scripts/cmake-presets/goldfinger.json
  src/orange/BoundingBox.hh
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/construct/OrangeInputIO.json.hh
  src/orange/construct/detail/OrangeInputIOImpl.json.cc
  src/orange/construct/detail/OrangeInputIOImpl.json.hh
  src/orange/detail/UnitInserter.cc
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/OrangeTypes.test.cc
  test/orange/surf/LocalSurfaceVisitor.test.cc
Labels: enhancement, orange

#985 Run "warmup step" to hide once-off overhead from total run time
  app/celer-sim/Runner.cc
  app/celer-sim/Runner.hh
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/RunnerOutput.cc
  app/celer-sim/RunnerOutput.hh
  app/celer-sim/Transporter.cc
  app/celer-sim/Transporter.hh
  app/celer-sim/celer-sim.cc
  doc/usage.rst
  src/celeritas/global/CoreState.hh
  src/celeritas/global/Stepper.cc
  src/celeritas/global/detail/ActionSequence.cc
  src/celeritas/track/ExtendFromPrimariesAction.cc
  src/celeritas/track/ExtendFromPrimariesAction.cu
  src/celeritas/track/InitializeTracksAction.cc
  src/celeritas/track/InitializeTracksAction.cu
Labels: bug, app

#989 Fix linking to CUDA toolkit when using VecGeom
  CMakeLists.txt
  cmake/CeleritasLibrary.cmake
Labels: bug

#987 Improve Quantity for field conversions and non-real_type use cases
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/GlobalSetup.hh
  app/celer-g4/RunInput.hh
  app/celer-sim/Runner.cc
  src/accel/RZMapMagneticField.hh
  src/celeritas/Quantities.hh
  src/celeritas/ext/Convert.geant.hh
  src/celeritas/field/RZMapFieldInput.hh
  src/celeritas/field/RZMapFieldInputIO.json.cc
  src/celeritas/field/RZMapFieldParams.cc
  src/corecel/math/NumericLimits.hh
  src/corecel/math/Quantity.hh
  test/CMakeLists.txt
  test/accel/RZMapMagneticField.test.cc
  test/celeritas/Constants.test.cc
  test/corecel/math/Quantity.test.cc
Labels: enhancement, core, minor

#977 Refactor universe insertion and add universe accessors to orange params
  src/orange/CMakeLists.txt
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  src/orange/OrangeTrackView.hh
  src/orange/construct/DepthCalculator.cc
  src/orange/construct/DepthCalculator.hh
  src/orange/detail/RectArrayInserter.cc
  src/orange/detail/RectArrayInserter.hh
  src/orange/detail/SurfacesRecordBuilder.cc
  src/orange/detail/SurfacesRecordBuilder.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  src/orange/detail/UniverseInserter.cc
  src/orange/detail/UniverseInserter.hh
  test/orange/Orange.test.cc
Labels: minor, orange

#993 Unify names for celer-sim and celer-g4 input
  app/celer-g4/RunInput.hh
  app/celer-sim/RootOutput.cc
  app/celer-sim/Runner.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/simple-driver.py
Labels: app

#995 Use fused multiply-add to improve performance and numerical accuracy
  src/celeritas/grid/PolyEvaluator.hh
  src/celeritas/random/distribution/NormalDistribution.hh
  src/celeritas/random/distribution/UniformRealDistribution.hh
  src/corecel/grid/Interpolator.hh
  src/corecel/math/ArrayUtils.hh
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
Labels: core, minor

#992 Implement concrete G4VFastSimulationModel for offload to Celeritas
  doc/examples/geant4.rst
  example/accel/CMakeLists.txt
  example/accel/fastsim-offload.cc
  example/accel/simple-offload.cc
  example/minimal/CMakeLists.txt
  scripts/ci/test-examples.sh
  scripts/cmake-presets/goldfinger.json
  src/accel/CMakeLists.txt
  src/accel/FastSimulationOffload.cc
  src/accel/FastSimulationOffload.hh
Labels: enhancement, external

#986 Support device-specific launch bounds
  src/celeritas/em/executor/BetheHeitlerExecutor.hh
  src/celeritas/global/ActionLauncher.device.hh
  src/celeritas/global/detail/ActionLauncherKernel.device.hh
  src/celeritas/phys/InteractionApplier.hh
Labels: core, minor

#996 Implement LdgIterator abstraction
  src/corecel/OpaqueId.hh
  src/corecel/data/LdgIterator.hh
  src/corecel/data/detail/LdgIteratorImpl.hh
  test/CMakeLists.txt
  test/corecel/data/LdgIterator.test.cc
Labels: enhancement, core
