Repository celeritas-project/celeritas, pull requests merged in 2023-08, with the labels that each got.

#871 Add PolyEvaluator deduction guides
  src/celeritas/grid/PolyEvaluator.hh
  src/corecel/cont/Array.hh
  test/celeritas/grid/PolyEvaluator.test.cc
Labels: core, minor

#863 Fix HepMC3 reading of vertices and status codes
  app/data/ttbarbits-12evt-118prim.hepmc3
  app/data/ttbarsplit-12evt-1108prim.hepmc3
  src/accel/HepMC3PrimaryGenerator.cc
  src/accel/HepMC3PrimaryGenerator.hh
  src/celeritas/io/EventReader.cc
  src/celeritas/io/EventWriter.cc
  test/accel/HepMC3PrimaryGenerator.test.cc
  test/celeritas/io/EventIO.test.cc
Labels: bug, external

#873 Add thread-safe assertion to RootStepWriter
  src/celeritas/user/RootStepWriter.cc
Labels: bug, io, minor

#870 Export full Celeritas version string as well as defaulted CMake variables
  CMakeLists.txt
  cmake/CeleritasUtils.cmake
  src/CMakeLists.txt
Labels: core, minor

#875 Reuse chord length between successive field advances
  src/celeritas/field/FieldDriver.hh
  src/celeritas/field/FieldDriverOptions.hh
  src/celeritas/field/FieldPropagator.hh
  src/celeritas/field/detail/FieldUtils.hh
  test/celeritas/field/FieldDriver.test.cc
  test/celeritas/field/FieldPropagator.test.cc
  test/celeritas/global/AlongStep.test.cc
  test/celeritas/user/StepCollector.test.cc
Labels: field, minor

#878 Improve polynomial deduction guide
  src/celeritas/grid/PolyEvaluator.hh
Labels: core, minor

#877 Validate `KernelParamCalculator` block size using CUDA/HIP function attributes
  src/celeritas/global/ActionLauncher.device.hh
  src/corecel/sys/KernelParamCalculator.device.hh
Labels: core, minor

#858 Extend geometry robustness testing
  .jenkins
  CMakeLists.txt
  cmake/CeleritasAddTest.cmake
  scripts/cmake-presets/ci-centos-rocm.json
  scripts/cmake-presets/ci-ubuntu-cuda.json
  scripts/cmake-presets/ci-ubuntu-minimal.json
  scripts/docker/build.sh
  scripts/docker/ci/Dockerfile
  src/celeritas/ext/GeantGeoTrackView.hh
  src/celeritas/field/FieldPropagator.hh
  src/orange/OrangeTrackView.hh
  test/CMakeLists.txt
  test/celeritas/GenericGeoTestBase.cc
  test/celeritas/GenericGeoTestBase.hh
  test/celeritas/GlobalTestBase.hh
  test/celeritas/data/cmse.gdml
  test/celeritas/data/two-boxes.org.json
  test/celeritas/ext/GeantGeo.test.cc
  test/celeritas/ext/Vecgeom.test.cc
  test/celeritas/field/FieldPropagator.test.cc
  test/celeritas/field/FieldTestBase.cc
  test/celeritas/field/FieldTestBase.hh
  test/celeritas/geo/CheckedGeoTrackView.hh
  test/celeritas/geo/Geometry.test.cc
  test/celeritas/geo/HeuristicGeoExecutor.hh
  test/celeritas/geo/HeuristicGeoTestBase.cc
  test/celeritas/geo/HeuristicGeoTestBase.hh
  test/celeritas/user/Diagnostic.test.cc
  test/corecel/ScopedLogStorer.hh
  test/testdetail/ParallelHandler.cc
Labels: documentation, external

#874 Add setup options for the magnetic field and along step action in the celer-g4 application
  app/celer-g4/DetectorConstruction.cc
  app/celer-g4/DetectorConstruction.hh
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/GlobalSetup.hh
  src/accel/RZMapMagneticField.hh
  src/celeritas/field/RZMapField.hh
Labels: field, app

#880 Add basic field driver option support to RZ map field
  src/celeritas/field/FieldDriverOptionsIO.json.cc
  src/celeritas/field/RZMapFieldInput.hh
  src/celeritas/field/RZMapFieldInputIO.json.cc
  src/celeritas/field/RZMapFieldParams.cc
Labels: enhancement, field

#882 Restore "small step updates momentum" condition (part of #875) in field propagator
  src/celeritas/field/FieldPropagator.hh
  test/celeritas/field/FieldPropagator.test.cc
Labels: bug, field

#876 Release v0.3.1
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/appendices/administration.rst
  doc/appendices/release-history/v0.3.rst
  doc/conf.py
  doc/config.json.in
  doc/usage.rst
  scripts/spack.yaml
  src/accel/LocalTransporter.hh
  src/accel/SetupOptionsMessenger.hh
  src/accel/SharedParams.hh
  src/celeritas/ext/g4vg/Converter.cc
  src/celeritas/ext/g4vg/SolidConverter.cc
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/user/RootStepWriter.cc
  src/corecel/Assert.hh
  src/corecel/io/OutputInterfaceAdapter.hh
  test/celeritas/GenericGeoTestBase.hh
  test/celeritas/io/EventIO.test.cc
Labels: documentation

#879 Refactor and extend BoundingBox
  src/celeritas/ext/GeantGeoParams.cc
  src/celeritas/ext/GeantGeoParams.hh
  src/celeritas/ext/VecgeomParams.cc
  src/celeritas/ext/VecgeomParams.hh
  src/orange/BoundingBox.hh
  src/orange/BoundingBoxIO.json.hh
  src/orange/BoundingBoxUtils.hh
  src/orange/GeoParamsInterface.hh
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  test/CMakeLists.txt
  test/orange/BoundingBox.test.cc
  test/orange/BoundingBoxUtils.test.cc
Labels: minor, orange

#849 Implement BIH tree
  src/orange/BoundingBox.hh
  src/orange/CMakeLists.txt
  src/orange/OrangeData.hh
  src/orange/OrangeTypes.hh
  src/orange/detail/BIHBuilder.cc
  src/orange/detail/BIHBuilder.hh
  src/orange/detail/BIHData.hh
  src/orange/detail/BIHPartitioner.cc
  src/orange/detail/BIHPartitioner.hh
  src/orange/detail/BIHUtils.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  test/CMakeLists.txt
  test/orange/OrangeGeoTestBase.cc
  test/orange/data/README.txt
  test/orange/data/field-layers.org.json
  test/orange/data/five-volumes.org.json
  test/orange/data/geant4-testem15.org.json
  test/orange/data/rect_array.org.json
  test/orange/data/universes.org.json
  test/orange/detail/BIHBuilder.test.cc
  test/orange/detail/BIHUtils.test.cc
  test/orange/surf/SurfaceAction.test.cc
  test/orange/univ/SimpleUnitTracker.test.cc
  test/orange/univ/detail/SurfaceFunctors.test.cc
Labels: enhancement, orange

#885 Implement new matrix utilities for ORANGE
  src/corecel/math/Algorithms.hh
  src/corecel/math/ArrayUtils.hh
  src/corecel/math/Turn.hh
  src/corecel/math/detail/AlgorithmsImpl.hh
  src/corecel/math/detail/MathImpl.hh
  src/orange/CMakeLists.txt
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/Types.hh
  test/CMakeLists.txt
  test/corecel/math/Algorithms.test.cc
  test/corecel/math/Quantity.test.cc
  test/orange/MatrixUtils.test.cc
Labels: enhancement, orange

#861 Add Wentzel single Coulomb scattering model
  src/celeritas/CMakeLists.txt
  src/celeritas/Units.hh
  src/celeritas/em/data/WentzelData.hh
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/executor/WentzelExecutor.hh
  src/celeritas/em/interactor/WentzelInteractor.hh
  src/celeritas/em/interactor/detail/PhysicsConstants.hh
  src/celeritas/em/model/WentzelModel.cc
  src/celeritas/em/model/WentzelModel.cu
  src/celeritas/em/model/WentzelModel.hh
  src/celeritas/em/xs/MottRatioCalculator.hh
  src/celeritas/em/xs/WentzelRatioCalculator.hh
  src/celeritas/grid/PolyEvaluator.hh
  test/CMakeLists.txt
  test/celeritas/em/CoulombScattering.test.cc
Labels: enhancement, physics

#881 Implement and hook up Bounding Interval Hierarchy tree traversal class
  src/orange/BoundingBoxUtils.hh
  src/orange/OrangeData.hh
  src/orange/detail/BIHBuilder.cc
  src/orange/detail/BIHBuilder.hh
  src/orange/detail/BIHData.hh
  src/orange/detail/BIHTraverser.hh
  src/orange/detail/UnitInserter.cc
  src/orange/univ/SimpleUnitTracker.hh
  test/CMakeLists.txt
  test/orange/OrangeGeoTestBase.cc
  test/orange/detail/BIHBuilder.test.cc
  test/orange/detail/BIHTraverser.test.cc
Labels: enhancement, orange

#872 Implement GPU-compatible transformations with ORANGE
  src/corecel/cont/Span.hh
  src/orange/CMakeLists.txt
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/OrangeData.hh
  src/orange/OrangeTrackView.hh
  src/orange/OrangeTypes.hh
  src/orange/Translator.hh
  src/orange/construct/OrangeInput.hh
  src/orange/construct/OrangeInputIO.json.cc
  src/orange/transform/Transformation.cc
  src/orange/transform/Transformation.hh
  src/orange/transform/Translation.hh
  test/CMakeLists.txt
  test/orange/MatrixUtils.test.cc
  test/orange/Translator.test.cc
  test/orange/transform/Transformation.test.cc
  test/orange/transform/Translation.test.cc
Labels: enhancement, orange

#888 Fix a bug in sampling secondary gamma energies in EPlusGGInteractor
  src/celeritas/em/interactor/EPlusGGInteractor.hh
  test/celeritas/em/EPlusGG.test.cc
  test/celeritas/global/Stepper.test.cc
  test/celeritas/user/Diagnostic.test.cc
Labels: bug, physics

#898 Hotfix: fix missing include from #849
  src/orange/detail/BIHUtils.hh
Labels: minor

#893 Implement surface promotion in ORANGE
  src/orange/CMakeLists.txt
  src/orange/surf/ConeAligned.cc
  src/orange/surf/ConeAligned.hh
  src/orange/surf/CylAligned.cc
  src/orange/surf/CylAligned.hh
  src/orange/surf/CylCentered.hh
  src/orange/surf/GeneralQuadric.cc
  src/orange/surf/GeneralQuadric.hh
  src/orange/surf/Plane.cc
  src/orange/surf/Plane.hh
  src/orange/surf/PlaneAligned.hh
  src/orange/surf/SimpleQuadric.cc
  src/orange/surf/SimpleQuadric.hh
  src/orange/surf/Sphere.cc
  src/orange/surf/Sphere.hh
  src/orange/surf/SphereCentered.hh
  test/orange/surf/ConeAligned.test.cc
  test/orange/surf/CylAligned.test.cc
  test/orange/surf/CylCentered.test.cc
  test/orange/surf/GeneralQuadric.test.cc
  test/orange/surf/Plane.test.cc
  test/orange/surf/PlaneAligned.test.cc
  test/orange/surf/SimpleQuadric.test.cc
  test/orange/surf/Sphere.test.cc
  test/orange/surf/SphereCentered.test.cc
Labels: enhancement, orange

#901 Refactor StepLimit to SoA
  src/celeritas/em/msc/UrbanMsc.hh
  src/celeritas/geo/detail/BoundaryExecutor.hh
  src/celeritas/global/alongstep/detail/AlongStepNeutralImpl.hh
  src/celeritas/global/alongstep/detail/ElossApplier.hh
  src/celeritas/global/alongstep/detail/FluctELoss.hh
  src/celeritas/global/alongstep/detail/MeanELoss.hh
  src/celeritas/global/alongstep/detail/MscApplier.hh
  src/celeritas/global/alongstep/detail/MscStepLimitApplier.hh
  src/celeritas/global/alongstep/detail/PropagationApplier.hh
  src/celeritas/global/alongstep/detail/TimeUpdater.hh
  src/celeritas/global/alongstep/detail/TrackUpdater.hh
  src/celeritas/global/detail/TrackExecutorImpl.hh
  src/celeritas/phys/detail/DiscreteSelectExecutor.hh
  src/celeritas/phys/detail/PreStepExecutor.hh
  src/celeritas/track/SimData.hh
  src/celeritas/track/SimTrackView.hh
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/track/detail/TrackSortUtils.hh
  src/celeritas/user/detail/ActionDiagnosticExecutor.hh
  src/celeritas/user/detail/StepGatherExecutor.hh
  test/celeritas/global/AlongStepTestBase.cc
  test/celeritas/track/TrackSort.test.cc
Labels: enhancement, core

#887 Implement surface translation and transformation
  src/orange/CMakeLists.txt
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/surf/detail/SurfaceTransformer.cc
  src/orange/surf/detail/SurfaceTransformer.hh
  src/orange/surf/detail/SurfaceTranslator.cc
  src/orange/surf/detail/SurfaceTranslator.hh
  src/orange/transform/Transformation.hh
  test/CMakeLists.txt
  test/orange/MatrixUtils.test.cc
  test/orange/surf/detail/SurfaceTransformer.test.cc
  test/orange/surf/detail/SurfaceTranslator.test.cc
Labels: enhancement, orange

#889 Add intersection method for bbox
  src/corecel/cont/Range.hh
  src/corecel/cont/detail/RangeImpl.hh
  src/corecel/math/Algorithms.hh
  src/orange/BoundingBox.hh
  src/orange/BoundingBoxUtils.hh
  src/orange/OrangeTypes.hh
  src/orange/detail/BIHBuilder.cc
  src/orange/detail/BIHPartitioner.cc
  src/orange/detail/BIHUtils.hh
  test/corecel/math/Algorithms.test.cc
  test/orange/BoundingBox.test.cc
  test/orange/BoundingBoxUtils.test.cc
  test/orange/detail/BIHUtils.test.cc
Labels: enhancement, orange

#895 Add surface "variant" class for host processing
  src/orange/surf/VariantSurface.hh
  src/orange/surf/detail/AllSurfaces.hh
  src/orange/surf/detail/SurfaceAction.hh
  src/orange/surf/detail/VariantSurfaceImpl.hh
  test/orange/surf/SurfaceAction.test.cc
Labels: enhancement, orange

#900 Add capability to export Celeritas primaries as a ROOT file
  app/celer-g4/celer-g4.cc
  src/accel/LocalTransporter.hh
  src/accel/SetupOptionsMessenger.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/RootExporter.hh
  src/celeritas/ext/RootFileManager.cc
  src/celeritas/ext/RootFileManager.hh
  src/celeritas/ext/RootUniquePtr.hh
  src/celeritas/ext/RootUniquePtr.root.cc
  src/celeritas/io/RootEventReader.cc
  src/celeritas/io/RootEventReader.hh
  src/celeritas/io/RootEventWriter.cc
  src/celeritas/io/RootEventWriter.hh
  src/celeritas/user/RootStepWriter.hh
  test/CMakeLists.txt
  test/celeritas/io/RootEventIO.test.cc
Labels: enhancement, io

#904 Connect ROOT event writer to accel and reader to celer-sim
  app/celer-g4/CMakeLists.txt
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/RunAction.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-g4/simple-cms-test.inp.json.in
  app/celer-sim/Runner.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/simple-driver.py
  src/accel/LocalTransporter.cc
  src/accel/LocalTransporter.hh
  src/accel/SharedParams.cc
  src/accel/detail/OffloadWriter.hh
  src/celeritas/ext/RootFileManager.cc
  src/celeritas/ext/RootFileManager.hh
  src/celeritas/io/EventIOInterface.hh
  src/celeritas/io/EventReader.hh
  src/celeritas/io/EventWriter.cc
  src/celeritas/io/EventWriter.hh
  src/celeritas/io/RootEventReader.hh
  src/celeritas/io/RootEventWriter.cc
  src/celeritas/io/RootEventWriter.hh
  src/celeritas/phys/PrimaryGenerator.hh
  test/celeritas/io/EventIO.test.cc
  test/celeritas/io/EventIOTestBase.cc
  test/celeritas/io/EventIOTestBase.hh
  test/celeritas/io/RootEventIO.test.cc
Labels: enhancement, external, app

#905 Define CELER_ASSUME for simpler always-on compiler assumptions
  src/corecel/Assert.cc
  src/corecel/Assert.hh
  src/corecel/Macros.hh
  src/orange/surf/VariantSurface.cc
  src/orange/transform/VariantTransform.cc
Labels: enhancement, core

#894 Implement surface simplification
  scripts/dev/celeritas-gen.py
  src/corecel/math/Algorithms.hh
  src/orange/CMakeLists.txt
  src/orange/OrangeTypes.hh
  src/orange/surf/RecursiveSimplifier.hh
  src/orange/surf/SimpleQuadric.cc
  src/orange/surf/SurfaceSimplifier.cc
  src/orange/surf/SurfaceSimplifier.hh
  src/orange/surf/detail/PlaneAlignedConverter.hh
  src/orange/surf/detail/QuadricConeConverter.hh
  src/orange/surf/detail/QuadricCylConverter.hh
  src/orange/surf/detail/QuadricPlaneConverter.hh
  src/orange/surf/detail/QuadricSphereConverter.hh
  src/orange/surf/detail/RecursiveSimplifierImpl.hh
  test/CMakeLists.txt
  test/corecel/math/Algorithms.test.cc
  test/orange/surf/RecursiveSimplifier.test.cc
  test/orange/surf/SurfaceSimplifier.test.cc
Labels: enhancement, orange

#912 Fix multi-level ORANGE direction change
  src/orange/OrangeTrackView.hh
  src/orange/construct/OrangeInput.hh
  test/orange/Orange.test.cc
Labels: bug, orange

#909 Use BIH for cross_boundary calls
  src/orange/BoundingBoxUtils.hh
  src/orange/detail/UnitInserter.cc
  src/orange/univ/SimpleUnitTracker.hh
  test/orange/BoundingBoxUtils.test.cc
Labels: enhancement, orange

#913 Hardcode `PrimaryGenerator` RNG engine and inherit from `EventReaderInterface`
  app/celer-sim/Runner.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/phys/PrimaryGenerator.cc
  src/celeritas/phys/PrimaryGenerator.hh
  test/celeritas/phys/PrimaryGenerator.test.cc
Labels: internal, minor

#896 Add surface clipping helper class
  src/orange/CMakeLists.txt
  src/orange/surf/SurfaceClipper.hh
  src/orange/surf/detail/SurfaceClipperImpl.cc
  src/orange/surf/detail/SurfaceClipperImpl.hh
  test/CMakeLists.txt
  test/orange/surf/SurfaceClipper.test.cc
Labels: enhancement, orange

#914 Add option to generate primaries without an event file in celer-g4
  app/celer-g4/ActionInitialization.cc
  app/celer-g4/CMakeLists.txt
  app/celer-g4/GlobalSetup.hh
  app/celer-g4/HepMC3PrimaryGeneratorAction.cc
  app/celer-g4/HepMC3PrimaryGeneratorAction.hh
  app/celer-g4/PGPrimaryGeneratorAction.cc
  app/celer-g4/PGPrimaryGeneratorAction.hh
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-g4/celer-g4.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/phys/PrimaryGenerator.cc
  src/celeritas/phys/PrimaryGenerator.hh
  src/celeritas/phys/PrimaryGeneratorOptions.cc
  src/celeritas/phys/PrimaryGeneratorOptions.hh
  src/celeritas/phys/PrimaryGeneratorOptionsIO.json.cc
  test/celeritas/phys/PrimaryGenerator.test.cc
Labels: enhancement, app

#916 Fix unit conversion errors when reading from event file
  src/accel/HepMC3PrimaryGenerator.cc
  src/celeritas/io/EventReader.cc
  test/accel/HepMC3PrimaryGenerator.test.cc
  test/celeritas/data/event-novtx.hepmc3
  test/celeritas/io/EventIO.test.cc
Labels: bug, external

#915 Add function for calculating the number of levels in ORANGE
  src/orange/OrangeData.hh
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  src/orange/construct/OrangeInput.hh
  src/orange/detail/LevelStateAccessor.hh
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/orange/Orange.test.cc
Labels: enhancement, orange
