Repository celeritas-project/celeritas, pull requests merged in 2024-10, with the labels that each got.

#1435 Loosen double equivalence precision requirement
  test/orange/surf/detail/InvoluteSolver.test.cc
Labels: bug, minor

#1436 Fix weak vtables causing dynamic_cast error in apple clang 16
  src/celeritas/global/CoreState.hh
  src/celeritas/global/Stepper.cc
  src/celeritas/global/Stepper.hh
  src/celeritas/user/detail/StepGatherAction.hh
  src/orange/orangeinp/Shape.cc
  src/orange/orangeinp/Shape.hh
  src/orange/orangeinp/Solid.hh
  test/orange/orangeinp/Solid.test.cc
Labels: bug, core

#1437 Clang format develop with clang 18
  .git-blame-ignore-revs
  src/celeritas/em/distribution/BetheBlochEnergyDistribution.hh
  src/celeritas/em/distribution/BraggICRU73QOEnergyDistribution.hh
  src/celeritas/em/model/BetheBlochModel.cc
  src/celeritas/em/model/BraggModel.cc
  src/celeritas/em/model/ICRU73QOModel.cc
  src/celeritas/em/model/MuBetheBlochModel.cc
  src/celeritas/em/process/MuBremsstrahlungProcess.cc
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/detail/CelerEmStandardPhysics.cc
  src/celeritas/optical/OpticalCollector.hh
  src/celeritas/random/distribution/InverseSquareDistribution.hh
  src/celeritas/random/distribution/RejectionSampler.hh
  src/celeritas/random/distribution/UniformRealDistribution.hh
  test/celeritas/ext/RootImporter.test.cc
  test/celeritas/optical/OpticalCollector.test.cc
  test/orange/orangeinp/Solid.test.cc
Labels: core, minor

#1398 Test and fix nuclear form factors
  .git-blame-ignore-revs
  doc/implementation/core-physics/stepping.rst
  doc/implementation/em-physics.rst
  src/celeritas/em/data/WentzelOKVIData.hh
  src/celeritas/em/distribution/TsaiUrbanDistribution.hh
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/interactor/CoulombScatteringInteractor.hh
  src/celeritas/em/params/WentzelOKVIParams.cc
  src/celeritas/em/params/WentzelOKVIParams.hh
  src/celeritas/em/xs/MottRatioCalculator.hh
  src/celeritas/em/xs/NuclearFormFactors.hh
  src/celeritas/io/ImportParameters.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/em/CoulombScattering.test.cc
  test/celeritas/em/distribution/EnergyLossHelper.test.cc
  test/celeritas/em/distribution/TsaiUrbanDistribution.test.cc
  test/celeritas/em/xs/NuclearFormFactors.test.cc
Labels: bug, physics

#1434 Rename track slot enumerations
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  doc/implementation/core-physics/stepping.rst
  src/accel/SetupOptions.hh
  src/celeritas/CMakeLists.txt
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/TypesIO.json.cc
  src/celeritas/TypesIO.json.hh
  src/celeritas/global/ActionInterface.hh
  src/celeritas/global/CoreParams.cc
  src/celeritas/global/CoreTrackData.cc
  src/celeritas/track/InitializeTracksAction.cc
  src/celeritas/track/SortTracksAction.cc
  src/celeritas/track/TrackInitData.hh
  src/celeritas/track/TrackInitParams.hh
  src/celeritas/track/detail/InitTracksExecutor.hh
  src/celeritas/track/detail/LocateAliveExecutor.hh
  src/celeritas/track/detail/ProcessSecondariesExecutor.hh
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/track/detail/TrackSortUtils.cu
  src/celeritas/track/detail/TrackSortUtils.hh
  src/corecel/io/LabelIO.json.hh
  test/celeritas/GeantTestBase.cc
  test/celeritas/MockTestBase.cc
  test/celeritas/SimpleTestBase.cc
  test/celeritas/track/TrackSort.test.cc
  test/celeritas/user/Diagnostic.test.cc
  test/celeritas/user/SlotDiagnostic.test.cc
Labels: minor, app

#1430 Add a hack to override ORANGE max intersections/faces
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-sim/Runner.cc
  src/orange/OrangeInputIO.json.cc
  src/orange/detail/UnitInserter.cc
  test/orange/OrangeGeoTestBase.cc
Labels: minor, orange, performance

#1428 Add global MPI communicator and refactor some internals
  app/celer-dump-data.cc
  app/celer-export-geant.cc
  app/celer-g4/celer-g4.cc
  app/celer-geo/celer-geo.cc
  app/celer-sim/celer-sim.cc
  app/demo-geo-check/demo-geo-check.cc
  app/demo-interactor/demo-interactor.cc
  app/demo-interactor/host-demo-interactor.cc
  app/orange-update.cc
  example/minimal/minimal.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/global/CoreParams.cc
  src/celeritas/global/CoreParams.hh
  src/corecel/CMakeLists.txt
  src/corecel/io/Logger.cc
  src/corecel/io/Logger.hh
  src/corecel/sys/Device.cc
  src/corecel/sys/Device.hh
  src/corecel/sys/MpiCommunicator.cc
  src/corecel/sys/MpiCommunicator.hh
  src/corecel/sys/MpiOperations.hh
  src/corecel/sys/ScopedMpiInit.cc
  src/corecel/sys/ScopedMpiInit.hh
  src/corecel/sys/detail/MpiType.hh
  test/CMakeLists.txt
  test/corecel/CMakeLists.txt
  test/corecel/io/Logger.test.cc
  test/corecel/sys/MpiCommunicator.test.cc
  test/corecel/sys/MultiExceptionHandler.test.cc
  test/testdetail/TestMainImpl.cc
Labels: core, minor

#1439 Separate ImportOpticalModels from ImportOpticalMaterials
  app/celer-dump-data.cc
  app/celer-export-geant.cc
  doc/implementation/optical-physics.rst
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/RootInterfaceLinkDef.h
  src/celeritas/ext/detail/CelerOpticalPhysics.cc
  src/celeritas/ext/detail/GeantMaterialPropertyGetter.hh
  src/celeritas/ext/detail/GeantOpticalModelImporter.cc
  src/celeritas/ext/detail/GeantOpticalModelImporter.hh
  src/celeritas/io/ImportData.hh
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportOpticalModel.cc
  src/celeritas/io/ImportOpticalModel.hh
  src/celeritas/io/detail/ImportDataConverter.cc
  src/celeritas/io/detail/ImportDataConverter.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/data/four-steel-slabs.root
  test/celeritas/data/lar-sphere.geant.json
  test/celeritas/data/lar-sphere.root
  test/celeritas/data/simple-cms.root
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/ext/RootJsonDumper.test.cc
Labels: enhancement, physics

#1438 Add optical track initialization action
  src/celeritas/CMakeLists.txt
  src/celeritas/optical/CoreParams.cc
  src/celeritas/optical/CoreParams.hh
  src/celeritas/optical/CoreTrackData.cc
  src/celeritas/optical/CoreTrackData.hh
  src/celeritas/optical/CoreTrackView.hh
  src/celeritas/optical/OpticalCollector.cc
  src/celeritas/optical/ParticleData.hh
  src/celeritas/optical/ParticleTrackView.hh
  src/celeritas/optical/SimData.hh
  src/celeritas/optical/SimTrackView.hh
  src/celeritas/optical/TrackView.hh
  src/celeritas/optical/action/InitializeTracksAction.cc
  src/celeritas/optical/action/InitializeTracksAction.cu
  src/celeritas/optical/action/InitializeTracksAction.hh
  src/celeritas/optical/action/TrackSlotExecutor.hh
  src/celeritas/optical/action/detail/BoundaryExecutor.hh
  src/celeritas/optical/action/detail/InitTracksExecutor.hh
  src/celeritas/optical/detail/CerenkovGeneratorAction.cc
  src/celeritas/optical/detail/CerenkovGeneratorAction.cu
  src/celeritas/optical/detail/CerenkovGeneratorExecutor.hh
  src/celeritas/optical/detail/OpticalLaunchAction.cc
  src/celeritas/optical/detail/ScintGeneratorAction.cc
  src/celeritas/optical/detail/ScintGeneratorAction.cu
  src/celeritas/optical/detail/ScintGeneratorExecutor.hh
  src/celeritas/optical/interactor/RayleighInteractor.hh
  src/celeritas/track/SimFunctors.hh
  test/celeritas/optical/InteractorHostTestBase.cc
  test/celeritas/optical/InteractorHostTestBase.hh
  test/celeritas/optical/OpticalCollector.test.cc
  test/celeritas/optical/Rayleigh.test.cc
Labels: enhancement, physics

#1441 Add optical "locate vacancies" and pre-step actions
  src/celeritas/CMakeLists.txt
  src/celeritas/optical/CoreParams.cc
  src/celeritas/optical/action/LocateVacanciesAction.cc
  src/celeritas/optical/action/LocateVacanciesAction.hh
  src/celeritas/optical/action/PreStepAction.cc
  src/celeritas/optical/action/PreStepAction.cu
  src/celeritas/optical/action/PreStepAction.hh
  src/celeritas/optical/action/detail/PreStepExecutor.hh
  src/celeritas/optical/action/detail/TrackInitAlgorithms.cc
  src/celeritas/optical/action/detail/TrackInitAlgorithms.cu
  src/celeritas/optical/action/detail/TrackInitAlgorithms.hh
  src/celeritas/optical/detail/OpticalLaunchAction.cc
  src/celeritas/optical/detail/OpticalUtils.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/optical/OpticalCollector.test.cc
  test/celeritas/optical/OpticalUtils.test.cc
Labels: enhancement, physics

#1447 Define a "unique event ID" different from event counter
  src/accel/LocalTransporter.cc
  src/accel/LocalTransporter.hh
  src/celeritas/Types.hh
  src/celeritas/global/Stepper.cc
  src/celeritas/global/Stepper.hh
  src/celeritas/random/RngReseed.cc
  src/celeritas/random/RngReseed.cu
  src/celeritas/random/RngReseed.hh
  test/celeritas/random/RngReseed.test.cc
Labels: bug, external

#1449 Fix optical import when unused materials are defined
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/detail/GeantOpticalModelImporter.cc
  src/celeritas/ext/detail/GeantOpticalModelImporter.hh
  src/celeritas/ext/detail/GeoOpticalIdMap.cc
  src/celeritas/ext/detail/GeoOpticalIdMap.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/ext/GeantImporter.test.cc
  test/geocel/data/lar-sphere-extramat.gdml
Labels: bug, physics

#1448 Remove trackid counter from primary
  app/celer-g4/ActionInitialization.cc
  app/celer-g4/GlobalSetup.hh
  src/accel/LocalTransporter.cc
  src/accel/LocalTransporter.hh
  src/celeritas/io/EventReader.cc
  src/celeritas/io/RootEventReader.cc
  src/celeritas/phys/Primary.hh
  src/celeritas/phys/PrimaryGenerator.cc
  src/celeritas/track/ExtendFromPrimariesAction.cc
  src/celeritas/track/ExtendFromPrimariesAction.cu
  src/celeritas/track/detail/ProcessPrimariesExecutor.hh
  src/celeritas/track/detail/ProcessSecondariesExecutor.hh
  src/celeritas/track/detail/TrackInitAlgorithms.hh
  src/celeritas/track/detail/Utils.hh
  test/celeritas/global/AlongStepTestBase.cc
  test/celeritas/global/KernelContextException.test.cc
  test/celeritas/global/Stepper.test.cc
  test/celeritas/global/StepperGeant.test.cc
  test/celeritas/io/EventIO.test.cc
  test/celeritas/io/EventIOTestBase.cc
  test/celeritas/io/EventIOTestBase.hh
  test/celeritas/optical/OpticalCollector.test.cc
  test/celeritas/phys/PrimaryGenerator.test.cc
  test/celeritas/track/StatusChecker.test.cc
  test/celeritas/track/TrackInit.test.cc
  test/celeritas/track/TrackSort.test.cc
  test/celeritas/user/Diagnostic.test.cc
  test/celeritas/user/SlotDiagnostic.test.cc
  test/celeritas/user/StepCollector.test.cc
Labels: bug, physics

#1450 Improve XSCalculator documentation and tests
  .github/pull_request_template.md
  .github/pull_request_template.release.md
  doc/appendix/administration.rst
  doc/implementation/em-physics.rst
  doc/implementation/units-constants.rst
  src/celeritas/em/xs/MuBremsDiffXsCalculator.hh
  src/celeritas/grid/XsCalculator.hh
  src/celeritas/phys/PhysicsStepUtils.hh
  src/celeritas/random/RngReseed.cc
  src/corecel/math/Quantity.hh
  test/celeritas/grid/CalculatorTestBase.cc
  test/celeritas/grid/CalculatorTestBase.hh
  test/celeritas/grid/InverseRangeCalculator.test.cc
  test/celeritas/grid/XsCalculator.test.cc
Labels: documentation, physics, minor

#1452 Improve single-event mode in `accel`
  example/accel/fastsim-offload.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/accel/SharedParams.cc
  src/celeritas/global/Stepper.cc
  src/celeritas/random/RngReseed.cc
  src/celeritas/random/RngReseed.cu
  src/celeritas/random/RngReseed.hh
  src/celeritas/track/TrackInitParams.cc
  src/celeritas/track/TrackInitParams.hh
  src/celeritas/track/detail/Filler.cu
  src/corecel/CMakeLists.txt
  src/corecel/data/CollectionAlgorithms.hh
  src/corecel/data/Copier.hh
  src/corecel/data/Filler.cu
  src/corecel/data/Filler.device.t.hh
  src/corecel/data/Filler.hh
  src/corecel/data/detail/Filler.hh
  test/celeritas/geo/HeuristicGeoTestBase.cc
  test/celeritas/geo/HeuristicGeoTestBase.cu
  test/celeritas/global/Stepper.test.cc
  test/celeritas/random/RngReseed.test.cc
  test/corecel/CMakeLists.txt
  test/corecel/data/Filler.test.cc
Labels: bug, external

#1451 Extend debug utilities for stuck/errored tracks
  doc/development/testing.rst
  example/accel/simple-offload.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/accel/SetupOptionsMessenger.hh
  src/accel/SharedParams.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/global/ActionLauncher.device.hh
  src/celeritas/global/ActionSequence.cc
  src/celeritas/global/CoreParams.cc
  src/celeritas/global/CoreTrackData.hh
  src/celeritas/global/Debug.cc
  src/celeritas/global/Debug.hh
  src/celeritas/global/DebugIO.json.cc
  src/celeritas/global/KernelContextException.cc
  src/celeritas/global/Stepper.cc
  src/celeritas/global/Stepper.hh
  src/celeritas/global/detail/KillActive.cc
  src/celeritas/global/detail/KillActive.cu
  src/celeritas/global/detail/KillActive.hh
  src/celeritas/phys/detail/TrackingCutExecutor.hh
  src/corecel/data/ObserverPtr.device.hh
  src/corecel/data/ObserverPtr.hh
  src/corecel/sys/KernelLauncher.device.hh
  src/geocel/GeantGeoUtils.cc
  src/geocel/GeantGeoUtils.hh
  test/celeritas/global/Stepper.test.cc
  test/celeritas/track/TrackInit.test.cc
  test/corecel/data/ObserverPtr.test.cc
Labels: enhancement, external

#1455 Add CELER_NONFATAL_FLUSH to cleanly kill stuck tracks
  app/celer-g4/CMakeLists.txt
  app/celer-g4/test-harness.py
  doc/introduction/usage/env.rst
  src/accel/LocalTransporter.cc
Labels: enhancement, external

#1454 Fix GDML export messages and geometry-only use case
  src/geocel/GeantGeoUtils.cc
  test/geocel/GeantGeoUtils.test.cc
Labels: bug, external

#1458 Fix tracking cut message
  src/celeritas/global/DebugIO.json.cc
  src/celeritas/phys/detail/TrackingCutExecutor.hh
  test/celeritas/global/Stepper.test.cc
Labels: bug, external

#1459 Define `id_cast` helper function
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/io/EventReader.cc
  src/corecel/OpaqueId.hh
  src/geocel/g4/GeantGeoParams.cc
  src/geocel/g4/GeantGeoTrackView.hh
  src/geocel/vg/VecgeomTrackView.hh
  src/orange/detail/BIHBuilder.cc
  src/orange/detail/UnitInserter.cc
  src/orange/g4org/LogicalVolumeConverter.cc
  src/orange/orangeinp/CsgTree.cc
  test/corecel/OpaqueId.test.cc
  test/geocel/MockGeoTrackView.hh
Labels: core, minor

#1463 Delete obsolete demonstration apps
  CMakeLists.txt
  CMakePresets.json
  app/CMakeLists.txt
  app/celer-geo/CMakeLists.txt
  app/celer-geo/test-harness.py
  app/celer-sim/CMakeLists.txt
  app/celer-sim/simple-driver.py
  app/demo-geo-check/CMakeLists.txt
  app/demo-geo-check/GCheckKernel.cc
  app/demo-geo-check/GCheckKernel.cu
  app/demo-geo-check/GCheckKernel.hh
  app/demo-geo-check/GCheckRunner.cc
  app/demo-geo-check/GCheckRunner.hh
  app/demo-geo-check/demo-geo-check.cc
  app/demo-geo-check/gcheck-four-levels.json.in
  app/demo-geo-check/index.md
  app/demo-interactor/CMakeLists.txt
  app/demo-interactor/Detector.hh
  app/demo-interactor/DetectorData.hh
  app/demo-interactor/HostKNDemoRunner.cc
  app/demo-interactor/HostKNDemoRunner.hh
  app/demo-interactor/KNDemoIO.cc
  app/demo-interactor/KNDemoIO.hh
  app/demo-interactor/KNDemoKernel.cu
  app/demo-interactor/KNDemoKernel.hh
  app/demo-interactor/KNDemoKernel.thrust.cu
  app/demo-interactor/KNDemoRunner.cc
  app/demo-interactor/KNDemoRunner.hh
  app/demo-interactor/KernelUtils.hh
  app/demo-interactor/LoadXs.cc
  app/demo-interactor/LoadXs.hh
  app/demo-interactor/XsGridParams.cc
  app/demo-interactor/XsGridParams.hh
  app/demo-interactor/demo-interactor.cc
  app/demo-interactor/host-demo-interactor.cc
  app/demo-interactor/simple-driver.py
  doc/introduction/installation.rst
  scripts/cmake-presets/ci-centos-rocm.json
  scripts/cmake-presets/ci-ubuntu-cuda.json
  scripts/cmake-presets/ci-ubuntu-github.json
  scripts/cmake-presets/ci-windows-github.json
  scripts/cmake-presets/esseivaj.json
  scripts/cmake-presets/goldfinger.json
  scripts/cmake-presets/gondolin.json
  scripts/cmake-presets/voskhod.json
  scripts/docker/interactive/CMakeUserPresets.json
Labels: app, removal

#1461 Add multilevel "volume instance"
  src/celeritas/ext/GeantImporter.cc
  src/geocel/GeoParamsInterface.hh
  src/geocel/GeoParamsOutput.cc
  src/geocel/Types.hh
  src/geocel/g4/GeantGeoParams.cc
  src/geocel/g4/GeantGeoParams.hh
  src/geocel/g4/GeantGeoTrackView.hh
  src/geocel/g4/VisitGeantVolumes.hh
  src/geocel/vg/VecgeomData.hh
  src/geocel/vg/VecgeomParams.cc
  src/geocel/vg/VecgeomParams.hh
  src/geocel/vg/VecgeomTrackView.hh
  src/orange/OrangeParams.hh
  src/orange/OrangeTrackView.hh
  src/orange/OrangeTypes.hh
  test/celeritas/geo/Geometry.test.cc
  test/geocel/CMakeLists.txt
  test/geocel/GenericGeoTestBase.cc
  test/geocel/GenericGeoTestBase.hh
  test/geocel/GenericGeoTestBase.t.hh
  test/geocel/data/multi-level.gdml
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/g4/VisitGeantVolumes.test.cc
  test/geocel/vg/Vecgeom.test.cc
Labels: enhancement, geometry

#1465 Refactor step storage to use aux state
  app/celer-sim/Runner.cc
  src/accel/SharedParams.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/user/StepCollector.cc
  src/celeritas/user/StepCollector.hh
  src/celeritas/user/detail/StepGatherAction.cc
  src/celeritas/user/detail/StepGatherAction.cu
  src/celeritas/user/detail/StepGatherAction.hh
  src/celeritas/user/detail/StepParams.cc
  src/celeritas/user/detail/StepParams.hh
  src/celeritas/user/detail/StepStorage.hh
  test/celeritas/user/CaloTestBase.cc
  test/celeritas/user/MctruthTestBase.cc
  test/celeritas/user/StepCollector.test.cc
Labels: minor, user

#1468 Refactor pinned allocator to reduce need for templates
  src/celeritas/CMakeLists.txt
  src/celeritas/global/detail/PinnedAllocator.cc
  src/corecel/CMakeLists.txt
  src/corecel/data/PinnedAllocator.hh
  src/corecel/data/detail/PinnedAllocatorImpl.cc
  src/corecel/data/detail/PinnedAllocatorImpl.hh
Labels: core, minor

#1466 Reconstruct Geant4 navigation history from stack
  app/celer-g4/GlobalSetup.hh
  app/celer-g4/PGPrimaryGeneratorAction.cc
  app/celer-g4/SensitiveDetector.cc
  src/accel/AlongStepFactory.cc
  src/accel/LocalTransporter.cc
  src/accel/RZMapMagneticField.hh
  src/accel/detail/HitProcessor.cc
  src/accel/detail/TouchableUpdater.cc
  src/geocel/GeantGeoUtils.cc
  src/geocel/GeantGeoUtils.hh
  src/geocel/g4/Convert.hh
  src/geocel/g4/GeantGeoParams.cc
  src/geocel/g4/GeantGeoParams.hh
  src/geocel/g4/GeantGeoTrackView.hh
  src/geocel/g4/Repr.hh
  test/accel/HepMC3PrimaryGenerator.test.cc
  test/accel/RZMapMagneticField.test.cc
  test/geocel/GeantGeoUtils.test.cc
  test/geocel/data/multi-level.gdml
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/g4/VisitGeantVolumes.test.cc
  test/orange/g4org/Transformer.test.cc
Labels: enhancement, external

#1470 Tweak Perfetto integration
  app/celer-sim/Transporter.cc
  doc/introduction/usage/profiling.rst
  src/celeritas/ext/RootUniquePtr.hh
  src/celeritas/ext/RootUniquePtr.root.cc
  src/corecel/CMakeLists.txt
  src/corecel/sys/TraceCounter.hh
  src/corecel/sys/TraceCounter.perfetto.cc
  src/corecel/sys/TracingSession.cc
  src/corecel/sys/TracingSession.hh
  src/corecel/sys/detail/TrackEvent.perfetto.hh
Labels: core, minor

#1464 Improve error checking and diagnostic output for managing GPU
  CMakeLists.txt
  app/celer-sim/celer-sim.cc
  cmake/CeleritasConfig.cmake.in
  cmake/FindThrust.cmake
  doc/introduction/usage/app.rst
  src/corecel/CMakeLists.txt
  src/corecel/io/BuildOutput.cc
  src/corecel/sys/Device.cc
  src/corecel/sys/Device.hh
  src/corecel/sys/DeviceIO.json.cc
Labels: enhancement, core

#1472 Escape semicolons in exported CMake variables
  CMakeLists.txt
  src/corecel/CMakeLists.txt
Labels: bug, minor

#1446 Add distance-to-bbox function
  src/geocel/Types.hh
  src/orange/BoundingBoxUtils.hh
  test/orange/BoundingBoxUtils.test.cc
Labels: enhancement, orange

#1476 Require `CELERITAS_DEBUG` be on to enable `CELERITAS_DEVICE_DEBUG`
  CMakeLists.txt
Labels: core, minor

#1471 Add multi-level state to detector step result
  scripts/cmake-presets/ci-ubuntu-github.json
  scripts/cmake-presets/goldfinger.json
  scripts/cmake-presets/wildstyle.json
  src/accel/detail/HitProcessor.cc
  src/celeritas/ext/GeantImporter.hh
  src/celeritas/optical/action/InitializeTracksAction.cu
  src/celeritas/track/InitializeTracksAction.cu
  src/celeritas/user/DetectorSteps.cc
  src/celeritas/user/DetectorSteps.cu
  src/celeritas/user/DetectorSteps.hh
  src/celeritas/user/SimpleCalo.cc
  src/celeritas/user/StepData.hh
  src/celeritas/user/StepInterface.hh
  src/celeritas/user/detail/StepGatherExecutor.hh
  src/celeritas/user/detail/StepParams.cc
  src/celeritas/user/detail/StepScratchCopyExecutor.hh
  src/corecel/data/Collection.hh
  src/corecel/sys/KernelLauncher.device.hh
  src/geocel/CMakeLists.txt
  src/geocel/GeoVolumeFinder.cc
  src/geocel/GeoVolumeFinder.hh
  src/geocel/g4vg/Converter.cc
  src/geocel/g4vg/Converter.hh
  src/geocel/g4vg/LogicalVolumeConverter.cc
  src/geocel/g4vg/LogicalVolumeConverter.hh
  src/geocel/vg/VecgeomParams.cc
  src/geocel/vg/VecgeomParams.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/GeantTestBase.cc
  test/celeritas/LArSphereBase.hh
  test/celeritas/user/DetectorSteps.test.cc
  test/celeritas/user/ExampleInstanceCalo.cc
  test/celeritas/user/ExampleInstanceCalo.hh
  test/celeritas/user/StepCollector.test.cc
  test/geocel/GenericGeoTestBase.t.hh
  test/geocel/data/testem3.gdml
  test/orange/OrangeGeant.test.cc
  test/orange/OrangeTestBase.hh
  test/orange/g4org/Converter.test.cc
  test/orange/g4org/PhysicalVolumeConverter.test.cc
  test/orange/g4org/ProtoConstructor.test.cc
Labels: enhancement, user
