Repository celeritas-project/celeritas, pull requests merged in 2024-04, with the labels that each got.

#1159 Fix SWIG build
  .github/workflows/build-spack.yml
  interface/celeritas.i
  scripts/cmake-presets/ci-ubuntu-github.json
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportPhysicsTable.hh
Labels: core, minor

#1171 Add minimal version of GenTrap (Arb8) shape
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/Shape.cc
  src/orange/orangeinp/Shape.hh
  src/orange/orangeinp/detail/PolygonUtils.hh
  test/orange/CMakeLists.txt
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/detail/PolygonUtils.test.cc
Labels: enhancement, orange

#1168 Add sense evaluator for testing
  src/orange/CMakeLists.txt
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/orangeinp/detail/InfixStringBuilder.hh
  src/orange/orangeinp/detail/InternalSurfaceFlagger.hh
  src/orange/orangeinp/detail/SenseEvaluator.cc
  src/orange/orangeinp/detail/SenseEvaluator.hh
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/CsgTreeUtils.test.cc
Labels: enhancement, orange

#1175 Rename scale methods in g4vg
  src/geocel/g4vg/SolidConverter.cc
  src/geocel/g4vg/SolidConverter.hh
Labels: minor, external

#1174 Add additional ObjectInterface and orangeinp helpers
  src/geocel/GeantGeoUtils.cc
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/CsgObject.cc
  src/orange/orangeinp/CsgObject.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
  src/orange/orangeinp/Transformed.cc
  src/orange/orangeinp/Transformed.hh
  src/orange/orangeinp/UnitProto.cc
  src/orange/orangeinp/UnitProto.hh
  src/orange/transform/Transformation.cc
  src/orange/transform/Transformation.hh
  test/orange/orangeinp/Solid.test.cc
  test/orange/orangeinp/Transformed.test.cc
  test/orange/transform/Transformation.test.cc
Labels: enhancement, orange

#1176 Fix warning about missing low-energy cross sections
  src/celeritas/io/LivermorePEReader.cc
  test/celeritas/ext/GeantImporter.test.cc
Labels: documentation, minor

#1177 Implement G4Sphere conversion
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
  test/orange/g4org/SolidConverter.test.cc
Labels: enhancement, orange

#1178 Tweak ORANGE construction
  src/orange/OrangeInput.hh
  src/orange/OrangeInputIO.json.cc
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/detail/UnitInserter.cc
  src/orange/detail/UnitInserter.hh
  src/orange/surf/LocalSurfaceVisitor.hh
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/vg/Vecgeom.test.cc
  test/orange/Orange.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/OrangeTypes.test.cc
  test/testdetail/JsonComparer.json.cc
Labels: minor, orange

#1182 Add optical generator data and update pre-generators
  src/celeritas/optical/CerenkovDndxCalculator.hh
  src/celeritas/optical/CerenkovPreGenerator.hh
  src/celeritas/optical/OpticalGenData.hh
  src/celeritas/optical/ScintillationPreGenerator.hh
  test/celeritas/optical/Cerenkov.test.cc
  test/celeritas/optical/OpticalTestBase.cc
  test/celeritas/optical/OpticalTestBase.hh
  test/celeritas/optical/Scintillation.test.cc
Labels: physics

#1186 Set global execution timeout for automated testing on Jenkins
  .github/workflows/pr.yml
  .jenkins
Labels: documentation, minor

#1179 Construct proto-universe hierarchy from converted volumes
  src/geocel/GeantGeoUtils.cc
  src/orange/CMakeLists.txt
  src/orange/detail/UnitInserter.cc
  src/orange/g4org/ProtoConstructor.cc
  src/orange/g4org/ProtoConstructor.hh
  src/orange/orangeinp/ProtoInterface.cc
  src/orange/orangeinp/UnitProto.cc
  src/orange/orangeinp/UnitProto.hh
  test/Test.cc
  test/Test.hh
  test/geocel/data/testem3.gdml
  test/orange/CMakeLists.txt
  test/orange/Orange.test.cc
  test/orange/data/inputbuilder-bgspheres.org.json
  test/orange/data/inputbuilder-hierarchy.org.json
  test/orange/g4org/ProtoConstructor.test.cc
  test/orange/orangeinp/CsgTestUtils.cc
  test/orange/orangeinp/UnitProto.test.cc
Labels: enhancement, orange

#1185 Add small utilities for rasterization work
  src/celeritas/ext/GeantSetup.hh
  src/celeritas/field/FieldDriverOptionsIO.json.cc
  src/celeritas/field/RZMapFieldInputIO.json.cc
  src/corecel/Macros.hh
  src/corecel/data/CollectionStateStore.hh
  src/corecel/io/JsonUtils.json.hh
  src/corecel/io/detail/LoggerMessage.hh
  src/corecel/math/ArraySoftUnit.hh
  src/corecel/math/ArrayUtils.hh
  src/corecel/sys/ScopedMem.hh
  test/corecel/ScopedLogStorer.hh
Labels: core, minor

#1184 Add actions and executors for generating optical distribution data
  src/celeritas/CMakeLists.txt
  src/celeritas/optical/detail/OpticalGenStorage.hh
  src/celeritas/optical/detail/PreGenAction.cc
  src/celeritas/optical/detail/PreGenAction.cu
  src/celeritas/optical/detail/PreGenAction.hh
  src/celeritas/optical/detail/PreGenExecutor.hh
  src/celeritas/optical/detail/PreGenGatherAction.cc
  src/celeritas/optical/detail/PreGenGatherAction.cu
  src/celeritas/optical/detail/PreGenGatherAction.hh
  src/celeritas/optical/detail/PreGenGatherExecutor.hh
Labels: enhancement, physics

#1188 Pin sphinx version to fix documentation build
  scripts/requirements.txt
Labels: documentation

#1180 Complete GDML-to-ORANGE geometry converter
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/test-harness.py
  src/accel/detail/HitProcessor.cc
  src/orange/CMakeLists.txt
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  src/orange/g4org/Converter.cc
  src/orange/g4org/Converter.hh
  src/orange/g4org/PhysicalVolumeConverter.cc
  src/orange/g4org/ProtoConstructor.cc
  src/orange/orangeinp/UnitProto.cc
  test/orange/CMakeLists.txt
  test/orange/Orange.test.cc
  test/orange/OrangeGeoTestBase.cc
  test/orange/OrangeGeoTestBase.hh
  test/orange/g4org/Converter.test.cc
  test/orange/g4org/ProtoConstructor.test.cc
Labels: enhancement, orange

#1190 Define geometry traits
  src/geocel/GeoParamsInterface.hh
  src/geocel/GeoTraits.hh
  src/geocel/g4/GeantGeoTraits.hh
  src/geocel/vg/VecgeomGeoTraits.hh
  src/orange/OrangeGeoTraits.hh
  test/celeritas/AllGeoTypedTestBase.hh
  test/geocel/GenericGeoTestBase.hh
  test/geocel/g4/GeantGeoTestBase.hh
  test/geocel/vg/VecgeomTestBase.hh
  test/orange/OrangeTestBase.hh
Labels: documentation, minor

#1181 Switch ORANGE unit tests to use GDML files
  app/celer-sim/CMakeLists.txt
  app/celer-sim/Runner.cc
  app/celer-sim/simple-driver.py
  app/demo-rasterizer/CMakeLists.txt
  src/celeritas/ext/GeantImporter.hh
  src/celeritas/ext/RootImporter.hh
  src/celeritas/io/ImporterInterface.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/GlobalGeoTestBase.cc
  test/celeritas/GlobalGeoTestBase.hh
  test/celeritas/geo/Geometry.test.cc
  test/celeritas/geo/HeuristicGeoData.hh
  test/celeritas/geo/HeuristicGeoExecutor.hh
  test/celeritas/geo/HeuristicGeoTestBase.cc
  test/celeritas/user/MctruthTestBase.cc
  test/celeritas/user/StepCollector.test.cc
  test/geocel/UnitUtils.hh
Labels: documentation, orange

#1193 Fix prism orientation in Geant4 ORANGE solid converter
  src/orange/g4org/SolidConverter.cc
  test/orange/g4org/SolidConverter.test.cc
Labels: bug, orange

#1173 Add optical collector for generating scintillation and Cerenkov distribution data
  src/celeritas/CMakeLists.txt
  src/celeritas/optical/OpticalCollector.cc
  src/celeritas/optical/OpticalCollector.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/GlobalTestBase.hh
  test/celeritas/ImportedDataTestBase.cc
  test/celeritas/ImportedDataTestBase.hh
  test/celeritas/LArSphereBase.hh
  test/celeritas/MockTestBase.hh
  test/celeritas/OnlyCoreTestBase.hh
  test/celeritas/SimpleTestBase.hh
  test/celeritas/geo/HeuristicGeoTestBase.hh
  test/celeritas/optical/OpticalCollector.test.cc
  test/geocel/data/lar-sphere.org.json
  test/geocel/data/lar-sphere.org.omn
Labels: enhancement, physics

#1195 Update CMake user preset
  scripts/cmake-presets/esseivaj.json
Labels: core, minor

#1189 Parse log levels from Geant4 scoped logger
  src/corecel/io/StringUtils.hh
  src/geocel/ScopedGeantLogger.cc
  test/geocel/CMakeLists.txt
  test/geocel/ScopedGeantLogger.test.cc
Labels: enhancement, external

#1187 Add neutron inelastic process
  src/celeritas/CMakeLists.txt
  src/celeritas/Types.hh
  src/celeritas/io/NeutronXsReader.cc
  src/celeritas/io/NeutronXsReader.hh
  src/celeritas/neutron/data/NeutronInelasticData.hh
  src/celeritas/neutron/executor/NeutronInelasticExecutor.hh
  src/celeritas/neutron/interactor/NeutronInelasticInteractor.hh
  src/celeritas/neutron/model/NeutronInelasticModel.cc
  src/celeritas/neutron/model/NeutronInelasticModel.cu
  src/celeritas/neutron/model/NeutronInelasticModel.hh
  src/celeritas/neutron/process/NeutronInelasticProcess.cc
  src/celeritas/neutron/process/NeutronInelasticProcess.hh
  src/celeritas/neutron/xs/NeutronInelasticMicroXsCalculator.hh
  src/celeritas/neutron/xs/NucleonNucleonXsCalculator.hh
  src/celeritas/phys/ProcessBuilder.cc
  test/celeritas/CMakeLists.txt
  test/celeritas/data/inel2
  test/celeritas/data/inel29
  test/celeritas/neutron/NeutronElastic.test.cc
  test/celeritas/neutron/NeutronInelastic.test.cc
Labels: enhancement, physics

#1197 Move unit enumeration to corecel and improve assertion flexibility
  app/celer-g4/ExceptionHandler.cc
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/ext/ScopedRootErrorHandler.cc
  src/celeritas/field/RZMapFieldInputIO.json.cc
  src/corecel/Assert.cc
  src/corecel/Assert.hh
  src/corecel/AssertIO.json.cc
  src/corecel/CMakeLists.txt
  src/corecel/Types.cc
  src/corecel/Types.hh
  src/corecel/data/PinnedAllocator.cc
  src/corecel/io/EnumStringMapper.hh
  src/geocel/ScopedGeantExceptionHandler.cc
  test/corecel/sys/MultiExceptionHandler.test.cc
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/ConvexRegion.test.cc
Labels: core, minor

#1194 Add basic raytrace components
  app/demo-rasterizer/CMakeLists.txt
  app/demo-rasterizer/ImageData.hh
  app/demo-rasterizer/ImageIO.cc
  app/demo-rasterizer/ImageStore.cc
  app/demo-rasterizer/ImageStore.hh
  app/demo-rasterizer/ImageTrackView.hh
  app/demo-rasterizer/RDemoKernel.cu
  app/demo-rasterizer/RDemoKernel.hh
  app/demo-rasterizer/RDemoRunner.cc
  app/demo-rasterizer/RDemoRunner.hh
  app/demo-rasterizer/demo-rasterizer.cc
  src/geocel/CMakeLists.txt
  src/geocel/rasterize/Image.cc
  src/geocel/rasterize/Image.hh
  src/geocel/rasterize/ImageData.hh
  src/geocel/rasterize/ImageIO.json.cc
  src/geocel/rasterize/ImageIO.json.hh
  src/geocel/rasterize/ImageInterface.hh
  src/geocel/rasterize/ImageLineView.hh
  src/geocel/rasterize/Raytracer.hh
  test/geocel/CMakeLists.txt
  test/geocel/MockGeoTrackView.hh
  test/geocel/rasterize/Image.test.cc
  test/geocel/rasterize/Raytracer.test.cc
Labels: enhancement, app

#1198 Add test for assertion messages
  src/corecel/Assert.cc
  src/corecel/Assert.hh
  src/corecel/io/Join.hh
  src/corecel/io/detail/ReprImpl.hh
  test/corecel/Assert.test.cc
  test/corecel/CMakeLists.txt
Labels: documentation, core

#1199 Fix build error with Geant4@11.1.0
  src/accel/FastSimulationOffload.cc
  src/accel/FastSimulationOffload.hh
Labels: bug, external

#1196 Add Windows/Linux no-dependency builds
  .github/workflows/build-fast.yml
  .github/workflows/build-spack.yml
  .github/workflows/build-ultralite.yml
  .github/workflows/doc.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .jenkins
  scripts/cmake-presets/ci-ubuntu-github.json
  scripts/cmake-presets/ci-windows-github.json
  scripts/cmake-presets/crusher.json
  scripts/cmake-presets/summit.json
  scripts/doc-requirements.txt
  scripts/env/crusher.sh
  scripts/env/summit.sh
Labels: documentation, enhancement

#1200 Fix no-JSON and Windows builds
  .github/workflows/build-ultralite.yml
  app/celer-g4/CMakeLists.txt
  src/celeritas/grid/PolyEvaluator.hh
  src/celeritas/optical/OpticalGenData.hh
  src/celeritas/optical/ScintillationPreGenerator.hh
  src/celeritas/random/distribution/NormalDistribution.hh
  src/celeritas/random/distribution/UniformRealDistribution.hh
  src/corecel/io/JsonPimpl.hh
  src/corecel/math/Algorithms.hh
  src/corecel/math/ArrayUtils.hh
  src/corecel/sys/ScopedSignalHandler.cc
  src/geocel/rasterize/Image.cc
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/orangeinp/detail/PostfixLogicBuilder.cc
  test/corecel/math/Algorithms.test.cc
Labels: bug, core

#1191 Add generic CPU/GPU raytracer for rasterizing
  app/data/two-boxes.gdml
  app/demo-rasterizer/CMakeLists.txt
  app/demo-rasterizer/demo-rasterizer.cc
  app/demo-rasterizer/simple-driver.py
  cmake/CeleritasUtils.cmake
  doc/appendix/development.rst
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantImporter.hh
  src/celeritas/geo/GeoFwd.hh
  src/celeritas/geo/GeoParams.hh
  src/geocel/CMakeLists.txt
  src/geocel/GeoTraits.hh
  src/geocel/g4/GeantGeoParams.hh
  src/geocel/g4/GeantGeoTraits.hh
  src/geocel/g4/RaytraceImager.cc
  src/geocel/g4/RaytraceImager.hh
  src/geocel/g4/detail/GeantGeoNavCollection.hh
  src/geocel/rasterize/RaytraceImager.cuda.t.hh
  src/geocel/rasterize/RaytraceImager.hh
  src/geocel/rasterize/RaytraceImager.nocuda.t.hh
  src/geocel/rasterize/RaytraceImager.t.hh
  src/geocel/rasterize/Raytracer.hh
  src/geocel/rasterize/detail/RaytraceExecutor.hh
  src/geocel/vg/RaytraceImager.cc
  src/geocel/vg/RaytraceImager.cu
  src/geocel/vg/RaytraceImager.hh
  src/geocel/vg/VecgeomGeoTraits.hh
  src/geocel/vg/detail/VecgeomNavCollection.hh
  src/orange/CMakeLists.txt
  src/orange/OrangeGeoTraits.hh
  src/orange/OrangeParams.cc
  src/orange/RaytraceImager.cc
  src/orange/RaytraceImager.cu
  src/orange/RaytraceImager.hh
  test/celeritas/user/Diagnostic.test.cc
  test/geocel/MockGeoTrackView.hh
  test/geocel/rasterize/Raytracer.test.cc
  test/orange/CMakeLists.txt
  test/orange/RaytraceImager.test.cc
Labels: enhancement, app

#1206 Fix gentrap orientation
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/detail/ConvexSurfaceState.cc
  src/orange/orangeinp/detail/PolygonUtils.hh
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/detail/PolygonUtils.test.cc
Labels: bug, orange

#1209 Refactor `ActionSequence` to be templated on Params
  src/celeritas/global/Stepper.hh
  src/celeritas/global/detail/ActionSequence.cc
  src/celeritas/global/detail/ActionSequence.hh
Labels: core, performance

#1208 Update Frontier installation
  .github/workflows/pr.yml
  scripts/cmake-presets/frontier.json
  scripts/env/frontier.sh
  src/corecel/device_runtime_api.h
  test/corecel/data/DeviceAllocation.test.cc
Labels: documentation, core

#1214 Add always-on basic diagnostics to celer-sim
  app/celer-sim/RunnerOutput.cc
  app/celer-sim/Transporter.cc
  app/celer-sim/Transporter.hh
Labels: enhancement, app

#1213 Add ORANGE converters for G4Trap and G4GenericTrap
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/ConvexRegion.hh
  test/orange/g4org/SolidConverter.test.cc
Labels: enhancement, orange
