Repository celeritas-project/celeritas, pull requests merged in 2024-05, with the labels that each got.

#1201 Add celer-geo app for visualizing geometry
  app/CMakeLists.txt
  app/celer-g4/CMakeLists.txt
  app/celer-geo/CMakeLists.txt
  app/celer-geo/GeoInput.cc
  app/celer-geo/GeoInput.hh
  app/celer-geo/README.md
  app/celer-geo/Runner.cc
  app/celer-geo/Runner.hh
  app/celer-geo/Types.cc
  app/celer-geo/Types.hh
  app/celer-geo/celer-geo.cc
  app/celer-geo/celer-geo.nojson.cc
  app/celer-geo/test-harness.py
  app/celer-sim/Runner.cc
  app/demo-rasterizer/demo-rasterizer.cc
  app/demo-rasterizer/simple-driver.py
  app/demo-rasterizer/visualize.py
  doc/main/usage.rst
Labels: enhancement, app

#1212 Fix polar angle sampling and Mott factor in Wentzel distribution
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/interactor/CoulombScatteringInteractor.hh
  src/celeritas/em/interactor/detail/PhysicsConstants.hh
  src/celeritas/em/model/CoulombScatteringModel.cc
  test/celeritas/em/CoulombScattering.test.cc
Labels: bug, physics

#1216 Release v0.4.3
  app/celer-sim/Transporter.cc
  doc/appendix/release-history/v0.4.rst
  scripts/cmake-presets/frontier.json
  scripts/env/frontier.sh
Labels: documentation

#1218 Add ORANGE converter for G4Trd
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/detail/PolygonUtils.hh
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/detail/PolygonUtils.test.cc
Labels: enhancement, orange

#1222 Add configure-time `CELERITAS_OPENMP` switch to change threading
  .github/workflows/build-ultralite.yml
  CMakeLists.txt
  app/celer-sim/Runner.cc
  app/celer-sim/celer-sim.cc
  scripts/ci/run-ci.sh
  src/CMakeLists.txt
  src/accel/LocalTransporter.cc
  src/celeritas/global/ActionLauncher.hh
  src/celeritas/track/detail/TrackSortUtils.cc
  src/celeritas/user/detail/SimpleCaloImpl.cc
  src/celeritas_config.h.in
  src/corecel/math/Atomics.hh
  src/corecel/sys/MultiExceptionHandler.cc
  src/geocel/rasterize/RaytraceImager.t.hh
Labels: core, performance

#1223 Write celer-sim results as 'null' when they're disabled
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerOutput.cc
  app/celer-sim/StepTimer.hh
  app/celer-sim/Transporter.cc
  app/celer-sim/Transporter.hh
  app/celer-sim/simple-driver.py
Labels: minor, app

#1221 Refactor trapezoid construction
  src/corecel/math/Quantity.hh
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/detail/PolygonUtils.hh
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/detail/PolygonUtils.test.cc
Labels: minor, orange

#1225 Propagate parent bounding boxes to ensure objects have finite extents
  src/orange/BoundingBoxUtils.hh
  src/orange/detail/BIHBuilder.cc
  src/orange/detail/BIHBuilder.hh
  src/orange/detail/BIHPartitioner.cc
  src/orange/orangeinp/ConvexSurfaceBuilder.cc
  src/orange/orangeinp/UnitProto.cc
  src/orange/orangeinp/UnitProto.hh
  src/orange/orangeinp/detail/CsgUnitBuilder.cc
  src/orange/orangeinp/detail/CsgUnitBuilder.hh
  src/orange/orangeinp/detail/InputBuilder.cc
  src/orange/orangeinp/detail/InputBuilder.hh
  src/orange/transform/NoTransformation.hh
  src/orange/transform/Transformation.cc
  src/orange/transform/Transformation.hh
  src/orange/transform/Translation.hh
  src/orange/transform/VariantTransform.cc
  src/orange/transform/VariantTransform.hh
  test/orange/BoundingBoxUtils.test.cc
  test/orange/Orange.test.cc
  test/orange/data/inputbuilder-incomplete-bb.org.json
  test/orange/detail/BIHBuilder.test.cc
  test/orange/g4org/ProtoConstructor.test.cc
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/ConvexSurfaceBuilder.test.cc
  test/orange/orangeinp/ObjectTestBase.cc
  test/orange/orangeinp/ObjectTestBase.hh
  test/orange/orangeinp/UnitProto.test.cc
  test/orange/transform/Transformation.test.cc
  test/orange/transform/Translation.test.cc
Labels: bug, orange

#1231 Make accel "auto flush" threshold configurable
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/RunInput.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  src/accel/LocalTransporter.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/accel/SetupOptionsMessenger.hh
Labels: enhancement, app, performance

#1232 Support twisted sides for the gentrap shape
  src/orange/orangeinp/ConvexRegion.cc
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/ConvexRegion.test.cc
Labels: enhancement, orange

#1235 Improve transport of single track on CPU
  app/celer-g4/GlobalSetup.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-sim/Runner.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/Transporter.cc
  app/celer-sim/Transporter.hh
  app/celer-sim/simple-driver.py
  src/accel/LocalTransporter.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/celeritas/global/Stepper.cc
  src/celeritas/global/Stepper.hh
  src/celeritas/global/detail/ActionSequence.cc
  src/celeritas/global/detail/ActionSequence.hh
Labels: core, performance

#1229 Add generic grid inserter to simplify construction
  src/celeritas/grid/GenericGridInserter.hh
  src/celeritas/optical/CerenkovParams.cc
  test/celeritas/CMakeLists.txt
  test/celeritas/grid/GenericGridBuilder.test.cc
  test/celeritas/grid/GenericGridInserter.test.cc
Labels: physics, minor

#1234 Split ORANGE test into subtests
  scripts/dev/iwyu-apple-clang.imp
  scripts/dev/run-iwyu.sh
  test/Test.hh
  test/celeritas_test.hh
  test/orange/CMakeLists.txt
  test/orange/Orange.test.cc
  test/orange/OrangeGeant.test.cc
  test/orange/OrangeGeoTestBase.hh
  test/orange/OrangeJson.test.cc
  test/orange/OrangeShift.test.cc
  test/orange/OrangeShift.test.cu
  test/orange/OrangeTestBase.hh
  test/orange/OrangeTypes.test.cc
  test/orange/RaytraceImager.test.cc
Labels: minor, orange

#1236 Add option to specify maximum number of substeps in field propagator
  app/celer-g4/GlobalSetup.cc
  app/celer-sim/Runner.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/accel/SetupOptionsMessenger.hh
  src/accel/SharedParams.cc
  src/celeritas/field/FieldDriver.hh
  src/celeritas/field/FieldDriverOptions.cc
  src/celeritas/field/FieldDriverOptions.hh
  src/celeritas/field/FieldDriverOptionsIO.json.cc
  src/celeritas/field/FieldPropagator.hh
  src/celeritas/track/SimParams.cc
  src/celeritas/track/SimParams.hh
Labels: enhancement, field, performance

#1241 Fix Spack CI
  .github/workflows/build-spack.yml
  scripts/spack.yaml
Labels: documentation

#1237 Regularize quadric surfaces to deduplicate opposing surfaces
  scripts/cmake-presets/goldfinger.json
  src/orange/surf/GeneralQuadric.cc
  src/orange/surf/GeneralQuadric.hh
  src/orange/surf/SimpleQuadric.cc
  src/orange/surf/SimpleQuadric.hh
  src/orange/surf/SurfaceSimplifier.cc
  src/orange/surf/SurfaceSimplifier.hh
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/surf/SurfaceSimplifier.test.cc
Labels: bug, orange

#1239 Update single and multiple Coulomb scattering configurations in `GeantPhysicsList`
  app/celer-sim/simple-driver.py
  doc/main/overview.rst
  src/celeritas/ext/GeantPhysicsOptions.cc
  src/celeritas/ext/GeantPhysicsOptions.hh
  src/celeritas/ext/detail/GeantPhysicsList.cc
  src/celeritas/ext/detail/GeantProcessImporter.cc
  test/celeritas/ext/GeantImporter.test.cc
Labels: minor, external

#1242 Add custom FTFP BERT physics list with Celeritas EM physics constructor
  app/celer-g4/RunInput.cc
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-g4/celer-g4.cc
  app/celer-g4/test-harness.py
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantSetup.cc
  src/celeritas/ext/detail/CelerEmPhysicsList.cc
  src/celeritas/ext/detail/CelerEmPhysicsList.hh
  src/celeritas/ext/detail/CelerEmStandardPhysics.cc
  src/celeritas/ext/detail/CelerEmStandardPhysics.hh
  src/celeritas/ext/detail/CelerFTFPBert.cc
  src/celeritas/ext/detail/CelerFTFPBert.hh
  src/celeritas/ext/detail/MuHadEmStandardPhysics.cc
  src/celeritas/ext/detail/MuHadEmStandardPhysics.hh
Labels: enhancement, external

#1228 Add RootPrimaryGenerator sampler to celer-sim
  app/celer-sim/Runner.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/RunnerInputIO.json.hh
  app/celer-sim/Transporter.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/Convert.root.hh
  src/celeritas/ext/RootImporter.cc
  src/celeritas/io/RootEventReader.cc
  src/celeritas/io/RootEventReader.hh
  src/celeritas/phys/RootEventSampler.cc
  src/celeritas/phys/RootEventSampler.hh
Labels: enhancement, external

#1246 Minor refactoring/niceties for upcoming polycone work
  app/celer-sim/Transporter.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/detail/GeantModelImporter.cc
  src/celeritas/grid/ValueGridBuilder.cc
  src/celeritas/optical/CerenkovDndxCalculator.hh
  src/celeritas/optical/OpticalPropertyParams.cc
  src/corecel/CMakeLists.txt
  src/corecel/cont/Array.hh
  src/corecel/grid/VectorUtils.cc
  src/corecel/grid/VectorUtils.hh
  src/corecel/math/Algorithms.hh
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectSurfaceBuilder.cc
  src/orange/orangeinp/IntersectSurfaceBuilder.hh
  src/orange/orangeinp/Solid.hh
  src/orange/orangeinp/detail/VolumeBuilder.cc
  src/orange/orangeinp/detail/VolumeBuilder.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/optical/Cerenkov.test.cc
  test/corecel/CMakeLists.txt
  test/corecel/grid/VectorUtils.test.cc
  test/corecel/math/Algorithms.test.cc
Labels: core, minor

#1230 Support combined single and multiple Coulomb scattering
  app/celer-sim/Runner.cc
  src/accel/SharedParams.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/em/data/CommonCoulombData.hh
  src/celeritas/em/data/CoulombScatteringData.hh
  src/celeritas/em/data/UrbanMscData.hh
  src/celeritas/em/data/WentzelOKVIData.hh
  src/celeritas/em/data/WentzelVIMscData.hh
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/executor/CoulombScatteringExecutor.hh
  src/celeritas/em/interactor/CoulombScatteringInteractor.hh
  src/celeritas/em/model/CoulombScatteringModel.cc
  src/celeritas/em/model/CoulombScatteringModel.cu
  src/celeritas/em/model/CoulombScatteringModel.hh
  src/celeritas/em/params/UrbanMscParams.cc
  src/celeritas/em/params/WentzelOKVIParams.cc
  src/celeritas/em/params/WentzelOKVIParams.hh
  src/celeritas/em/params/WentzelVIMscParams.cc
  src/celeritas/em/params/detail/MscParamsHelper.cc
  src/celeritas/em/params/detail/MscParamsHelper.hh
  src/celeritas/em/process/CoulombScatteringProcess.cc
  src/celeritas/em/process/CoulombScatteringProcess.hh
  src/celeritas/em/xs/MottRatioCalculator.hh
  src/celeritas/em/xs/WentzelHelper.hh
  src/celeritas/em/xs/WentzelTransportXsCalculator.hh
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantPhysicsOptions.hh
  src/celeritas/ext/GeantPhysicsOptionsIO.json.cc
  src/celeritas/ext/detail/CelerEmStandardPhysics.cc
  src/celeritas/global/CoreParams.cc
  src/celeritas/global/CoreParams.hh
  src/celeritas/global/CoreTrackData.hh
  src/celeritas/io/ImportData.cc
  src/celeritas/io/ImportData.hh
  src/celeritas/io/ImportParameters.hh
  src/celeritas/phys/ProcessBuilder.cc
  src/celeritas/phys/ProcessBuilder.hh
  test/celeritas/GlobalTestBase.cc
  test/celeritas/GlobalTestBase.hh
  test/celeritas/ImportedDataTestBase.cc
  test/celeritas/ImportedDataTestBase.hh
  test/celeritas/MockTestBase.hh
  test/celeritas/OnlyGeoTestBase.hh
  test/celeritas/SimpleTestBase.cc
  test/celeritas/SimpleTestBase.hh
  test/celeritas/em/CoulombScattering.test.cc
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/mat/Material.test.cc
Labels: enhancement, physics

#1249 Add support for using the build directory as an installation
  .github/workflows/build-spack.yml
  CMakeLists.txt
Labels: enhancement, core

#1243 Improve ccache use on github workflows
  .github/workflows/build-ultralite.yml
  .github/workflows/clear-cache.yml
  .github/workflows/cron_weekly.yml
  .github/workflows/merge_group.yml
  .github/workflows/pull_request.yml
  scripts/cmake-presets/ci-ubuntu-github.json
  scripts/cmake-presets/ci-windows-github.json
Labels: documentation

#1251 Add polyprism (G4Polyhedra)
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectRegion.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/PolySolid.cc
  src/orange/orangeinp/PolySolid.hh
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
Labels: enhancement, orange

#1253 Add automatic external fetching for JSON and Googletest
  .github/workflows/build-fast.yml
  CMakeLists.txt
  cmake/CeleritasAddTest.cmake
  cmake/CeleritasConfig.cmake.in
  cmake/CeleritasUtils.cmake
  cmake/Findnlohmann_json.cmake
  cmake/backport/3.18/FindCUDAToolkit.cmake
  doc/main/installation.rst
  external/CMakeLists.txt
  scripts/cmake-presets/ci-windows-github.json
  test/CMakeLists.txt
  test/accel/CMakeLists.txt
  test/celeritas/CMakeLists.txt
  test/corecel/CMakeLists.txt
  test/geocel/CMakeLists.txt
  test/orange/CMakeLists.txt
Labels: documentation, core

#1255 Fix windows test builds
  scripts/cmake-presets/ci-windows-github.json
  test/TestMacros.test.cc
  test/celeritas/em/CombinedBrem.test.cc
  test/celeritas/em/Fluctuation.test.cc
  test/celeritas/em/KleinNishina.test.cc
  test/celeritas/em/LivermorePE.test.cc
  test/celeritas/em/MollerBhabha.test.cc
  test/celeritas/em/MuBremsstrahlung.test.cc
  test/celeritas/em/SeltzerBerger.test.cc
  test/celeritas/em/UrbanMsc.test.cc
  test/celeritas/geo/HeuristicGeoTestBase.cc
  test/celeritas/grid/GenericGridInserter.test.cc
  test/celeritas/optical/Cerenkov.test.cc
  test/celeritas/random/RngEngine.test.cc
  test/celeritas/random/SequenceEngine.hh
  test/corecel/cont/Range.test.cc
  test/corecel/math/Algorithms.test.cc
  test/corecel/math/SoftEqual.test.cc
  test/geocel/MockGeoTrackView.hh
  test/orange/detail/BIHBuilder.test.cc
  test/orange/detail/BIHTraverser.test.cc
  test/orange/orangeinp/CsgTree.test.cc
  test/testdetail/TestMacrosImpl.hh
Labels: bug, core
