Repository celeritas-project/celeritas, pull requests merged in 2024-03, with the labels that each got.

#1135 Use correct form of enable_if for functions
  src/corecel/math/Algorithms.hh
  src/corecel/sys/MpiOperations.hh
Labels: core, minor

#1128 Add transformed object construction
  src/orange/CMakeLists.txt
  src/orange/orangeinp/Transformed.cc
  src/orange/orangeinp/Transformed.hh
  src/orange/orangeinp/detail/CsgUnitBuilder.cc
  src/orange/orangeinp/detail/VolumeBuilder.cc
  src/orange/orangeinp/detail/VolumeBuilder.hh
  src/orange/transform/detail/TransformTransformer.hh
  test/orange/CMakeLists.txt
  test/orange/orangeinp/Transformed.test.cc
Labels: enhancement, orange

#1130 Add CSG operations on objects
  src/orange/CMakeLists.txt
  src/orange/orangeinp/CsgObject.cc
  src/orange/orangeinp/CsgObject.hh
  src/orange/orangeinp/Shape.cc
  src/orange/orangeinp/detail/BoundingZone.hh
  src/orange/orangeinp/detail/CsgUnitBuilder.cc
  src/orange/orangeinp/detail/CsgUnitBuilder.hh
  src/orange/orangeinp/detail/VolumeBuilder.cc
  src/orange/orangeinp/detail/VolumeBuilder.hh
  test/orange/CMakeLists.txt
  test/orange/orangeinp/CsgObject.test.cc
  test/orange/orangeinp/detail/BoundingZone.test.cc
Labels: enhancement, orange

#1139 Fix single-precision soft equivalence for plane
  doc/CMakeLists.txt
  doc/_static/orange-surface-softeq-plane.png
  src/orange/orangeinp/ConvexSurfaceBuilder.cc
  src/orange/orangeinp/detail/LocalSurfaceInserter.cc
  src/orange/orangeinp/detail/LocalSurfaceInserter.hh
  src/orange/surf/RecursiveSimplifier.hh
  src/orange/surf/SoftSurfaceEqual.cc
  test/orange/orangeinp/detail/LocalSurfaceInserter.test.cc
  test/orange/surf/SoftSurfaceEqual.test.cc
Labels: bug, orange

#1131 Add transform simplifier
  src/orange/CMakeLists.txt
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/orangeinp/detail/CsgUnitBuilder.cc
  src/orange/orangeinp/detail/CsgUnitBuilder.hh
  src/orange/surf/SoftSurfaceEqual.hh
  src/orange/surf/SurfaceSimplifier.hh
  src/orange/transform/TransformSimplifier.cc
  src/orange/transform/TransformSimplifier.hh
  test/corecel/math/Algorithms.test.cc
  test/orange/CMakeLists.txt
  test/orange/MatrixUtils.test.cc
  test/orange/orangeinp/Transformed.test.cc
  test/orange/transform/TransformSimplifier.test.cc
Labels: enhancement, orange

#1141 Fix missing Werror in build-fast workflow
  .github/workflows/build-fast.yml
  test/corecel/data/DeviceAllocation.test.cc
Labels: bug, documentation

#1133 Add JSON output for CSG objects
  src/corecel/cont/SpanIO.json.hh
  src/corecel/io/JsonPimpl.hh
  src/orange/CMakeLists.txt
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/CsgObject.cc
  src/orange/orangeinp/CsgObject.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/ObjectInterface.hh
  src/orange/orangeinp/Shape.cc
  src/orange/orangeinp/Shape.hh
  src/orange/orangeinp/Transformed.cc
  src/orange/orangeinp/Transformed.hh
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/CsgObject.test.cc
  test/orange/orangeinp/Shape.test.cc
Labels: enhancement, orange

#1120 Add neutron elastic scattering physics
  src/celeritas/CMakeLists.txt
  src/celeritas/io/ImportData.hh
  src/celeritas/io/ImportProcess.cc
  src/celeritas/io/ImportProcess.hh
  src/celeritas/io/NeutronXsReader.cc
  src/celeritas/io/NeutronXsReader.hh
  src/celeritas/neutron/data/NeutronElasticData.hh
  src/celeritas/neutron/executor/ChipsNeutronElasticExecutor.hh
  src/celeritas/neutron/interactor/ChipsNeutronElasticInteractor.hh
  src/celeritas/neutron/interactor/detail/MomentumTransferSampler.hh
  src/celeritas/neutron/model/ChipsNeutronElasticModel.cc
  src/celeritas/neutron/model/ChipsNeutronElasticModel.cu
  src/celeritas/neutron/model/ChipsNeutronElasticModel.hh
  src/celeritas/neutron/process/NeutronElasticProcess.cc
  src/celeritas/neutron/process/NeutronElasticProcess.hh
  src/celeritas/neutron/xs/NeutronElasticMacroXsCalculator.hh
  src/celeritas/neutron/xs/NeutronElasticMicroXsCalculator.hh
  src/celeritas/phys/FourVector.hh
  src/celeritas/phys/PDGNumber.hh
  src/celeritas/phys/PhysicsData.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PhysicsTrackView.hh
  src/celeritas/phys/ProcessBuilder.cc
  src/celeritas/phys/ProcessBuilder.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/data/el2
  test/celeritas/data/el29
  test/celeritas/neutron/NeutronElastic.test.cc
  test/celeritas/neutron/NeutronTestBase.cc
  test/celeritas/neutron/NeutronTestBase.hh
  test/celeritas/phys/ProcessBuilder.test.cc
Labels: enhancement, physics

#1137 Add CSG solids
  doc/main/api/orange.rst
  src/orange/CMakeLists.txt
  src/orange/orangeinp/ConvexRegion.cc
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
  src/orange/orangeinp/detail/BoundingZone.cc
  test/orange/CMakeLists.txt
  test/orange/orangeinp/ConvexRegion.test.cc
  test/orange/orangeinp/Shape.test.cc
  test/orange/orangeinp/Solid.test.cc
Labels: enhancement, orange

#1140 Support safety and reentrant boundaries for multi-universe ORANGE
  src/orange/OrangeData.hh
  src/orange/OrangeParams.cc
  src/orange/OrangeTrackView.hh
  src/orange/detail/UnitInserter.cc
  test/orange/Orange.test.cc
  test/orange/data/testem3.org.json
  test/orange/data/testem3.org.omn
Labels: enhancement, orange

#1145 Add a common macroscopic cross section calculator
  src/celeritas/Quantities.hh
  src/celeritas/em/interactor/LivermorePEInteractor.hh
  src/celeritas/em/xs/LivermorePEMacroXsCalculator.hh
  src/celeritas/em/xs/LivermorePEMicroXsCalculator.hh
  src/celeritas/io/NeutronXsReader.cc
  src/celeritas/mat/ElementSelector.hh
  src/celeritas/neutron/xs/NeutronElasticMicroXsCalculator.hh
  src/celeritas/phys/MacroXsCalculator.hh
  src/celeritas/phys/PhysicsTrackView.hh
  test/celeritas/em/LivermorePE.test.cc
  test/celeritas/mat/ElementSelector.test.cc
  test/celeritas/neutron/NeutronElastic.test.cc
Labels: enhancement, physics

#1146 Add "minimal" and "safety plus" Urban MSC step limit algorithms
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/em/UrbanMscParams.cc
  src/celeritas/em/UrbanMscParams.hh
  src/celeritas/em/data/UrbanMscData.hh
  src/celeritas/em/msc/UrbanMsc.hh
  src/celeritas/em/msc/detail/UrbanMscMinimalStepLimit.hh
  src/celeritas/em/msc/detail/UrbanMscSafetyStepLimit.hh
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantPhysicsOptions.hh
  src/celeritas/ext/GeantPhysicsOptionsIO.json.cc
  src/celeritas/ext/detail/GeantPhysicsList.cc
  src/celeritas/io/ImportParameters.hh
  test/celeritas/data/four-steel-slabs.geant.json
  test/celeritas/em/UrbanMsc.test.cc
  test/celeritas/ext/GeantImporter.test.cc
Labels: enhancement, physics

#1151 Import scintillation particle data
  app/celer-dump-data.cc
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/RootInterfaceLinkDef.h
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportUnits.cc
  src/celeritas/io/ImportUnits.hh
  src/celeritas/io/detail/ImportDataConverter.cc
  src/celeritas/optical/ScintillationParams.cc
  src/celeritas/optical/ScintillationParams.hh
  src/celeritas/phys/PDGNumber.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/optical/ScintillationGenerator.test.cc
  test/geocel/data/lar-sphere.gdml
Labels: enhancement, external

#1148 Add proto-universe and CSG Unit construction
  src/orange/CMakeLists.txt
  src/orange/OrangeTrackView.hh
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/orangeinp/ConvexRegion.hh
  src/orange/orangeinp/ProtoInterface.hh
  src/orange/orangeinp/Transformed.cc
  src/orange/orangeinp/Transformed.hh
  src/orange/orangeinp/UnitProto.cc
  src/orange/orangeinp/UnitProto.hh
  src/orange/orangeinp/detail/CsgUnit.hh
  src/orange/orangeinp/detail/CsgUnitBuilder.cc
  src/orange/orangeinp/detail/CsgUnitBuilder.hh
  test/orange/CMakeLists.txt
  test/orange/orangeinp/CsgTestUtils.cc
  test/orange/orangeinp/CsgTreeUtils.test.cc
  test/orange/orangeinp/Transformed.test.cc
  test/orange/orangeinp/UnitProto.test.cc
  test/orange/surf/SoftSurfaceEqual.test.cc
Labels: enhancement, orange

#1152 Fix Geant4 build from 10.5–10.7 and example build for 11.1 onward
  .github/workflows/build-spack.yml
  README.md
  app/celer-g4/RootIO.cc
  cmake/CeleritasConfig.cmake.in
  cmake/FindGeant4.cmake
  example/accel/fastsim-offload.cc
  example/accel/simple-offload.cc
  example/accel/trackingmanager-offload.cc
  src/celeritas/ext/GeantImporter.cc
  src/geocel/GeantGeoUtils.cc
Labels: bug, external

#1154 Rename `Wentzel` model to `CoulombScattering` and add em/params subdirectory
  app/celer-sim/Runner.cc
  src/accel/AlongStepFactory.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/em/data/CoulombScatteringData.hh
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/executor/CoulombScatteringExecutor.hh
  src/celeritas/em/interactor/CoulombScatteringInteractor.hh
  src/celeritas/em/model/CoulombScatteringModel.cc
  src/celeritas/em/model/CoulombScatteringModel.cu
  src/celeritas/em/model/CoulombScatteringModel.hh
  src/celeritas/em/params/AtomicRelaxationParams.cc
  src/celeritas/em/params/AtomicRelaxationParams.hh
  src/celeritas/em/params/FluctuationParams.cc
  src/celeritas/em/params/FluctuationParams.hh
  src/celeritas/em/params/UrbanMscParams.cc
  src/celeritas/em/params/UrbanMscParams.hh
  src/celeritas/em/params/WentzelVIMscParams.cc
  src/celeritas/em/params/WentzelVIMscParams.hh
  src/celeritas/em/params/detail/MscParamsHelper.cc
  src/celeritas/em/params/detail/MscParamsHelper.hh
  src/celeritas/em/process/CoulombScatteringProcess.cc
  src/celeritas/em/process/CoulombScatteringProcess.hh
  src/celeritas/em/xs/MottRatioCalculator.hh
  src/celeritas/em/xs/WentzelHelper.hh
  src/celeritas/global/alongstep/AlongStepGeneralLinearAction.cc
  src/celeritas/global/alongstep/AlongStepGeneralLinearAction.cu
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.cc
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.cu
  src/celeritas/global/alongstep/AlongStepUniformMscAction.cc
  src/celeritas/global/alongstep/AlongStepUniformMscAction.cu
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/ProcessBuilder.cc
  test/celeritas/CMakeLists.txt
  test/celeritas/GeantTestBase.cc
  test/celeritas/em/CoulombScattering.test.cc
  test/celeritas/em/Fluctuation.test.cc
  test/celeritas/em/LivermorePE.test.cc
  test/celeritas/em/UrbanMsc.test.cc
  test/celeritas/global/AlongStep.test.cc
  test/celeritas/global/Stepper.test.cc
  test/celeritas/user/Diagnostic.test.cc
  test/celeritas/user/StepCollector.test.cc
Labels: core, minor

#1157 Add generic grid builder and refactor builder code that uses generic grids
  src/celeritas/CMakeLists.txt
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/em/data/LivermorePEData.hh
  src/celeritas/em/model/LivermorePEModel.cc
  src/celeritas/em/model/LivermorePEModel.hh
  src/celeritas/em/model/detail/LivermoreXsInserter.hh
  src/celeritas/em/msc/detail/UrbanMscHelper.hh
  src/celeritas/em/process/EPlusAnnihilationProcess.cc
  src/celeritas/grid/GenericCalculator.hh
  src/celeritas/grid/GenericGridBuilder.cc
  src/celeritas/grid/GenericGridBuilder.hh
  src/celeritas/grid/GenericGridData.hh
  src/celeritas/grid/ValueGridBuilder.cc
  src/celeritas/grid/ValueGridBuilder.hh
  src/celeritas/grid/ValueGridInserter.cc
  src/celeritas/grid/ValueGridInserter.hh
  src/celeritas/grid/ValueGridType.cc
  src/celeritas/grid/ValueGridType.hh
  src/celeritas/io/LivermorePEReader.cc
  src/celeritas/neutron/data/NeutronElasticData.hh
  src/celeritas/neutron/model/ChipsNeutronElasticModel.cc
  src/celeritas/neutron/model/ChipsNeutronElasticModel.hh
  src/celeritas/neutron/xs/NeutronElasticMicroXsCalculator.hh
  src/celeritas/optical/CerenkovData.hh
  src/celeritas/optical/CerenkovDndxCalculator.hh
  src/celeritas/optical/CerenkovGenerator.hh
  src/celeritas/optical/CerenkovParams.cc
  src/celeritas/optical/OpticalPropertyData.hh
  src/celeritas/optical/OpticalPropertyParams.cc
  src/celeritas/phys/ImportedProcessAdapter.cc
  src/celeritas/phys/Model.hh
  src/celeritas/phys/ParticleData.hh
  src/celeritas/phys/ParticleParams.cc
  src/celeritas/phys/PhysicsData.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PhysicsStepUtils.hh
  src/celeritas/phys/Process.hh
  src/celeritas/phys/detail/ParticleInserter.hh
  test/celeritas/grid/GenericCalculator.test.cc
  test/celeritas/grid/ValueGridBuilder.test.cc
  test/celeritas/neutron/NeutronElastic.test.cc
  test/celeritas/optical/Cerenkov.test.cc
  test/celeritas/optical/ScintillationGenerator.test.cc
Labels: physics, minor

#1136 Update CI images and workflow actions
  .github/workflows/build-docker.yml
  .github/workflows/build-fast.yml
  .github/workflows/build-spack.yml
  .github/workflows/doc.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  scripts/ci/spack.yaml
  scripts/cmake-presets/ci-centos-rocm.json
  scripts/cmake-presets/ci-ubuntu-cuda.json
  scripts/cmake-presets/ci-ubuntu-github.json
Labels: core

#1155 Add utilities for building `UnitInput` from `CsgTree`
  src/corecel/math/Algorithms.hh
  src/orange/CMakeLists.txt
  src/orange/OrangeData.hh
  src/orange/OrangeTrackView.hh
  src/orange/detail/UnitInserter.cc
  src/orange/orangeinp/CsgTree.hh
  src/orange/orangeinp/CsgTreeUtils.cc
  src/orange/orangeinp/CsgTreeUtils.hh
  src/orange/orangeinp/ProtoInterface.hh
  src/orange/orangeinp/UnitProto.cc
  src/orange/orangeinp/UnitProto.hh
  src/orange/orangeinp/detail/BoundingZone.cc
  src/orange/orangeinp/detail/BoundingZone.hh
  src/orange/orangeinp/detail/InternalSurfaceFlagger.cc
  src/orange/orangeinp/detail/InternalSurfaceFlagger.hh
  src/orange/orangeinp/detail/PostfixLogicBuilder.cc
  src/orange/orangeinp/detail/PostfixLogicBuilder.hh
  src/orange/orangeinp/detail/ProtoMap.cc
  src/orange/orangeinp/detail/ProtoMap.hh
  test/corecel/math/Algorithms.test.cc
  test/orange/CMakeLists.txt
  test/orange/orangeinp/CsgTreeUtils.test.cc
  test/orange/orangeinp/detail/ProtoMap.test.cc
Labels: enhancement, orange

#1160 Split ExplicitActionInterface to support optical data
  src/accel/AlongStepFactory.hh
  src/accel/SetupOptions.hh
  src/celeritas/geo/detail/BoundaryAction.hh
  src/celeritas/global/ActionInterface.hh
  src/celeritas/global/ActionRegistry.hh
  src/celeritas/global/alongstep/AlongStepGeneralLinearAction.hh
  src/celeritas/global/alongstep/AlongStepNeutralAction.hh
  src/celeritas/global/alongstep/AlongStepRZMapFieldMscAction.hh
  src/celeritas/global/alongstep/AlongStepUniformMscAction.hh
  src/celeritas/global/detail/ActionSequence.cc
  src/celeritas/global/detail/ActionSequence.hh
  src/celeritas/global/detail/ParamsTraits.hh
  src/celeritas/phys/Model.hh
  src/celeritas/phys/detail/DiscreteSelectAction.hh
  src/celeritas/phys/detail/PreStepAction.hh
  src/celeritas/track/ExtendFromPrimariesAction.hh
  src/celeritas/track/ExtendFromSecondariesAction.hh
  src/celeritas/track/InitializeTracksAction.hh
  src/celeritas/track/SortTracksAction.hh
  src/celeritas/user/ActionDiagnostic.hh
  src/celeritas/user/StepDiagnostic.hh
  src/celeritas/user/detail/StepGatherAction.hh
  test/celeritas/GlobalTestBase.hh
  test/celeritas/global/ActionRegistry.test.cc
  test/celeritas/global/AlongStepTestBase.cc
  test/celeritas/global/DummyAction.hh
  test/celeritas/track/MockInteractAction.hh
  test/celeritas/track/TrackInit.test.cc
  test/celeritas/track/TrackSort.test.cc
Labels: core, minor

#1165 Import WLS data for optical photons
  app/celer-dump-data.cc
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/RootInterfaceLinkDef.h
  src/celeritas/io/ImportOpticalMaterial.hh
  test/celeritas/ext/GeantImporter.test.cc
  test/geocel/data/lar-sphere.gdml
Labels: enhancement, external

#1153 Add particle scintillation data to `ScintillationParams`; Add `ScintillationPreGenerator`
  app/celer-dump-data.cc
  src/celeritas/Types.hh
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/RootInterfaceLinkDef.h
  src/celeritas/io/ImportData.hh
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportParameters.hh
  src/celeritas/mat/MaterialData.hh
  src/celeritas/optical/CerenkovData.hh
  src/celeritas/optical/CerenkovPreGenerator.hh
  src/celeritas/optical/OpticalDistributionData.hh
  src/celeritas/optical/OpticalPropertyData.hh
  src/celeritas/optical/OpticalPropertyParams.cc
  src/celeritas/optical/ScintillationData.hh
  src/celeritas/optical/ScintillationGenerator.hh
  src/celeritas/optical/ScintillationParams.cc
  src/celeritas/optical/ScintillationParams.hh
  src/celeritas/optical/ScintillationPreGenerator.hh
  src/celeritas/optical/Types.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/optical/Cerenkov.test.cc
  test/celeritas/optical/OpticalTestBase.cc
  test/celeritas/optical/OpticalTestBase.hh
  test/celeritas/optical/Scintillation.test.cc
  test/celeritas/optical/ScintillationGenerator.test.cc
Labels: enhancement, physics
