Repository celeritas-project/celeritas, pull requests merged in 2025-10, with the labels that each got.

#1997 Add covfie device test
  test/celeritas/CMakeLists.txt
  test/celeritas/field/Fields.test.cc
  test/celeritas/field/Fields.test.cu
  test/celeritas/field/Fields.test.hh
Labels: documentation, field

#1998 Simplify perfetto integration
  app/celer-g4/celer-g4.cc
  app/celer-sim/celer-sim.cc
  doc/usage/execution/profiling.rst
  src/accel/CartMapMagneticField.cc
  src/accel/LocalTransporter.cc
  src/corecel/sys/Environment.cc
  src/corecel/sys/Stream.cu
  src/corecel/sys/TracingSession.hh
  src/corecel/sys/TracingSession.perfetto.cc
  test/accel/IntegrationTestBase.cc
Labels: core, minor

#1980 Add SurfaceModelView to optical surface physics
  src/celeritas/Types.hh
  src/celeritas/optical/CoreTrackView.hh
  src/celeritas/optical/Types.hh
  src/celeritas/optical/action/ActionLauncher.device.hh
  src/celeritas/optical/action/AlongStepAction.cc
  src/celeritas/optical/action/AlongStepAction.cu
  src/celeritas/optical/action/TrackSlotExecutor.hh
  src/celeritas/optical/action/detail/PreStepExecutor.hh
  src/celeritas/optical/action/detail/PropagateExecutor.hh
  src/celeritas/optical/surface/SurfacePhysicsData.hh
  src/celeritas/optical/surface/SurfacePhysicsParams.cc
  src/celeritas/optical/surface/SurfacePhysicsTrackView.hh
  src/celeritas/optical/surface/SurfacePhysicsUtils.hh
  src/celeritas/optical/surface/SurfacePhysicsView.hh
  src/celeritas/optical/surface/SurfaceTraversalView.hh
  src/celeritas/optical/surface/detail/BuiltinSurfaceModelBuilder.hh
  src/celeritas/optical/surface/detail/InitBoundaryExecutor.hh
  src/celeritas/phys/SurfaceModel.hh
  src/celeritas/phys/SurfacePhysicsMapBuilder.cc
  src/celeritas/phys/SurfacePhysicsMapBuilder.hh
  src/celeritas/phys/SurfacePhysicsMapData.hh
  src/celeritas/phys/SurfacePhysicsMapView.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/optical/SurfacePhysics.test.cc
  test/celeritas/phys/SurfacePhysicsMap.test.cc
Labels: enhancement, physics

#2004 Add json event reader and writer
  app/celer-sim/RunnerInput.cc
  src/accel/LocalTransporter.cc
  src/accel/SetupOptions.hh
  src/accel/SetupOptionsMessenger.cc
  src/accel/SetupOptionsMessenger.hh
  src/accel/SharedParams.cc
  src/celeritas/CMakeLists.txt
  src/celeritas/io/JsonEventReader.cc
  src/celeritas/io/JsonEventReader.hh
  src/celeritas/io/JsonEventWriter.cc
  src/celeritas/io/JsonEventWriter.hh
  src/celeritas/setup/Events.cc
  test/celeritas/CMakeLists.txt
  test/celeritas/io/EventIOTestBase.hh
  test/celeritas/io/JsonEventIO.test.cc
Labels: enhancement, user

#2006 Add polished surface roughness model
  src/celeritas/CMakeLists.txt
  src/celeritas/optical/surface/SurfacePhysicsParams.cc
  src/celeritas/optical/surface/model/PolishedRoughnessExecutor.hh
  src/celeritas/optical/surface/model/PolishedRoughnessModel.cc
  src/celeritas/optical/surface/model/PolishedRoughnessModel.cu
  src/celeritas/optical/surface/model/PolishedRoughnessModel.hh
  test/celeritas/optical/SurfacePhysics.test.cc
Labels: enhancement, physics

#2005 Use empty MFP grids to have zero cross section for model/material
  .github/workflows/build-spack.yml
  src/celeritas/grid/NonuniformGridInserter.hh
  src/celeritas/optical/MfpBuilder.hh
  src/celeritas/optical/PhysicsStepUtils.hh
  src/celeritas/optical/PhysicsTrackView.hh
  src/celeritas/optical/model/RayleighModel.cc
  test/celeritas/optical/Physics.test.cc
Labels: physics, minor

#2007 Fix build issues with AMD ROCm
  scripts/cmake-presets/jlse.json
  src/celeritas/optical/interactor/WavelengthShiftGenerator.hh
  src/corecel/data/Collection.hh
  test/celeritas/ext/GeantSd.test.cc
Labels: bug, core

#2009 Support unnormalized selection for a discrete PDF
  doc/implementation/core-physics/rng.rst
  src/celeritas/em/executor/CoulombScatteringExecutor.hh
  src/celeritas/em/interactor/AtomicRelaxation.hh
  src/celeritas/mat/ElementView.hh
  src/celeritas/mat/MaterialView.hh
  src/celeritas/neutron/executor/ChipsNeutronElasticExecutor.hh
  src/celeritas/random/ElementSelector.hh
  src/celeritas/random/IsotopeSelector.hh
  src/corecel/cont/MiniStack.hh
  src/corecel/random/distribution/Selector.hh
  test/celeritas/random/ElementSelector.test.cc
  test/celeritas/random/IsotopeSelector.test.cc
  test/corecel/random/Selector.test.cc
Labels: physics, minor

#2000 Check vecgeom navindex table for consistency
  src/geocel/vg/VecgeomParams.cc
  src/geocel/vg/detail/VecgeomSetup.cu
  src/geocel/vg/detail/VecgeomSetup.hh
  src/geocel/vg/detail/VecgeomVersion.hh
Labels: enhancement, external

#1933 Implement Mie scattering
  doc/implementation/optical-physics.rst
  scripts/cmake-presets/mac147429.json
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/RootInterfaceLinkDef.h
  src/celeritas/ext/detail/GeantOpticalModelImporter.cc
  src/celeritas/io/ImportMaterial.hh
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportOpticalModel.cc
  src/celeritas/io/ImportOpticalModel.hh
  src/celeritas/optical/ImportedMaterials.cc
  src/celeritas/optical/ImportedMaterials.hh
  src/celeritas/optical/MieData.hh
  src/celeritas/optical/ModelImporter.cc
  src/celeritas/optical/ModelImporter.hh
  src/celeritas/optical/interactor/MieInteractor.hh
  src/celeritas/optical/model/MieExecutor.hh
  src/celeritas/optical/model/MieModel.cc
  src/celeritas/optical/model/MieModel.cu
  src/celeritas/optical/model/MieModel.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/optical/ImportedModelAdapter.test.cc
  test/celeritas/optical/Mie.test.cc
  test/celeritas/optical/OpticalMockTestBase.cc
Labels: enhancement, physics

#2019 Fix unsigned wraparound for `SurfaceTrackPosition`
  scripts/cmake-presets/jlse.json
  src/celeritas/optical/action/TrackSlotExecutor.hh
  src/celeritas/optical/surface/SurfacePhysicsUtils.hh
  src/celeritas/optical/surface/SurfacePhysicsView.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/optical/SurfacePhysicsUtils.test.cc
Labels: bug, physics
