Repository celeritas-project/celeritas, pull requests merged in 2025-06, with the labels that each got.

#1800 Refactor optical generation to reduce duplication
  app/celer-sim/Transporter.cc
  app/celer-sim/simple-driver.py
  src/celeritas/CMakeLists.txt
  src/celeritas/global/CoreParams.hh
  src/celeritas/global/Stepper.cc
  src/celeritas/optical/CoreState.cc
  src/celeritas/optical/CoreState.hh
  src/celeritas/optical/OpticalCollector.cc
  src/celeritas/optical/OpticalCollector.hh
  src/celeritas/optical/detail/OpticalLaunchAction.cc
  src/celeritas/optical/detail/OpticalLaunchAction.hh
  src/celeritas/optical/gen/CherenkovGenerator.hh
  src/celeritas/optical/gen/CherenkovOffload.hh
  src/celeritas/optical/gen/GeneratorData.hh
  src/celeritas/optical/gen/GeneratorDistributionData.hh
  src/celeritas/optical/gen/OffloadData.hh
  src/celeritas/optical/gen/OffloadParams.cc
  src/celeritas/optical/gen/OffloadParams.hh
  src/celeritas/optical/gen/ScintillationGenerator.hh
  src/celeritas/optical/gen/ScintillationOffload.hh
  src/celeritas/optical/gen/detail/CherenkovGeneratorAction.cc
  src/celeritas/optical/gen/detail/CherenkovGeneratorAction.hh
  src/celeritas/optical/gen/detail/CherenkovGeneratorExecutor.hh
  src/celeritas/optical/gen/detail/CherenkovOffloadAction.cc
  src/celeritas/optical/gen/detail/CherenkovOffloadAction.hh
  src/celeritas/optical/gen/detail/CherenkovOffloadExecutor.hh
  src/celeritas/optical/gen/detail/GeneratorAction.cc
  src/celeritas/optical/gen/detail/GeneratorAction.cu
  src/celeritas/optical/gen/detail/GeneratorAction.hh
  src/celeritas/optical/gen/detail/GeneratorExecutor.hh
  src/celeritas/optical/gen/detail/GeneratorTraits.hh
  src/celeritas/optical/gen/detail/OffloadAction.cc
  src/celeritas/optical/gen/detail/OffloadAction.cu
  src/celeritas/optical/gen/detail/OffloadAction.hh
  src/celeritas/optical/gen/detail/OffloadGatherAction.cc
  src/celeritas/optical/gen/detail/OffloadGatherAction.cu
  src/celeritas/optical/gen/detail/OffloadGatherAction.hh
  src/celeritas/optical/gen/detail/OffloadGatherExecutor.hh
  src/celeritas/optical/gen/detail/OpticalGenAlgorithms.hh
  src/celeritas/optical/gen/detail/ScintGeneratorAction.cc
  src/celeritas/optical/gen/detail/ScintGeneratorAction.cu
  src/celeritas/optical/gen/detail/ScintGeneratorAction.hh
  src/celeritas/optical/gen/detail/ScintOffloadAction.cc
  src/celeritas/optical/gen/detail/ScintOffloadAction.cu
  src/celeritas/optical/gen/detail/ScintOffloadAction.hh
  src/celeritas/optical/gen/detail/ScintOffloadExecutor.hh
  src/celeritas/track/CoreStateCounters.hh
  src/celeritas/track/ExtendFromPrimariesAction.cc
  test/celeritas/optical/Cherenkov.test.cc
  test/celeritas/optical/OpticalCollector.test.cc
  test/celeritas/optical/OpticalTestBase.hh
  test/celeritas/optical/Scintillation.test.cc
Labels: physics, minor

#1803 Move optical photon generation to optical stepping loop
  app/celer-sim/simple-driver.py
  src/celeritas/global/CoreState.cc
  src/celeritas/global/CoreState.hh
  src/celeritas/optical/CoreState.hh
  src/celeritas/optical/OpticalCollector.cc
  src/celeritas/optical/detail/OpticalLaunchAction.cc
  src/celeritas/optical/detail/OpticalLaunchAction.hh
  src/celeritas/optical/gen/detail/GeneratorAction.cc
  src/celeritas/optical/gen/detail/GeneratorAction.cu
  src/celeritas/optical/gen/detail/GeneratorAction.hh
  src/celeritas/optical/gen/detail/GeneratorExecutor.hh
  test/celeritas/optical/OpticalCollector.test.cc
Labels: physics, minor

#1802 Print Celeritas configuration options when loading downstream
  CMakeLists.txt
  cmake/CeleritasConfig.cmake.in
  cmake/CeleritasOptionUtils.cmake
Labels: enhancement, core

#1809 Make Geant4 volume IDs consistent wrt load order
  app/celer-g4/SensitiveDetector.cc
  src/geocel/GeantGeoParams.cc
  src/geocel/GeantGeoParams.hh
  src/geocel/GeoParamsInterface.hh
  src/geocel/g4/GeantGeoData.hh
  src/geocel/g4/GeantGeoTrackView.hh
  test/geocel/GenericGeoTestInterface.cc
  test/geocel/GenericGeoTestInterface.hh
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/g4/GeantGeoTestBase.hh
Labels: minor, geometry

#1805 Make optical `max_step_iters` configurable and properly reset state after aborting
  app/celer-sim/RunnerInput.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/simple-driver.py
  src/celeritas/inp/Tracking.hh
  src/celeritas/optical/CoreState.cc
  src/celeritas/optical/CoreState.hh
  src/celeritas/optical/OpticalCollector.cc
  src/celeritas/optical/OpticalCollector.hh
  src/celeritas/optical/detail/OpticalLaunchAction.cc
  src/celeritas/optical/detail/OpticalLaunchAction.hh
  src/celeritas/optical/gen/CherenkovGenerator.hh
  src/celeritas/setup/Problem.cc
Labels: enhancement, physics

#1806 Fix orange polyhedron orientation and roundoff error
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectRegion.hh
  test/geocel/CMakeLists.txt
  test/geocel/GeoTests.cc
  test/geocel/GeoTests.hh
  test/geocel/data/polyhedra.gdml
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/vg/Vecgeom.test.cc
  test/orange/OrangeGeant.test.cc
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/IntersectRegion.test.cc
  test/testdetail/TestMacrosImpl.hh
Labels: bug, orange

#1807 Add reflection to ORANGE
  doc/_static/zotero.bib
  src/orange/MatrixUtils.cc
  src/orange/MatrixUtils.hh
  src/orange/g4org/PhysicalVolumeConverter.cc
  src/orange/g4org/SolidConverter.cc
  src/orange/g4org/SolidConverter.hh
  src/orange/g4org/Transformer.hh
  src/orange/surf/detail/SurfaceTransformer.cc
  src/orange/transform/Transformation.cc
  src/orange/transform/Transformation.hh
  test/geocel/GeoTests.cc
  test/orange/MatrixUtils.test.cc
  test/orange/OrangeGeant.test.cc
  test/orange/g4org/SolidConverter.test.cc
  test/orange/surf/detail/SurfaceTransformer.test.cc
  test/orange/transform/Transformation.test.cc
Labels: enhancement, orange

#1814 Add options for enabling Cherenkov and scintillation
  app/celer-sim/RunnerInput.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  src/celeritas/inp/Physics.hh
  src/celeritas/setup/Problem.cc
Labels: enhancement, physics

#1819 Replace EXPECT_VEC_CLOSE with soft comparator
  test/TestMacros.hh
  test/TestMacros.test.cc
  test/celeritas/field/FieldSubstepper.test.cc
  test/celeritas/field/Integrators.test.cc
  test/celeritas/optical/Rayleigh.test.cc
  test/geocel/GenericGeoTestInterface.cc
  test/testdetail/TestMacrosImpl.hh
Labels: documentation, minor

#1818 Rearrange generic geo test interface
  test/geocel/CMakeLists.txt
  test/geocel/GenericGeoResults.cc
  test/geocel/GenericGeoResults.hh
  test/geocel/GenericGeoTestBase.hh
  test/geocel/GenericGeoTestBase.t.hh
  test/geocel/GenericGeoTestInterface.cc
  test/geocel/GenericGeoTestInterface.hh
  test/geocel/GeoTests.cc
Labels: minor, geometry

#1804 Add surface normal calculations in GeoTrackView
  src/geocel/g4/GeantGeoTrackView.hh
  src/geocel/vg/VecgeomTrackView.hh
  src/orange/OrangeTrackView.hh
  test/orange/OrangeJson.test.cc
Labels: enhancement, geometry

#1816 Add WLS model class, generator, and executor and support second WLS process
  app/celer-sim/simple-driver.py
  app/data/lar-sphere.gdml
  src/celeritas/CMakeLists.txt
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/detail/GeantOpticalModelImporter.cc
  src/celeritas/ext/detail/OpticalPhysics.cc
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportOpticalModel.cc
  src/celeritas/io/ImportOpticalModel.hh
  src/celeritas/optical/ImportedMaterials.cc
  src/celeritas/optical/ImportedMaterials.hh
  src/celeritas/optical/ImportedModelAdapter.cc
  src/celeritas/optical/Interaction.hh
  src/celeritas/optical/ModelImporter.cc
  src/celeritas/optical/ModelImporter.hh
  src/celeritas/optical/WavelengthShiftData.hh
  src/celeritas/optical/interactor/WavelengthShiftGenerator.hh
  src/celeritas/optical/interactor/WavelengthShiftInteractor.hh
  src/celeritas/optical/model/WavelengthShiftExecutor.hh
  src/celeritas/optical/model/WavelengthShiftModel.cc
  src/celeritas/optical/model/WavelengthShiftModel.cu
  src/celeritas/optical/model/WavelengthShiftModel.hh
  src/celeritas/optical/model/WavelengthShiftParams.cc
  src/celeritas/optical/model/WavelengthShiftParams.hh
  test/celeritas/LArSphereBase.hh
  test/celeritas/data/lar-sphere.geant.json
  test/celeritas/data/lar-sphere.root
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/optical/ImportedModelAdapter.test.cc
  test/celeritas/optical/InteractorHostTestBase.cc
  test/celeritas/optical/InteractorHostTestBase.hh
  test/celeritas/optical/ModelImporter.test.cc
  test/celeritas/optical/OpticalMockTestBase.cc
  test/celeritas/optical/WavelengthShift.test.cc
  test/geocel/data/lar-sphere.gdml
Labels: enhancement, physics

#1822 Support configurable WLS reemission time distribution
  app/celer-sim/simple-driver.py
  src/celeritas/CMakeLists.txt
  src/celeritas/Types.cc
  src/celeritas/Types.hh
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantOpticalPhysicsOptions.cc
  src/celeritas/ext/GeantOpticalPhysicsOptions.hh
  src/celeritas/ext/GeantOpticalPhysicsOptionsIO.json.cc
  src/celeritas/ext/detail/OpticalPhysics.cc
  src/celeritas/io/ImportOpticalMaterial.hh
  src/celeritas/io/ImportParameters.hh
  src/celeritas/optical/ModelImporter.cc
  src/celeritas/optical/ModelImporter.hh
  src/celeritas/optical/WavelengthShiftData.hh
  src/celeritas/optical/interactor/WavelengthShiftGenerator.hh
  src/celeritas/optical/model/WavelengthShiftModel.cc
  src/celeritas/optical/model/WavelengthShiftModel.hh
  test/celeritas/LArSphereBase.hh
  test/celeritas/data/four-steel-slabs.root
  test/celeritas/data/lar-sphere.geant.json
  test/celeritas/data/lar-sphere.root
  test/celeritas/data/simple-cms.root
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/ext/RootJsonDumper.test.cc
  test/celeritas/optical/WavelengthShift.test.cc
Labels: enhancement, physics

#1821 Add volume params to represent Geant4 volume graph
  app/celer-sim/RunnerInput.cc
  doc/CMakeLists.txt
  doc/_static/zotero.bib
  doc/implementation/geometry.rst
  doc/implementation/geometry/geant4.rst
  doc/implementation/geometry/interfaces.rst
  doc/usage/input/model.rst
  src/celeritas/em/data/UrbanMscData.hh
  src/celeritas/field/detail/NotImplementedField.hh
  src/celeritas/global/DebugIO.json.cc
  src/celeritas/inp/Model.hh
  src/celeritas/inp/Problem.hh
  src/celeritas/optical/gen/detail/MatScintSpecInserter.hh
  src/celeritas/setup/FrameworkInput.cc
  src/celeritas/setup/Problem.cc
  src/celeritas/setup/StandaloneInput.cc
  src/corecel/math/Algorithms.hh
  src/geocel/CMakeLists.txt
  src/geocel/GeantGeoParams.cc
  src/geocel/GeantGeoParams.hh
  src/geocel/GeantGeoUtils.cc
  src/geocel/GeoParamsInterface.hh
  src/geocel/Types.hh
  src/geocel/VolumeParams.cc
  src/geocel/VolumeParams.hh
  src/geocel/g4/GeantGeoData.hh
  src/geocel/inp/Model.hh
  src/geocel/vg/VecgeomParams.cc
  src/geocel/vg/VecgeomParams.hh
  src/orange/OrangeData.hh
  src/orange/OrangeParams.hh
  src/orange/g4org/Volume.hh
  test/celeritas/phys/Physics.test.cc
  test/celeritas/track/TrackInit.test.cc
  test/corecel/OpaqueIdUtils.hh
  test/geocel/CMakeLists.txt
  test/geocel/GenericGeoResults.cc
  test/geocel/GenericGeoResults.hh
  test/geocel/GenericGeoTestBase.hh
  test/geocel/GenericGeoTestBase.t.hh
  test/geocel/GenericGeoTestInterface.hh
  test/geocel/GeoTests.cc
  test/geocel/GeoTests.hh
  test/geocel/Volume.test.cc
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/vg/Vecgeom.test.cc
  test/orange/OrangeGeant.test.cc
Labels: enhancement, geometry

#1826 Use variant set for uniform field input
  src/accel/AlongStepFactory.cc
  src/accel/SetupOptions.cc
  src/celeritas/field/UniformFieldParams.cc
  src/celeritas/inp/Field.hh
  test/celeritas/global/AlongStep.test.cc
Labels: field

#1828 Add in-situ cartesian field map construction from Geant4
  src/accel/CMakeLists.txt
  src/accel/CartMapMagneticField.cc
  src/accel/CartMapMagneticField.hh
  src/accel/CylMapMagneticField.cc
  src/accel/detail/MagneticFieldUtils.hh
  src/celeritas/field/CartMapFieldInput.hh
  src/celeritas/field/CartMapFieldParams.covfie.cc
  test/celeritas/field/Fields.test.cc
Labels: enhancement, field, external

#1812 Add geometry surface definitions to runtime
  doc/_static/zotero.bib
  doc/implementation/geometry/interfaces.rst
  src/celeritas/user/SDData.hh
  src/celeritas/user/SDParams.hh
  src/geocel/CMakeLists.txt
  src/geocel/SurfaceData.hh
  src/geocel/SurfaceParams.cc
  src/geocel/SurfaceParams.hh
  src/geocel/Types.hh
  src/geocel/VolumeSurfaceView.hh
  src/geocel/detail/SurfaceParamsBuilder.cc
  src/geocel/detail/SurfaceParamsBuilder.hh
  src/geocel/inp/Model.hh
  test/celeritas/user/DetectorSteps.test.cc
  test/corecel/cont/LabelIdMultiMapUtils.hh
  test/geocel/CMakeLists.txt
  test/geocel/Surface.test.cc
  test/geocel/Volume.test.cc
Labels: enhancement, external

#1827 Refactor solid Z slab as Truncated object
  doc/implementation/geometry/orange.rst
  src/orange/CMakeLists.txt
  src/orange/OrangeTypes.cc
  src/orange/OrangeTypes.hh
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectRegion.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/Shape.cc
  src/orange/orangeinp/Shape.hh
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
  src/orange/orangeinp/Truncated.cc
  src/orange/orangeinp/Truncated.hh
  src/orange/orangeinp/detail/BuildIntersectRegion.cc
  test/geocel/GenericGeoResults.cc
  test/orange/CMakeLists.txt
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/IntersectRegion.test.cc
  test/orange/orangeinp/IntersectTestResult.cc
  test/orange/orangeinp/IntersectTestResult.hh
  test/orange/orangeinp/Solid.test.cc
  test/orange/orangeinp/Truncated.test.cc
Labels: minor, orange

#1831 Use start/stop instead of start/interior for azimuthal wedge
  doc/implementation/geometry/orange.rst
  src/celeritas/inp/Scoring.hh
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectRegion.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/IntersectRegion.test.cc
  test/orange/orangeinp/PolySolid.test.cc
  test/orange/orangeinp/Solid.test.cc
  test/orange/orangeinp/detail/LocalSurfaceInserter.test.cc
Labels: minor, orange

#1834 Flush optical tracks at the end of core stepping loop
  app/celer-sim/Transporter.cc
  src/celeritas/optical/ModelImporter.cc
  src/celeritas/optical/OpticalCollector.hh
  src/celeritas/optical/detail/OpticalLaunchAction.cc
  src/celeritas/optical/detail/OpticalLaunchAction.hh
  test/celeritas/optical/OpticalCollector.test.cc
Labels: bug, physics

#1832 Add polar truncation for sphere shape
  src/corecel/math/Turn.hh
  src/orange/g4org/SolidConverter.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectRegion.hh
  src/orange/orangeinp/ObjectIO.json.cc
  src/orange/orangeinp/ObjectIO.json.hh
  src/orange/orangeinp/Solid.cc
  src/orange/orangeinp/Solid.hh
  src/orange/surf/ConeAligned.cc
  src/orange/surf/ConeAligned.hh
  test/corecel/math/Quantity.test.cc
  test/orange/g4org/SolidConverter.test.cc
  test/orange/orangeinp/IntersectRegion.test.cc
  test/orange/orangeinp/PolySolid.test.cc
  test/orange/orangeinp/Solid.test.cc
Labels: enhancement, orange

#1835 Reconstruct additional data in G4Track
  src/celeritas/ext/detail/HitProcessor.cc
Labels: bug, external
