Repository celeritas-project/celeritas, pull requests merged in 2025-05, with the labels that each got.

#1767 Require covfie v0.14
  CMakeLists.txt
  cmake/CeleritasConfig.cmake.in
  external/CMakeLists.txt
  src/CMakeLists.txt
Labels: documentation, minor, external

#1771 Patch covfie shasum
  external/CMakeLists.txt
Labels: bug, documentation

#1765 Replace hand-rolled hooks with pre-commit and CI
  .gersemirc
  .github/workflows/deploy-pages.yml
  .github/workflows/doc.yml
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yaml
  CONTRIBUTING.rst
  doc/development/style.rst
  doc/usage/installation.rst
  scripts/dev/install-commit-hooks.sh
  scripts/dev/post-commit.git-clang-format
  scripts/dev/pre-commit.validate-source
Labels: documentation

#1770 Fail early if find-or-builtin package is missing
  cmake/CeleritasOptionUtils.cmake
Labels: core, minor

#1774 Add ostream support for enums
  src/celeritas/em/params/detail/MscParamsHelper.cc
  src/celeritas/ext/detail/EmStandardPhysics.cc
  src/celeritas/field/RZMapFieldInputIO.json.cc
  src/celeritas/grid/NonuniformGridBuilder.cc
  src/celeritas/grid/RangeGridCalculator.cc
  src/celeritas/grid/detail/GridUtils.hh
  src/celeritas/io/EventWriter.cc
  src/celeritas/io/ImportData.cc
  src/celeritas/io/NeutronXsReader.cc
  src/celeritas/optical/ImportedModelAdapter.cc
  src/celeritas/optical/ModelImporter.cc
  src/celeritas/phys/ImportedModelAdapter.cc
  src/celeritas/phys/ImportedProcessAdapter.cc
  src/celeritas/phys/ImportedProcessAdapter.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PrimaryGeneratorOptions.cc
  src/celeritas/phys/ProcessBuilder.cc
  src/celeritas/setup/Problem.cc
  src/celeritas/track/SortTracksAction.cc
  src/corecel/io/EnumStringMapper.hh
  src/corecel/io/JsonUtils.json.cc
  src/corecel/io/OutputRegistry.cc
  test/corecel/io/EnumStringMapper.test.cc
Labels: core, minor

#1769 Add missing typename and const to CartMapField
  src/celeritas/field/CartMapFieldData.covfie.hh
  src/celeritas/field/CartMapFieldParams.covfie.cc
  src/celeritas/field/CartMapFieldParams.hh
Labels: field, minor

#1777 Rename logspace to geomspace
  src/celeritas/ext/detail/GeantModelImporter.cc
  src/corecel/grid/VectorUtils.cc
  src/corecel/grid/VectorUtils.hh
  test/corecel/grid/VectorUtils.test.cc
Labels: core, minor

#1780 Fix table size in physics construction
  src/celeritas/phys/PhysicsData.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PhysicsTrackView.hh
  test/celeritas/phys/Physics.test.cc
Labels: bug, physics

#1772 Add default values for track slots and initializer capacity
  app/celer-g4/RunInput.hh
  app/celer-g4/RunInputIO.json.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  example/geant4/simple-offload.cc
  src/accel/LocalTransporter.cc
  src/accel/SetupOptions.cc
  src/accel/SetupOptions.hh
  src/celeritas/track/ExtendFromSecondariesAction.cc
  src/corecel/io/JsonUtils.json.hh
Labels: enhancement, user

#1781 Use correct types for physics grids
  src/celeritas/Types.hh
  src/celeritas/grid/ElementCdfCalculator.cc
  src/celeritas/grid/EnergyLossCalculator.hh
  src/celeritas/grid/InverseRangeCalculator.hh
  src/celeritas/grid/RangeCalculator.hh
  src/celeritas/phys/ImportedModelAdapter.cc
  src/celeritas/phys/ImportedProcessAdapter.cc
  src/celeritas/phys/Model.hh
  src/celeritas/phys/PhysicsData.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PhysicsParamsOutput.cc
  src/celeritas/phys/PhysicsStepUtils.hh
  src/celeritas/phys/PhysicsTrackView.hh
  src/celeritas/phys/Process.hh
  src/celeritas/random/TabulatedElementSelector.hh
  test/celeritas/grid/CalculatorTestBase.cc
  test/celeritas/grid/CalculatorTestBase.hh
  test/celeritas/grid/ElementCdfCalculator.test.cc
  test/celeritas/grid/InverseRangeCalculator.test.cc
  test/celeritas/grid/RangeCalculator.test.cc
  test/celeritas/grid/SplineCalculator.test.cc
  test/celeritas/grid/UniformLogGridCalculator.test.cc
  test/celeritas/grid/XsCalculator.test.cc
  test/celeritas/phys/MockModel.cc
  test/celeritas/phys/MockProcess.cc
  test/celeritas/phys/Physics.test.cc
  test/celeritas/phys/Physics.test.cu
  test/celeritas/phys/Physics.test.hh
Labels: physics, minor

#1779 Add tests and documentation for Tsai nuclear screening functions
  doc/development/style.rst
  doc/implementation/em-physics/brems.rst
  src/celeritas/em/data/RelativisticBremData.hh
  src/celeritas/em/model/RelativisticBremModel.cc
  src/celeritas/em/xs/RBDiffXsCalculator.hh
  src/celeritas/em/xs/ScreeningFunctions.hh
  test/Test.hh
  test/celeritas/CMakeLists.txt
  test/celeritas/em/xs/ScreeningFunctions.test.cc
Labels: physics, minor

#1776 Fix and refactor maximum cross section energy calculation for integral approach
  scripts/cmake-presets/jlse.json
  src/celeritas/CMakeLists.txt
  src/celeritas/phys/PhysicsOptions.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PhysicsParams.hh
  src/celeritas/phys/PhysicsStepUtils.hh
  src/celeritas/phys/detail/EnergyMaxXsCalculator.cc
  src/celeritas/phys/detail/EnergyMaxXsCalculator.hh
  test/celeritas/ImportedDataTestBase.cc
  test/celeritas/ImportedDataTestBase.hh
  test/celeritas/MockTestBase.cc
  test/celeritas/MockTestBase.hh
  test/celeritas/global/StepperGeant.test.cc
  test/celeritas/phys/MockProcess.cc
  test/celeritas/phys/MockProcess.hh
  test/celeritas/phys/Physics.test.cc
  test/celeritas/phys/PhysicsStepUtils.test.cc
Labels: bug, physics

#1782 Edit user manual and fix PDF build
  CONTRIBUTING.rst
  doc/CMakeLists.txt
  doc/_python/monkeysphinx.py
  doc/_static/ornltm-extract.sty
  doc/_static/zotero.bib
  doc/appendix/release-history.rst
  doc/backmatter/acknowledgments.rst
  doc/backmatter/references.rst
  doc/conf.py
  doc/development/coding.rst
  doc/development/style.rst
  doc/development/testing.rst
  doc/implementation/core-physics.rst
  doc/implementation/core-physics/import.rst
  doc/implementation/core-physics/limits.rst
  doc/implementation/core-physics/propagation.rst
  doc/implementation/em-physics.rst
  doc/implementation/em-physics/coulomb.rst
  doc/implementation/em-physics/slowing-down.rst
  doc/implementation/geant4-interface/low-level.rst
  doc/implementation/optical-physics.rst
  doc/index.rst
  doc/licenses/additional.rst
  doc/licenses/code.rst
  doc/licenses/documentation.rst
  doc/release-history/v0.1.rst
  doc/release-history/v0.2.rst
  doc/release-history/v0.3.rst
  doc/release-history/v0.4.rst
  doc/release-history/v0.5.rst
  doc/release-history/v0.6.rst
  doc/usage/execution/utilities.rst
  scripts/dev/celeritas-gen.py
  src/accel/AlongStepFactory.hh
  src/accel/SetupOptions.hh
  src/celeritas/em/data/SeltzerBergerData.hh
  src/celeritas/em/distribution/EnergyLossGammaDistribution.hh
  src/celeritas/em/distribution/EnergyLossGaussianDistribution.hh
  src/celeritas/em/distribution/EnergyLossUrbanDistribution.hh
  src/celeritas/em/distribution/MuPPEnergyDistribution.hh
  src/celeritas/em/distribution/TsaiUrbanDistribution.hh
  src/celeritas/em/distribution/WentzelDistribution.hh
  src/celeritas/em/interactor/CoulombScatteringInteractor.hh
  src/celeritas/em/xs/EPlusGGMacroXsCalculator.hh
  src/celeritas/em/xs/LivermorePEMicroXsCalculator.hh
  src/celeritas/em/xs/ScreeningFunctions.hh
  src/celeritas/field/UniformZField.hh
  src/celeritas/field/ZHelixIntegrator.hh
  src/celeritas/grid/XsCalculator.hh
  src/celeritas/io/ImportParameters.hh
  src/celeritas/neutron/interactor/detail/CascadeCollider.hh
  src/celeritas/optical/CherenkovGenerator.hh
  src/celeritas/optical/model/RayleighMfpCalculator.hh
  src/celeritas/phys/PhysicsStepUtils.hh
  src/corecel/random/distribution/PoissonDistribution.hh
  src/orange/MatrixUtils.cc
  src/orange/orangeinp/IntersectRegion.cc
  src/orange/orangeinp/IntersectRegion.hh
  src/orange/surf/detail/InvoluteSolver.hh
Labels: documentation

#1784 Simplify nested join nodes
  src/orange/orangeinp/detail/NodeSimplifier.cc
  test/orange/g4org/ProtoConstructor.test.cc
  test/orange/orangeinp/CsgTestUtils.cc
  test/orange/orangeinp/CsgTestUtils.hh
  test/orange/orangeinp/CsgTree.test.cc
  test/orange/orangeinp/CsgTreeUtils.test.cc
  test/orange/orangeinp/PolySolid.test.cc
  test/orange/orangeinp/Solid.test.cc
Labels: minor, orange, performance

#1785 Store hardwired model data by reference
  src/celeritas/em/data/BetheHeitlerData.hh
  src/celeritas/em/data/CombinedBremData.hh
  src/celeritas/em/data/EPlusGGData.hh
  src/celeritas/em/data/KleinNishinaData.hh
  src/celeritas/em/data/LivermorePEData.hh
  src/celeritas/em/data/MollerBhabhaData.hh
  src/celeritas/em/data/RayleighData.hh
  src/celeritas/em/data/RelativisticBremData.hh
  src/celeritas/em/data/SeltzerBergerData.hh
  src/celeritas/em/executor/CombinedBremExecutor.hh
  src/celeritas/em/executor/LivermorePEExecutor.hh
  src/celeritas/em/executor/RayleighExecutor.hh
  src/celeritas/em/executor/RelativisticBremExecutor.hh
  src/celeritas/em/executor/SeltzerBergerExecutor.hh
  src/celeritas/em/interactor/CombinedBremInteractor.hh
  src/celeritas/em/interactor/LivermorePEInteractor.hh
  src/celeritas/em/interactor/RayleighInteractor.hh
  src/celeritas/em/interactor/RelativisticBremInteractor.hh
  src/celeritas/em/interactor/SeltzerBergerInteractor.hh
  src/celeritas/em/interactor/detail/RBEnergySampler.hh
  src/celeritas/em/model/LivermorePEModel.cc
  src/celeritas/em/model/LivermorePEModel.hh
  src/celeritas/em/xs/LivermorePEMicroXsCalculator.hh
  src/celeritas/em/xs/RBDiffXsCalculator.hh
  src/celeritas/phys/PhysicsData.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/PhysicsParams.hh
  src/celeritas/phys/PhysicsStepView.hh
  src/celeritas/phys/PhysicsTrackView.hh
  test/celeritas/em/Rayleigh.test.cc
  test/celeritas/em/SeltzerBerger.test.cc
Labels: physics, minor

#1786 Remove combined bremsstrahlung model
  app/celer-sim/RunnerInput.cc
  app/celer-sim/RunnerInput.hh
  app/celer-sim/RunnerInputIO.json.cc
  app/celer-sim/simple-driver.py
  src/celeritas/CMakeLists.txt
  src/celeritas/em/data/CombinedBremData.hh
  src/celeritas/em/executor/CombinedBremExecutor.hh
  src/celeritas/em/interactor/CombinedBremInteractor.hh
  src/celeritas/em/model/CombinedBremModel.cc
  src/celeritas/em/model/CombinedBremModel.cu
  src/celeritas/em/model/CombinedBremModel.hh
  src/celeritas/em/process/BremsstrahlungProcess.cc
  src/celeritas/em/process/BremsstrahlungProcess.hh
  src/celeritas/inp/PhysicsProcess.hh
  src/celeritas/phys/PhysicsParams.cc
  src/celeritas/phys/ProcessBuilder.cc
  src/celeritas/phys/ProcessBuilder.hh
  src/celeritas/setup/Problem.cc
  test/celeritas/CMakeLists.txt
  test/celeritas/ImportedDataTestBase.cc
  test/celeritas/ImportedDataTestBase.hh
  test/celeritas/LArSphereBase.hh
  test/celeritas/TestEm3Base.hh
  test/celeritas/em/CombinedBrem.test.cc
  test/celeritas/global/StepperGeant.test.cc
  test/celeritas/phys/ProcessBuilder.test.cc
  test/celeritas/user/Diagnostic.test.cc
Labels: physics, removal

#1787 Support CUDA 12.9 and NVCC with cxxstd=20
  CMakeLists.txt
  CMakePresets.json
  scripts/build.sh
  scripts/cmake-presets/wildstyle.json
  scripts/env/wildstyle.sh
  scripts/spack.yaml
  src/celeritas/alongstep/AlongStepUniformMscAction.hh
  src/celeritas/field/RZMapFieldInput.hh
  src/celeritas/optical/CherenkovGenerator.hh
  src/celeritas/optical/detail/CherenkovGeneratorExecutor.hh
  src/celeritas/optical/detail/ScintGeneratorExecutor.hh
  src/corecel/cont/detail/RangeImpl.hh
  src/orange/detail/BIHIntersectingVolFinder.hh
  src/orange/orangeinp/detail/ConvexHullFinder.hh
  test/celeritas/GeantTestBase.cc
  test/celeritas/user/Diagnostic.test.cc
  test/testdetail/TestMacrosImpl.hh
Labels: bug, core

#1788 Document geometry hierarchy and move EM table
  doc/_static/macros.tex
  doc/_static/zotero.bib
  doc/conf.py
  doc/implementation/core-physics/problem-def.rst
  doc/implementation/em-physics.rst
  doc/implementation/em-physics/summary.rst
  doc/implementation/geometry.rst
  doc/implementation/geometry/geant4.rst
  doc/implementation/geometry/orange.rst
  doc/implementation/geometry/vecgeom.rst
  doc/index.rst
  doc/usage/installation.rst
  src/geocel/GeantGeoUtils.cc
  src/geocel/GeantGeoUtils.hh
  src/geocel/Types.hh
Labels: documentation

#1791 Fix `sincospi` on device
  src/celeritas/optical/ParticleTrackView.hh
  src/corecel/math/Algorithms.hh
  test/corecel/CMakeLists.txt
  test/corecel/math/Algorithms.test.cc
  test/corecel/math/Algorithms.test.cu
  test/corecel/math/Algorithms.test.hh
Labels: bug, physics

#1758 Round all floating point numbers in test output to a few digits
  scripts/cmake-presets/wildstyle.json
  test/celeritas/ext/GeantImporter.test.cc
  test/celeritas/field/FieldPropagator.test.cc
  test/celeritas/global/AlongStep.test.cc
  test/celeritas/global/KernelContextException.test.cc
  test/celeritas/global/Stepper.test.cc
  test/corecel/StringSimplifier.cc
  test/corecel/StringSimplifier.hh
  test/corecel/StringSimplifier.test.cc
  test/geocel/vg/Vecgeom.test.cc
Labels: documentation

#1792 Complete optical stepping loop
  src/celeritas/optical/SimData.hh
  src/celeritas/optical/SimTrackView.hh
  src/celeritas/optical/action/detail/AlongStepExecutor.hh
  src/celeritas/optical/action/detail/PreStepExecutor.hh
  src/celeritas/optical/gen/CherenkovGenerator.hh
  src/celeritas/optical/gen/ScintillationGenerator.hh
  src/celeritas/optical/interactor/RayleighInteractor.hh
  test/celeritas/optical/OpticalCollector.test.cc
Labels: enhancement, physics

#1794 Move core track initialization to `CoreTrackView`
  src/celeritas/global/CoreTrackView.hh
  src/celeritas/optical/CoreTrackView.hh
  src/celeritas/track/ExtendFromPrimariesAction.cc
  src/celeritas/track/InitializeTracksAction.cc
  src/celeritas/track/TrackInitData.hh
  src/celeritas/track/detail/InitTracksExecutor.hh
  src/celeritas/track/detail/ProcessSecondariesExecutor.hh
  src/geocel/Types.hh
  src/geocel/g4/GeantGeoTrackView.hh
  src/geocel/rasterize/Raytracer.hh
  src/geocel/vg/VecgeomTrackView.hh
  src/orange/OrangeTrackView.hh
  test/geocel/CheckedGeoTrackView.hh
  test/geocel/CheckedGeoTrackView.t.hh
  test/orange/Orange.test.cc
  test/orange/OrangeJson.test.cc
Labels: core, minor

#1793 Add make_orthogonal helper function
  .github/workflows/build-fast.yml
  scripts/cmake-presets/goldfinger.json
  src/celeritas/optical/gen/ScintillationGenerator.hh
  src/celeritas/optical/interactor/RayleighInteractor.hh
  src/corecel/math/Algorithms.hh
  src/corecel/math/ArrayUtils.hh
  src/corecel/random/distribution/RejectionSampler.hh
  test/celeritas/optical/OpticalCollector.test.cc
  test/celeritas/optical/Rayleigh.test.cc
  test/corecel/math/Algorithms.test.cc
  test/corecel/math/ArrayUtils.test.cc
  test/corecel/random/SequenceEngine.hh
  test/corecel/random/distribution/RejectionSampler.test.cc
Labels: core, minor

#1795 Fix assigning parent ID to track initializer
  src/celeritas/track/detail/InitTracksExecutor.hh
  src/celeritas/track/detail/ProcessPrimariesExecutor.hh
  src/celeritas/track/detail/ProcessSecondariesExecutor.hh
  test/celeritas/track/TrackInit.test.cc
Labels: bug, core

#1799 Extend auxiliary data helpers to support aux state data without params
  doc/_static/zotero.bib
  doc/implementation/data-model.rst
  src/corecel/data/AuxStateData.hh
  src/corecel/data/CollectionStateStore.hh
Labels: core, minor

#1796 Keep persistent GeantGeoParams for geometry translation
  app/celer-g4/celer-g4.cc
  app/celer-g4/test-harness.py
  app/celer-geo/Runner.cc
  src/accel/GeantSimpleCalo.cc
  src/accel/GeantSimpleCalo.hh
  src/accel/Logger.cc
  src/accel/SharedParams.cc
  src/accel/SharedParams.hh
  src/celeritas/ext/GeantImporter.cc
  src/celeritas/ext/GeantImporter.hh
  src/celeritas/ext/GeantSetup.cc
  src/celeritas/ext/GeantSetup.hh
  src/celeritas/ext/GeantVolumeMapper.cc
  src/celeritas/ext/GeantVolumeMapper.hh
  src/celeritas/geo/GeoParams.hh
  src/celeritas/setup/FrameworkInput.cc
  src/celeritas/setup/FrameworkInput.hh
  src/celeritas/setup/StandaloneInput.cc
  src/celeritas/setup/StandaloneInput.hh
  src/geocel/CMakeLists.txt
  src/geocel/GeantGeoParams.cc
  src/geocel/GeantGeoParams.hh
  src/geocel/GeantGeoUtils.cc
  src/geocel/GeantGeoUtils.hh
  src/geocel/g4/GeantGeoParams.cc
  src/geocel/g4/RaytraceImager.cc
  src/geocel/g4/SafetyImager.cc
  src/orange/OrangeParams.cc
  src/orange/OrangeParams.hh
  src/orange/g4org/Converter.cc
  src/orange/g4org/Converter.hh
  src/orange/g4org/LogicalVolumeConverter.cc
  src/orange/g4org/LogicalVolumeConverter.hh
  src/orange/g4org/PhysicalVolumeConverter.cc
  src/orange/g4org/PhysicalVolumeConverter.hh
  src/orange/g4org/ProtoConstructor.cc
  src/orange/g4org/ProtoConstructor.hh
  src/orange/g4org/Volume.hh
  test/celeritas/GeantTestBase.cc
  test/celeritas/ext/GeantSd.test.cc
  test/celeritas/ext/GeantVolumeMapper.test.cc
  test/celeritas/ext/detail/NaviTouchableUpdater.test.cc
  test/geocel/GeantGeoUtils.test.cc
  test/geocel/GeantImportVolumeResult.cc
  test/geocel/GeantImportVolumeResult.hh
  test/geocel/GenericGeoTestBase.t.hh
  test/geocel/GenericGeoTestInterface.cc
  test/geocel/g4/GeantGeo.test.cc
  test/geocel/g4/GeantGeoTestBase.cc
  test/geocel/g4/GeantGeoTestBase.hh
  test/geocel/vg/Vecgeom.test.cc
  test/orange/g4org/Converter.test.cc
  test/orange/g4org/GeantLoadTestBase.cc
  test/orange/g4org/GeantLoadTestBase.hh
  test/orange/g4org/PhysicalVolumeConverter.test.cc
  test/orange/g4org/ProtoConstructor.test.cc
Labels: minor, geometry
